@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Navigations
@using SupplyChain.Client.Pages.Visor_Pdf 
@using SupplyChain.Client.Pages.CDM
@page "/ingenieria/consulta-formulas"
@inherits BaseConsultaFormulas

<SfSpinner @ref="refSpinner" Label="Cargando..." Type="SpinnerType.Fabric" @bind-Visible="@VisibleSpinner"></SfSpinner>

<SfToast ID="toast_default" @ref="ToastObj">
    <ToastPosition X="Center" Y="Top"></ToastPosition>
</SfToast>
<SfTab @ref="@refSfTab" LoadOn="ContentLoad.Init" ShowCloseButton="@mostrarCerrarTab" >
    <TabEvents Removing="@((a)=> TabEliminando(a))" Removed="@((a)=> TabEliminado(a))"></TabEvents>
    <TabItems>
        <TabItem>
            <HeaderTemplate>
                <div>@tituloTabFormulas</div>
            </HeaderTemplate>
            <ContentTemplate>
                <SfGrid @ref="@GridProdForm" DataSource="@DataOrdeProductosFormulas" AllowPaging="true" AllowFiltering="true" AllowSorting="true" ID="ProdForm"
                        GridLines="GridLine.Both" Toolbar="@(new List<string>() { "ExcelExport" })" AllowExcelExport="true">
                    <GridPageSettings PageSizes="true"></GridPageSettings>
                    <GridEvents TValue="vIngenieriaProductosFormulas"
                                QueryCellInfo="(async(args)=> await QueryCellInfoHandler(args))"
                                CommandClicked="(async(args)=> await CommandClickHandler(args))"
                                OnToolbarClick="ToolbarProdFormClickHandler">

                    </GridEvents>
                    <GridColumns>
                        <GridColumn Field=@nameof(vIngenieriaProductosFormulas.CG_PROD) HeaderText="Producto" Width="120"></GridColumn>
                        <GridColumn Field=@nameof(vIngenieriaProductosFormulas.DES_PROD) HeaderText="Descripcion" Width="150"></GridColumn>
                        <GridColumn Field=@nameof(vIngenieriaProductosFormulas.TIENE_FORM) HeaderText="Tiene Formula" TextAlign="TextAlign.Right"
                                    Width="50" DisplayAsCheckBox="true"></GridColumn>
                        <GridColumn Field=@nameof(vIngenieriaProductosFormulas.FORM_ACTIVA) HeaderText="Formula Activa" TextAlign="TextAlign.Right"
                                    Width="50" DisplayAsCheckBox="true"></GridColumn>
                        <GridColumn HeaderText="Despiece" Width="30px">
                            <GridCommandColumns>
                                <GridCommandColumn Type="CommandButtonType.None" Title="Despiece"
                                                   ButtonOption="@(new CommandButtonOptions()
                                                           {
                                                               IconCss = "fa fa-list-ul black", Content="", CssClass="botonGrilla"
                                                           })" />
                            </GridCommandColumns>
                        </GridColumn>
                        <GridColumn HeaderText="Plano" Width="30px">
                            <GridCommandColumns>
                                <GridCommandColumn Type="CommandButtonType.None" Title="Ver Plano"
                                                   ButtonOption="@(new CommandButtonOptions()
                                                           {
                                                               IconCss = "fa fa-eye", Content="", CssClass="botonGrilla"
                                                           })" />
                            </GridCommandColumns>
                        </GridColumn>
                        <GridColumn HeaderText="Programas" Width="30px">
                            <GridCommandColumns>
                                <GridCommandColumn Type="CommandButtonType.None" Title="Ver Programas"
                                                   ButtonOption="@(new CommandButtonOptions()
                                                           {
                                                               IconCss = "fa fa-eye", Content="", CssClass="botonGrilla"
                                                           })" />
                            </GridCommandColumns>
                        </GridColumn>
                    </GridColumns>
                </SfGrid>
            </ContentTemplate>
        </TabItem>
        @foreach (TabData Item in TabItems)
        {
            if (Item.Header.ToLower().Contains("plano"))
            {
                <TabItem>
                    <HeaderTemplate>
                        <div>@(Item.Header)</div>
                    </HeaderTemplate>
                    <ContentTemplate>
                        <VerEnsayos Accion="RUTAOF" Codigo=@Item.CodigoInsumo></VerEnsayos>
                    </ContentTemplate>
                </TabItem>
            }

            if (Item.Header.ToLower().Contains("programas"))
            {
                <TabItem>
                    <HeaderTemplate>
                        <div>@(Item.Header)</div>
                    </HeaderTemplate>
                    <ContentTemplate>
                        <Pdf accion="RUTACNC" codigo=@Item.CodigoInsumo></Pdf>
                    </ContentTemplate>
                </TabItem>
            }

        }

        @*DIALOG PARA DESPIECE*@
        <SfDialog @ref="DialogDespieceRef" Width="80%" Height="550px" IsModal="true" ShowCloseIcon="true" Visible="false">
            <DialogTemplates>
                <Header><p class="card-header badge badge-info text-white">DESPIECE DEL PRODUCTO: @ProdSelected.CG_PROD.Trim() - @ProdSelected.DES_PROD </p><hr /></Header>
                <Content>
                    <div class="col-lg-12 control-section mt-2">
                        <div class="form-row">
                            <SfGrid @ref="GridDespiece" DataSource="@listaDespiece" ID="Despiece"
                                    GridLines="GridLine.Both" AllowReordering="true" AllowResizing="true"
                                    Height="250px" Width="100%" Toolbar="@Toolbaritems" AllowExcelExport="true">
                                <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Single"></GridSelectionSettings>
                                <GridEvents TValue="DespiecePlanificacion" OnToolbarClick="ToolbarClickHandler"></GridEvents>
                                <GridTemplates>
                                    <DetailTemplate>
                                        @{
                                            var insumo = context as DespiecePlanificacion;
                                        }

                                        <SfTab Height="350" HeaderPlacement="HeaderPosition.Top">
                                            <TabItems>
                                                <TabItem>
                                                    <ChildContent>
                                                        <TabHeader Text="Stock"></TabHeader>
                                                    </ChildContent>
                                                    <ContentTemplate>
                                                        <div style="padding:25px">
                                                            <SfGrid ID="grdDespieceStock    Prev" Width="870px" TValue="ResumenStock"
                                                                    AllowPaging="true" AllowResizing="true" AllowReordering="true"
                                                                    DataSource="@insumo.ResumenStocks">
                                                                <GridPageSettings PageSize="6"></GridPageSettings>
                                                                <GridColumns>
                                                                    <GridColumn Field=@nameof(ResumenStock.CG_ART) HeaderText="Insumo" Width="150"> </GridColumn>
                                                                    <GridColumn Field=@nameof(ResumenStock.STOCK) HeaderText="Stock" Width="110"></GridColumn>
                                                                    <GridColumn Field=@nameof(ResumenStock.CG_DEP) HeaderText="Deposito" Width="110"></GridColumn>
                                                                    <GridColumn Field=@nameof(ResumenStock.SERIE) HeaderText="Serie" Width="150"></GridColumn>
                                                                    <GridColumn Field=@nameof(ResumenStock.LOTE) HeaderText="Lote" Width="150"></GridColumn>
                                                                    <GridColumn Field=@nameof(ResumenStock.DESPACHO) HeaderText="Despacho"></GridColumn>
                                                                </GridColumns>
                                                            </SfGrid>
                                                        </div>
                                                    </ContentTemplate>
                                                </TabItem>
                                            </TabItems>
                                        </SfTab>
                                    </DetailTemplate>
                                </GridTemplates>
                                <GridColumns>
                                    <GridColumn Field=@nameof(DespiecePlanificacion.CG_SE) HeaderText="Semi Elaborado" TextAlign="TextAlign.Left" Width="110px"></GridColumn>
                                    <GridColumn Field=@nameof(DespiecePlanificacion.CG_MAT) HeaderText="Materia prima" TextAlign="TextAlign.Left" Width="150px"></GridColumn>
                                    <GridColumn Field=@nameof(DespiecePlanificacion.DES_PROD) HeaderText="Descripción" TextAlign="TextAlign.Left" Width="150px"></GridColumn>
                                    <GridColumn Field=@nameof(DespiecePlanificacion.STOCK) Format="N2" HeaderText="Stock" TextAlign="TextAlign.Left" Width="150px"></GridColumn>
                                    <GridColumn Field=@nameof(DespiecePlanificacion.CANT_MAT) Format="N2" HeaderText="Cantidad Necesaria de la Orden" TextAlign="TextAlign.Left" Width="150px"></GridColumn>
                                    <GridColumn Field=@nameof(DespiecePlanificacion.COMP_DE_ENTRADA) Format="N2" HeaderText="Comprometido Entrada" TextAlign="TextAlign.Left" Width="150px"></GridColumn>
                                    <GridColumn Field=@nameof(DespiecePlanificacion.STOCK_CORREGIDO) Format="N2" HeaderText="Stock Corregido" TextAlign="TextAlign.Left" Width="150px"></GridColumn>

                                    <GridColumn Field=@nameof(DespiecePlanificacion.SALDO) Format="N2" HeaderText="Saldo de la Orden" TextAlign="TextAlign.Left" Width="150px"></GridColumn>
                                    <GridColumn Field=@nameof(DespiecePlanificacion.CANT_PLANEADAS) Format="N2" HeaderText="Cantidad Ordenes planeadas" TextAlign="TextAlign.Left" Width="150px"></GridColumn>
                                    <GridColumn Field=@nameof(DespiecePlanificacion.SALDO_PLANEADAS) Format="N2" HeaderText="Saldo Ordenes planeadas" TextAlign="TextAlign.Left" Width="150px"></GridColumn>
                                    <GridColumn Field=@nameof(DespiecePlanificacion.CANT_TOTAL) Format="N2" HeaderText="Cantidad Emitidas + Planeadas" TextAlign="TextAlign.Left" Width="150px"></GridColumn>
                                    <GridColumn Field=@nameof(DespiecePlanificacion.SALDO_TOTAL) Format="N2" HeaderText="Saldo Emitidas + Planeadas" TextAlign="TextAlign.Left" Width="150px"></GridColumn>
                                </GridColumns>
                            </SfGrid>
                        </div>
                    </div>

                </Content>
            </DialogTemplates>
        </SfDialog>
    </TabItems>
</SfTab>






<style>
    .e-grid .e-gridcontent .e-rowcell.rojas {
        background-color: #fd8787;
    }
    .e-grid .e-gridcontent .e-rowcell.amarillas {
        background-color: #c3ab29;
    }
</style>