@page "/Abms/procedimientos"
@using SupplyChain.Client.Pages.ABM.Procedimientos
@using SupplyChain.Shared
@using SupplyChain

@inherits PageProcunProcesosBase

<div class="row">
    <div class="col-12">
        <ComboVistasGrilla AppName="@APPNAME" StateApp="@state"
            OnReiniciar="(async()=>await OnReiniciarGrilla())"
            OnVistaSelected="(async(v)=>await OnVistaSeleccionada(v))" />
    </div>
</div>

<div class="row">

    <div class="col-12">
        <SfToast ID="toast_default" @ref="@ToastObj">
            <ToastPosition X="Center" Y="Top"></ToastPosition>
        </SfToast>

        <SfGrid AllowReordering="true" ShowColumnChooser="true" ShowColumnMenu="true" AllowResizing="true"
                @ref="refGrid" DataSource="@protabs" Width="100%" Toolbar="Toolbaritems"
            AllowExcelExport="true" AllowGrouping="true" ID="grdOpe" AllowFiltering="true" AllowSorting="true" AllowPaging="true" GridLines="GridLine.Both">
            <GridSelectionSettings CheckboxOnly="true" Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
            <GridPageSettings PageSize="10" PageSizes="true"></GridPageSettings>
            <GridEvents  OnActionBegin="OnActionBeginHandler" OnToolbarClick="OnToolbarHandler" OnActionComplete="OnActionCompleteHandler" TValue="Protab"></GridEvents>
            <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>
            <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" AllowEditOnDblClick="true"
                ShowDeleteConfirmDialog="false" Mode="EditMode.Dialog">
            </GridEditSettings>

            <GridColumns>
                <GridColumn Type="ColumnType.CheckBox" Width="5"></GridColumn>
                <GridColumn Field=@nameof(Protab.Id) HeaderText="PROCESO" TextAlign="TextAlign.Left"  AllowFiltering="true" Width="10px"></GridColumn>
                
                <GridColumn Field=@nameof(Protab.DESCRIP) HeaderText="DESCRIPCION" TextAlign="TextAlign.Left" Width="50px"></GridColumn>
               
              
            </GridColumns> 
            <SfSpinner @ref="refSpinner" Type="SpinnerType.Fabric" Size="50" @bind-Visible="@SpinnerVisible"></SfSpinner>
        </SfGrid>

    </div>
    @if (popupFormVisible)
    {
        
    }
     <FormProcunProcesos ProcunProceso="procedimientoSeleccionado" Show="popupFormVisible" OnCerrar="OnCerraDialog"
                     OnGuardar="@(async(p)=>await Guardar(p))"></FormProcunProcesos> 
</div>