@using Microsoft.AspNetCore.Identity
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Data
@using SupplyChain.Client.Shared.BuscadorCliente
@using SupplyChain.Client.Shared.BuscadorProducto
@using SupplyChain.Client.Shared.BuscadorPrecios
@using SupplyChain.Client.Pages.ABM.Precios
@using Syncfusion.Blazor.Inputs

@inherits FormUsuarioBase

<SfToast ID="toast_default" @ref="ToastObj">
    <ToastPosition X="Center" Y="Top"></ToastPosition>
</SfToast>


<SfDialog @bind-Visible="Show" IsModal="true" Width="70%" Height="@HeightDialog" ShowCloseIcon="true">
    <DialogEvents Closed="OnCerrarDialog"></DialogEvents>
    <DialogTemplates>
        <Header>
            @if (string.IsNullOrEmpty(ApplicationUser.Id))
            {
                <h2 class="e-dlg-header-titulo">Nueva Usuario</h2>
            }
            else
            {
                <h2 class="e-dlg-header-titulo">Detalle Usuario:&nbsp;&nbsp;@ApplicationUser.UserName&nbsp;</h2>
            }
        </Header>
        <Content>
            <EditForm id="form-usuario" Model="@ApplicationUser" OnValidSubmit="@(async()=> await Guardar())">
                <DataAnnotationsValidator />
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            @if (ApplicationUser.Foto != null && ApplicationUser.Foto.Length > 0)
                            {

                                <div class="profile-img">
                                    <img class="profile-pic" src="@($"data:image/png;base64,{Convert.ToBase64String(ApplicationUser.Foto)}")" alt="Image" />
                                </div>
                            }
                            else
                            {
                                <div class="profile-img">
                                    <img src="img1-150x150.png" alt="user" class="profile-pic" />
                                </div>
                            }

                            <SfUploader ID="UploadFiles" AutoUpload="true" DirectoryUpload="false" AllowedExtensions=".jpg, .png"
                                        ShowFileList="true" AllowMultiple="false">
                                <UploaderEvents ValueChange="OnChangeFileUpload"></UploaderEvents>

                            </SfUploader>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label>Usuario:</label>
                                    <SfTextBox CssClass="customClass" ID="Usuario" @bind-Value="@(ApplicationUser.UserName)" Readonly="false"></SfTextBox>
                                </div>
                                <div class="col-sm-8">
                                    <label class="">Email:</label>
                                    <SfTextBox CssClass="customClass" ID="Email" @bind-Value="@(ApplicationUser.Email)" Readonly="false"
                                               Type="InputType.Email" ShowClearButton="true"></SfTextBox>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="">Cod. Cliente:</label>
                                    <SfDropDownList TValue="string" TItem="ClienteExterno" Placeholder="Seleccione Cliente..." AllowFiltering="true" EnableVirtualization="true"
                                                    Readonly="false" DataSource="@Clientes" @bind-Value="@CodigoClienteSeleccionado" FilterBarPlaceholder="Buscar Cliente..."
                                                    FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains">
                                        <DropDownListEvents TItem="ClienteExterno" TValue="string" ValueChange="@(async(d)=> await SelectedClienteChanged(d))"></DropDownListEvents>
                                        <DropDownListFieldSettings Text="DESCRIPCION" Value="CG_CLI"></DropDownListFieldSettings>
                                    </SfDropDownList>
                                </div>
                            </div>
                            @if (ApplicationUser.EsNuevo)
                            {
                                <div class="row">
                                
                                        <div class="col-sm-12">
                                            <label class="">Contraseña:</label>
                                            <SfTextBox CssClass="customClass" ID="Contra" @bind-Value="@(ApplicationUser.PasswordHash)" Readonly="false" Type="InputType.Password"
                                                   ShowClearButton="true"></SfTextBox>
                                        </div>
                                
                                </div>
                            }
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="">Rol:</label>
                                    <SfMultiSelect @ref="@refMultiSelect" TValue="string[]" TItem="string" DataSource="@Roles"
                                                   Placeholder="Seleccione Roles..." @bind-Value="@RolesSeleccionados">
                                        <MultiSelectFieldSettings Text="Name" Value="Id"></MultiSelectFieldSettings>
                                        @*<MultiSelectEvents TItem="string" TValue="string[]" OnChipTag="@OnTagging" />*@
                                    </SfMultiSelect>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <SfSpinner @ref="@refSpinnerCli" Size="50" @bind-Visible="@SpinnerVisible"
                           Label="Buscando ..." Type="SpinnerType.Fabric">
                </SfSpinner>



                <ValidationSummary />

            </EditForm>


        </Content>
        <FooterTemplate>
            <SfButton IsPrimary="true" Content="Guardar" IconCss="fa fa-save" HtmlAttributes="@HtmlAttributeSubmit"></SfButton>
            <SfButton Content="Cancel" IconCss="fa fa-window-close-o" OnClick="Hide"></SfButton>
        </FooterTemplate>
    </DialogTemplates>

</SfDialog>

<style>
    .profile-img > img {
        width: 80px;
        border-radius: 100%;
        margin-right: 10px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: auto;
        margin-left: 35%;
        margin-top: 15px;
        font-size: 2.5em !important;
    }

    .profile-img {
        border-bottom: none !important;
    }

</style>