@page "/ventas/usuarios"
@inherits UsuariosPageBase
@attribute [Authorize(Roles = "Ventas,Administrador")]
<div class="row">
    <div class="col-12">
        <SfToast ID="toast_default" @ref="ToastObj">
            <ToastPosition X="Center" Y="Top"></ToastPosition>
        </SfToast>

        <SfGrid @ref="refGrid" AllowReordering="true" ShowColumnChooser="false" ShowColumnMenu="true" AllowResizing="true"
                DataSource="@Usuarios" Width="100%"
                AllowExcelExport="true" AllowGrouping="true" ID="grdUsuarios" Toolbar="@Toolbaritems"
                AllowSorting="true" AllowPaging="true" AllowFiltering="true" GridLines="GridLine.Both">
            <GridEvents TValue="vUsuario"
                        CommandClicked="CommandClickHandler" OnToolbarClick="@(async(a)=> await ClickHandler(a))"
                        OnActionBegin="@((a)=> OnActionBeginHandler(a))" OnActionComplete="OnActionCompleteHandler"></GridEvents>
            <GridSelectionSettings CheckboxOnly="false" Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
            <GridPageSettings PageSize="12" PageSizes="true"></GridPageSettings>
            <GridGroupSettings ShowGroupedColumn="true" EnableLazyLoading="true"></GridGroupSettings>
            <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="EditMode.Dialog"></GridEditSettings>
            <GridColumns>
                @*<GridColumn Type="ColumnType.CheckBox" Width="50"></GridColumn>*@
                <GridColumn Field=@nameof(vUsuario.USUARIO) HeaderText="USUARIO" Width="150" Type="ColumnType.DateTime"></GridColumn>
                <GridColumn Field=@nameof(vUsuario.EMAIL) HeaderText="EMAIL" Width="150"></GridColumn>
                <GridColumn Field=@nameof(vUsuario.CLIENTE) HeaderText="CLIENTE ASOCIADO" Width="150"></GridColumn>
                <GridColumn Field=@nameof(vUsuario.FOTO) HeaderText="FOTO" Width="150"></GridColumn>
            </GridColumns>
            <SfSpinner Type="SpinnerType.Fabric" Size="50" Label="Cargando..." @bind-Visible="@SpinnerVisible"></SfSpinner>
        </SfGrid>
    </div>

    @if (popupFormVisible)
    {
        <FormUsuario ApplicationUser="@UsuarioSeleccionado" Show="@popupFormVisible" 
                     OnCerrar="@(() => popupFormVisible = false)" OnGuardar="@(async(a)=> await OnGuardar(a))"
                     RolesSeleccionados="@UsuarioSeleccionado.Roles.ToArray()" Clientes="@Clientes"></FormUsuario>
    }


</div>
