@page "/inventarios"
@page "/inventario/{OperacionId:int}"
@page "/inventario/{OperacionId:int}/{EsEntrega:bool}/{OrdFab:int}"

@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager
@using System.Text.Json
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Calendars

@using SupplyChain.Client.Shared.Inventarios
@using SupplyChain.Shared.Prod;
@using Syncfusion.Pdf;
@using Syncfusion.Pdf.Graphics;
@using Syncfusion.Pdf.Grid;
@using Syncfusion.Pdf.Tables;
@using System.IO;
@inherits StockOperacionesBase
@attribute [Authorize(Roles = "Admin, Produccion")]

<div class="col-12 control-section mt-4">
    <SfToast ID="toast_default" @ref="ToastObj">
        <ToastPosition X="Center" Y="Top"></ToastPosition>
    </SfToast>
    <SfSpinner @bind-Visible="@SpinnerVisible" Label="Procesando..." Size="150" Type="SpinnerType.Bootstrap">
    </SfSpinner>

    <!-- Row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="">
                <div class="form-material">
                    <EditForm Model="@StockEncabezado" OnValidSubmit="@(async () => await AbrirConfirmacionGuardarVale())">
                        <DataAnnotationsValidator />
                        <ToolbarMenu OnNuevoClick="@(async () => await NuevoVale())"
                                     DisabledEliminar="!abrioVale" OnEliminarClick="@(async () => await AbrirConfirmacionEliminarVale())"
                                     DisabledGuardar="@(StockEncabezado.TIPOO == 0 || StockEncabezado.Items.Count == 0)"
                                     DisabledImprimir="@(!abrioVale)"
                                     OnImprimirClick="@(async () => await ImprimirEtiqueta())"></ToolbarMenu>
                        <hr />
                        @*<h3 class="card-title">Vale</h3>*@

                        <fieldset class="scheduler-border">
                            <legend class="scheduler-border"> Vale</legend>
                            <ObjectGraphDataAnnotationsValidator />
                            <div class="form-row">
                                <div class="form-group col-lg-6 col-md-4 col-sm-12 col-12">
                                    <label class="col-form-label text-info">Op. de Stock</label>
                                    @**@
                                    <ComboTipoo TipoOperacionIdUnico="@OperacionId" TipooSeleccionado="@StockEncabezado.TIPOO"
                                                OnSelectedTireChanged="@(async(t)=>await SelectedTireChanged(t))" />
                                </div>
                                <div class="form-group col-lg-4 col-md-5 col-sm-8">
                                    <label class="col-form-label text-info">Vale</label>
                                    <BuscadorPedido Valor="@StockEncabezado.VALE" EsSoloLectura="true"
                                                    MostrarSpin="false" MostraBotonBusqueda="true"
                                                    HtmlAttr="@HtmlAttribute"
                                                    TipoOperacion="@StockEncabezado.TIPOO"
                                                    HabilitaBotonBusqueda="@DisableCssClass"
                                                    OnOCSeleccionada="@(async(p)=> await OnObjectSelected(p))" />


                                </div>
                                <div class="form-group col-lg-2 col-md-3 col-sm-4">
                                    <label class="col-form-label text-info">Fecha</label>
                                    <SfDatePicker TValue="DateTime" Value='@StockEncabezado.FE_MOV' Format='dd/MM/yyyy'></SfDatePicker>
                                </div>


                            </div>

                            <div class="form-row">
                                @if (StockEncabezado.TIPOO == 10)
                                {
                                    <div class="form-group col-lg-3 col-md-4 col-sm-6">
                                        <label class="col-form-label text-info">Orden de Fabricación</label>
                                        <BuscadorOFab EsSoloLectura="@OFSoloLectura" DeshabilitaBotonBusqueda="@DeshabilitaBotonOF"
                                                      MostraBotonBusqueda="@MostrarBotorOF" MostrarSpin="false"
                                                      HtmlAttribute="@HtmlAttribute"
                                                      Valor="@StockEncabezado.CG_ORDF" OnOFSeleccionada="OnProgramaSelected" />
                                    </div>


                                }

                                @if (StockEncabezado.TIPOO == 5)
                                {
                                    <div class="form-group col-lg-6 col-md-6 col-sm-8">
                                        <label class="col-form-label text-info">O. de Compra</label>
                                        <BuscadorOCompra EsSoloLectura="@OCSoloLectura" DeshabilitaBotonBusqueda="@DeshabilitaBotonOC"
                                                         MostraBotonBusqueda="@MostrarBotorOC" MostrarSpin="false"
                                                         Remito="@StockEncabezado.REMITO" HtmlAttribute="@HtmlAttribute"
                                                         Tipoo="StockEncabezado.TIPOO"
                                                         Valor="@((int)StockEncabezado.OCOMPRA)"
                                                         OnOCSeleccionada="@(async(c)=>await OnCompraSelected(c))" />
                                    </div>

                                    <div class="form-group col-lg-6 col-md-6 col-sm-4">
                                        <label class="col-form-label text-info">Remito</label>
                                        <SfTextBox ID="Remito" ShowClearButton="false" @bind-Value="@StockEncabezado.REMITO"
                                                   Type="InputType.Text"
                                                   Readonly="false" Blur="OnBlurRemito">
                                        </SfTextBox>

                                    </div>

                                    <div class="form-group col-lg-2 col-md-6 col-sm-4">
                                        <label class="col-form-label text-info">@labelClienteProveedor</label>
                                        <SfNumericTextBox ID="Cg_CLI_Cg_PROVE" TValue="int?" @bind-Value="@Cg_CLI_Cg_PROVE" Readonly="true" ShowSpinButton="false">

                                        </SfNumericTextBox>
                                    </div>
                                    <div class="form-group col-lg-10 col-md-6 col-sm-8">
                                        <label class="col-form-label text-info">Razon Social</label>
                                        <SfTextBox ID="DescripcionPro" ShowClearButton="true"
                                                   @bind-Value="@DescripcionPro" Readonly="true">

                                        </SfTextBox>

                                    </div>
                                }


                                @if (StockEncabezado.TIPOO == 1 || StockEncabezado.TIPOO == 10 && StockEncabezado.ModeloOrdenFabricacionEncabezado.PEDIDO > 0)
                                {
                                    <div class="form-group col-lg-3 col-md-4 col-sm-6">
                                        <label class="col-form-label text-info">Pedido</label>
                                        <BuscadorPedido Valor="@StockEncabezado.ModeloOrdenFabricacionEncabezado.PEDIDO" MostrarSpin="false" EsSoloLectura="true"
                                                        HabilitaBotonBusqueda="false" MostraBotonBusqueda="false" />
                                    </div>
                                }
                                @if (StockEncabezado.TIPOO == 10 &&
                           StockEncabezado.ModeloOrdenFabricacionEncabezado != null
                           && StockEncabezado.ModeloOrdenFabricacionEncabezado.CG_ORDEN == 1)
                                {
                                    <div class="form-group col-lg-3 col-md-4 col-sm-12">
                                        <label class="col-form-label text-info">Producto</label>
                                        <SfTextBox ID="CG_PROD" ShowClearButton="false"
                                                   @bind-Value="@StockEncabezado.ModeloOrdenFabricacionEncabezado.CG_ART"
                                                   Type="InputType.Text" Readonly="true">
                                        </SfTextBox>

                                    </div>
                                    <div class="form-group col-lg-3 col-md-4 col-sm-12">
                                        <label class="col-form-label text-info">Presion</label>
                                        <SfTextBox ID="CAMPOCOM1" ShowClearButton="false"
                                                   @bind-Value="@StockEncabezado.ModeloOrdenFabricacionEncabezado.CAMPOCOM1"
                                                   Type="InputType.Text" Readonly="true">
                                        </SfTextBox>

                                    </div>
                                    <div class="form-group col-lg-3 col-md-4 col-sm-12">
                                        <label class="col-form-label text-info">Resorte</label>
                                        <SfTextBox ID="CAMPOCOM2" ShowClearButton="false"
                                                   @bind-Value="@StockEncabezado.ModeloOrdenFabricacionEncabezado.CAMPOCOM2"
                                                   Type="InputType.Text" Readonly="true">
                                        </SfTextBox>

                                    </div>
                                    <div class="form-group col-lg-3 col-md-4 col-sm-12">
                                        <label class="col-form-label text-info">Fluido</label>
                                        <SfTextBox ID="CAMPOCOM3" ShowClearButton="false"
                                                   @bind-Value="@StockEncabezado.ModeloOrdenFabricacionEncabezado.CAMPOCOM3"
                                                   Type="InputType.Text" Readonly="true">
                                        </SfTextBox>

                                    </div>
                                    <div class="form-group col-lg-3 col-md-4 col-sm-12">
                                        <label class="col-form-label text-info">Presion de Prueba</label>
                                        <SfTextBox ID="CAMPOCOM4" ShowClearButton="false"
                                                   @bind-Value="@StockEncabezado.ModeloOrdenFabricacionEncabezado.CAMPOCOM4"
                                                   Type="InputType.Text" Readonly="true">
                                        </SfTextBox>

                                    </div>
                                    <div class="form-group col-lg-3 col-md-4 col-sm-12">
                                        <label class="col-form-text-info">Contrapresion</label>
                                        <SfTextBox ID="CAMPOCOM5" ShowClearButton="false"
                                                   @bind-Value="@StockEncabezado.ModeloOrdenFabricacionEncabezado.CAMPOCOM5"
                                                   Type="InputType.Text" Readonly="true">
                                        </SfTextBox>

                                    </div>
                                    <div class="form-group col-lg-3 col-md-4 col-sm-12">
                                        <label class="col-form-label text-info">Temperatura</label>
                                        <SfTextBox ID="CAMPOCOM6" ShowClearButton="false"
                                                   @bind-Value="@StockEncabezado.ModeloOrdenFabricacionEncabezado.CAMPOCOM6"
                                                   Type="InputType.Text" Readonly="true">
                                        </SfTextBox>

                                    </div>

                                    <div class="form-group col-12">
                                        <label class="col-form-label text-info">Observaciones</label>
                                        <SfTextBox ID="OBSERVACIONES" ShowClearButton="false" Multiline="true"
                                                   @bind-Value="@StockEncabezado.ModeloOrdenFabricacionEncabezado.OBSERITEM"
                                                   Type="InputType.Text" Readonly="true">
                                        </SfTextBox>

                                    </div>
                                }
                            </div>
                        </fieldset>
                        
                        <CascadingValue Value="@StockEncabezado">
                            <CascadingValue Value="@StockEncabezado.Items">

                                @if (StockEncabezado.TIPOO == 5)
                                {
                                    <GridEditStock DataSource="@StockEncabezado.Items" PermiteAgregar="@PermiteAgregarItem"
                                                   PermiteEditar="@PermiteEditarItem" PermiteEliminar="@PermiteEliminarItem"
                                                   onGuardar="@(async(s)=> await SetearCamposParaGuardar(s))" />
                                }
                                else
                                {
                                    <GridEditEntrega DataSource="@StockEncabezado.Items" PermiteAgregar="@PermiteAgregarItem"
                                                     PermiteEditar="@PermiteEditarItem" PermiteEliminar="@PermiteEliminarItem"
                                                     OnGuardar="@(async(s)=> await SetearCamposParaGuardar(s))" />
                                }
                            </CascadingValue>
                        </CascadingValue>
                        <ValidationSummary />

                        @*Disabled="@(StockEncabezado.TIPOO == 0 || StockEncabezado.Items.Count == 0)"*@
                        <SfButton Content="Guardar" IsPrimary="false" IconCss="fa fa-save"
                                  CssClass="btn btn-block e-info"></SfButton>

                    </EditForm>
                </div>
            </div>
        </div>
    </div>

</div>

<ConfirmacionDialog @ref="ConfirmacionEliminarDialog" OnConfirm="@(async () => await EliminarVale())">
    <HeaderTempalte>

        <p> <strong>Eliminacion Vale</strong></p>
        <hr />
    </HeaderTempalte>
    <ContentTemplate>
        <p>Estas seguro que desea elimnar el vale <strong>@StockEncabezado?.VALE</strong> ?</p>
    </ContentTemplate>
</ConfirmacionDialog>

<ConfirmacionDialog @ref="ConfirmacionGuardarDialog" OnConfirm="@(async () => await OnGuardar())">
    <HeaderTempalte>
        <p> <strong>Guardar Vale </strong></p>
        <hr />
    </HeaderTempalte>
    <ContentTemplate>
        <p>Estas seguro que desea guardar el vale <strong>@StockEncabezado?.VALE</strong> ?</p>
    </ContentTemplate>
</ConfirmacionDialog>


    <BuscadorEmergente Height="520px" TItem="Pedidos" Titulo=@tituloBuscador Visible="@PopupBuscadorVisible" DataSource="@ItemsABuscar"
                       Columnas="@ColumnasBuscador" OnObjetoSeleccionado="OnObjectSelected" OnBuscarMas="@(async()=> await BuscarVales())" />


<style>
    .text-info{
        font-size:80% !important;
    }
    fieldset.scheduler-border {
        border: 1px groove #ddd !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
    }

    legend.scheduler-border {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        border-bottom: none;
    }
</style>