@page "/sc/celda/list"
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.DropDowns
@using SupplyChain
@using Syncfusion.Blazor.Calendars
@using SupplyChain.Client.Shared
@inherits CeldaPageBase

<div class="row">
    <div class="col-12">
        <ComboVistasGrilla AppName="@APPNAME" StateApp="@state"
                           OnReiniciar="(async ()=> await OnReiniciarGrilla())"
                           OnVistaSelected="(async(v)=> await OnVistaSeleccionada(v))" />
    </div>
</div>

<div class="row">
    <div class="col-12">
        <SfToast ID="toast_default" @ref="ToastObj">
            <ToastPosition X="Center" Y="Top"></ToastPosition>
        </SfToast>
        <SfGrid AllowReordering="true" ShowColumnChooser="true" ShowColumnMenu="true" AllowResizing="true"
                @ref="refGrid" DataSource="@celdas" Width="100%" Toolbar="Toolbaritems"
                AllowExcelExport="true" AllowGrouping="true" ID="grdCeldas" AllowFiltering="true"
                AllowSorting="true" AllowPaging="true" GridLines="GridLine.Both">
            <GridSelectionSettings CheckboxOnly="true" Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
            <GridPageSettings PageSize="10" PageSizes="true"></GridPageSettings>
            <GridEvents OnActionBegin="OnActionBeginHandler" OnToolbarClick="OnToolbarHandler"
                        OnActionComplete="OnActionCompleteHandler" TValue="Celdas"></GridEvents>
            <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>
            <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" AllowEditOnDblClick="true"
                              ShowDeleteConfirmDialog="true" Mode="@Syncfusion.Blazor.Grids.EditMode.Dialog">
            </GridEditSettings>
            <GridColumns>
                <GridColumn Type="ColumnType.CheckBox" Width="50"></GridColumn>
                <GridColumn Field=@nameof(Celdas.Id) HeaderText="Id" TextAlign="TextAlign.Left" IsPrimaryKey="true" Width="200px"></GridColumn>
                <GridColumn Field=@nameof(Celdas.DES_CELDA) HeaderText="Descripcion" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
                <GridColumn Field=@nameof(Celdas.CG_AREA) HeaderText="Area" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
                <GridColumn Field=@nameof(Celdas.ILIMITADA) HeaderText="Serie" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
                <GridColumn Field=@nameof(Celdas.COEFI) HeaderText="Coefi" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
                <GridColumn Field=@nameof(Celdas.VALOR_AMOR) HeaderText="VALOR_AMOR" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
                <GridColumn Field=@nameof(Celdas.VALOR_MERC) HeaderText="VALOR_MERC" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
                <GridColumn Field=@nameof(Celdas.MONEDA) HeaderText="MONEDA" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
                <GridColumn Field=@nameof(Celdas.CANT_ANOS) HeaderText="CANT_ANOS" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
                <GridColumn Field=@nameof(Celdas.CANT_UNID) HeaderText="CANT_UNID" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
                <GridColumn Field=@nameof(Celdas.REP_ANOS) HeaderText="REP_ANOS" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
                <GridColumn Field=@nameof(Celdas.M2) HeaderText="M2" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
                <GridColumn Field=@nameof(Celdas.ENERGIA) HeaderText="ENERGIA" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
                <GridColumn Field=@nameof(Celdas.COMBUST) HeaderText="COMBUST" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
                <GridColumn Field=@nameof(Celdas.AIRE_COMP) HeaderText="AIRE_COMP" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
                <GridColumn Field=@nameof(Celdas.CG_TIPOCELDA) HeaderText="CG_TIPOCELDA" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
                <GridColumn Field=@nameof(Celdas.CG_DEPOSM) HeaderText="CG_DEPOSM" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
            </GridColumns>
            <SfSpinner @ref="refSpinner" Type="SpinnerType.Fabric" Size="50" @bind-Visible="@SpinnerVisible"></SfSpinner>
        </SfGrid>
    </div>

    @if (popupFormVisible)
	{
		 <FormCeldas celdas="celdaSeleccionada" Show="popupFormVisible" OnEliminar="@(async(p)=>await Guardar(p))"
                     OnCerrar="OnCerrarDialog" OnGuardar="@(async(p)=>await Guardar(p))"></FormCeldas>
	}
</div>

<style>
    .form-group.col-md-6 {
        width: 200px;
    }

    label.e-float-text {
        position: relative;
        padding-left: 0;
        top: 10%;
    }

    .e-input-group.e-control-wrapper.customClass {
        color: black;
        background-color: lightblue;
    }
</style>

@code {

    public String edit = "Syncfusion.Blazor.PivotView.EditMode.Normal";
    public bool DblClick = true;
    public bool CommandColumnsClick = false;

    public Syncfusion.Blazor.PivotView.EditMode SelectedMode = Syncfusion.Blazor.PivotView.EditMode.Normal;
    public void OnRadioChange(ChangeArgs<string> args)
    {
        if (args.Value == "inline")
        {
            this.DblClick = true;
            this.CommandColumnsClick = false;
            this.SelectedMode = Syncfusion.Blazor.PivotView.EditMode.Normal;
        }
        else if (args.Value == "batch")
        {
            this.DblClick = true;
            this.CommandColumnsClick = false;
            this.SelectedMode = Syncfusion.Blazor.PivotView.EditMode.Batch;
        }
        else if (args.Value == "dialog")
        {
            this.DblClick = true;
            this.CommandColumnsClick = false;
            this.SelectedMode = Syncfusion.Blazor.PivotView.EditMode.Dialog;
        }
        else
        {
            this.CommandColumnsClick = true;
        }
    }
}