@page "/fabricacion"
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Inputs
@using System.Configuration;
@using System.Data.SqlClient;
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.BarcodeGenerator
@using Syncfusion.Blazor.Spinner
@using System.Text.Json
@using System.Linq
@using Syncfusion.Blazor.SplitButtons
@attribute [Authorize]
@inject IJSRuntime JsRuntime
@using SupplyChain
@using System.Net.Http.Json
@inject NavigationManager NavManager
@inherits SupplyChain.Pages.Fab.FabricPageBase

<SfToast @ref="ToasObj"></SfToast>

@{
    if (listaFab.Count() == 0 || listaFab is null)
    {
        VisibleProperty = true;
    }
    else
    {
        VisibleProperty = false;
    }
    if (VisibleProperty == false)
    {
        <div class="col-lg-12 control-section">
            <div class="content-wrapper">
                <div class="row">
                    <SfGrid AllowReordering="true" ShowColumnChooser="true" ShowColumnMenu="true" AllowResizing="true"
                            EnablePersistence="true" RowHeight="20" AllowRowDragAndDrop="true"
                            @ref="Grid" DataSource="@listaFab" AllowExcelExport="true" 
                            AllowGrouping="true" ID="Fab" Height="100%" Width="100%"
                            AllowSorting="true" AllowPaging="true" AllowFiltering="true" Toolbar="@Toolbaritems"
                            GridLines="GridLine.Both">
                        <GridPageSettings PageCount="20" PageSize="20" PageSizes="true"></GridPageSettings>
                        <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                        <GridEvents OnToolbarClick="@ClickHandler" QueryCellInfo="QueryCellInfoHandler" 
                                    OnActionComplete="@ActionComplete" TValue="Fabricacion"></GridEvents>
                        <GridFilterSettings Type="@Syncfusion.Blazor.Grids.FilterType.CheckBox"></GridFilterSettings>
                        <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>
                        <GridEditSettings AllowDeleting="true" AllowEditing="true" Mode="@EditMode.Dialog" Dialog="DialogParams">
                            <HeaderTemplate><p style="font-weight:800">
                                Detalle Orden Fabricion @((context as Fabricacion).CG_ORDF)</p>
                            </HeaderTemplate>
                            <Template>
                                @{
                                    var f = (context as Fabricacion);
                                    <div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label class="">Orden de Fabricacion:</label>
                                                <br />
                                                <SfNumericTextBox ID="CG_ORDF"
                                                                  Format="N0" @bind-Value="@(f.CG_ORDF)" Enabled="false"></SfNumericTextBox>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label class="">Estado:</label>
                                                <br />

                                                <SfDropDownList TItem="EstadosCargaMaquina" @bind-Value="@(f.CG_ESTADOCARGA)"
                                                                TValue="int" ID="CG_ESTADO" DataSource="@listaEstadosCargaMaquina">
                                                    <DropDownListFieldSettings Text="ESTADO" Value="CG_ESTADO">

                                                    </DropDownListFieldSettings>
                                                </SfDropDownList>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label class="">Cantidad:</label>
                                                <br />
                                                <SfNumericTextBox ID="CANT" Format="N" @bind-Value="@(f.CANT)" Enabled="false"></SfNumericTextBox>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label>Fecha de Planificada:</label>
                                                <br />
                                                <SfDatePicker ID="FE_PLAN" @bind-Value="@(f.FE_PLAN)"
                                                              Enabled="true" Placeholder="Fecha de entrega"></SfDatePicker>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label class="">Fecha de Curso:</label>
                                                <br />
                                                <SfDatePicker ID="FE_CURSO" @bind-Value="@(f.FE_CURSO)" Enabled="true"></SfDatePicker>
                                                @*<ValidationMessage For="@(()=> f.FE_CURSO)"></ValidationMessage>*@
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label class="e-label-top">Celda:</label>
                                                <br />

                                                <SfDropDownList TItem="Celdas" @bind-Value="f.CG_CELDA"
                                                                TValue="string" ID="CG_CELDA" DataSource="@listaCelda">
                                                    <DropDownListFieldSettings Text="DES_CELDA" Value="CG_CELDA">

                                                    </DropDownListFieldSettings>
                                                </SfDropDownList>

                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label class="">Prioridad:</label>
                                                <br />
                                                <SfNumericTextBox ID="ORDEN" Format="N" @bind-Value="@(f.ORDEN)" Enabled="true"></SfNumericTextBox>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </Template>
                        </GridEditSettings>
                        <GridColumns>
                            <GridColumn Field=@nameof(Fabricacion.CG_ORDEN) HeaderText="Tipo producto" TextAlign="TextAlign.Left" Width="210px" Visible="false" AllowEditing="false"></GridColumn>
                            <GridColumn Field=@nameof(Fabricacion.CG_PROD) HeaderText="Producto" Edit="false" TextAlign="TextAlign.Left" Width="210px"></GridColumn>
                            <GridColumn Field=@nameof(Fabricacion.DES_PROD) HeaderText="Descripción de producto" Edit="false" TextAlign="TextAlign.Left" Width="310px"></GridColumn>
                            <GridColumn Field=@nameof(Fabricacion.ORDEN) HeaderText="Prioridad" TextAlign="TextAlign.Left" Edit="true" Width="140px"></GridColumn>
                            <GridColumn Field=@nameof(Fabricacion.CG_ORDF) HeaderText="Orden" Edit="false" TextAlign="TextAlign.Left" Width="140px"></GridColumn>
                            <GridColumn Field=@nameof(Fabricacion.ULTIMAORDENASOCIADA) HeaderText="Tipo producto" Edit="false" Visible="false" TextAlign="TextAlign.Left" Width="190px"></GridColumn>
                            <GridColumn Field=@nameof(Fabricacion.CLASE) HeaderText="Clase" TextAlign="TextAlign.Left" Edit="false" Width="140px"></GridColumn>
                            <GridColumn Field=@nameof(Fabricacion.CG_R) HeaderText="Tipo de órden" TextAlign="TextAlign.Left" Edit="false" Width="210px"></GridColumn>
                            <GridColumn Field=@nameof(Fabricacion.CANT) Format="N2" HeaderText="Cantidad" TextAlign="TextAlign.Left" Edit="false" Width="140px"></GridColumn>
                            <GridColumn Field=@nameof(Fabricacion.CG_ESTADOCARGA) Format="N2" HeaderText="Estado" TextAlign="TextAlign.Left" Edit="false" Width="240px">
                                <Template>
                                    @{
                                        var ordfab = (context as Fabricacion);
                                        if (listaEstadosCargaMaquina.Any(c => c.CG_ESTADO == ordfab.CG_ESTADOCARGA))
                                        {
                                            <span>@listaEstadosCargaMaquina.Where(c => c.CG_ESTADO == ordfab.CG_ESTADOCARGA).FirstOrDefault().ESTADO.Trim()</span>

                                        }
                                    }
                                </Template>
                            </GridColumn>
                            <GridColumn Field=@nameof(Fabricacion.CANTFAB) Format="N2" HeaderText="Cantidad fabricada" TextAlign="TextAlign.Left" Edit="false" Width="190px">
                            </GridColumn>
                            <GridColumn Field=@nameof(Fabricacion.UNID) HeaderText="Unidad" TextAlign="TextAlign.Left" Edit="false" Width="140px"></GridColumn>
                            <GridColumn Field=@nameof(Fabricacion.PROCESO) HeaderText="Proceso" TextAlign="TextAlign.Left" Edit="false" Width="140px"></GridColumn>
                            <GridColumn Field=@nameof(Fabricacion.INSUMOS_ENTREGADOS_A_PLANTA) HeaderText="Insumos entregados" Edit="false" TextAlign="TextAlign.Left" Width="190px"></GridColumn>
                            <GridColumn Field=@nameof(Fabricacion.PEDIDO) HeaderText="Pedido" TextAlign="TextAlign.Left" Edit="false" Width="140px"></GridColumn>
                            <GridColumn Field=@nameof(Fabricacion.DIASFAB) Format="N2" HeaderText="Días de fabricación" Edit="false" TextAlign="TextAlign.Left" Width="310px"></GridColumn>
                            <GridColumn Field=@nameof(Fabricacion.CG_CELDA) HeaderText="Celda"
                                        TextAlign="TextAlign.Left" Edit="true" Width="340px">
                                <Template>
                                    @{
                                        var ordfab = (context as Fabricacion);
                                        if (!string.IsNullOrEmpty(ordfab.CG_CELDA))
                                        {
                                            if (listaCelda.Any(c => c.CG_CELDA.Trim() == ordfab.CG_CELDA.Trim()))
                                            {
                                                <span>@listaCelda.Where(c => c.CG_CELDA.Trim() == ordfab.CG_CELDA.Trim()).FirstOrDefault().DES_CELDA</span>

                                            }
                                        }
                                    }
                                </Template>
                            </GridColumn>
                            <GridColumn Field=@nameof(Fabricacion.CG_FORM) HeaderText="Fórmula" TextAlign="TextAlign.Left" Edit="false" Width="140px"></GridColumn>
                            <GridColumn Field=@nameof(Fabricacion.FE_ENTREGA) HeaderText="Fecha de entrega" TextAlign="TextAlign.Left" Edit="false" Width="210px"></GridColumn>
                            <GridColumn Field=@nameof(Fabricacion.FE_EMIT) HeaderText="Fecha de emision" TextAlign="TextAlign.Left" Edit="false" Width="210px"></GridColumn>
                            <GridColumn Field=@nameof(Fabricacion.FE_PLAN) HeaderText="Fecha planificada" TextAlign="TextAlign.Left" Edit="false" Width="210px"></GridColumn>
                            <GridColumn Field=@nameof(Fabricacion.FE_FIRME) HeaderText="Fecha en firme" TextAlign="TextAlign.Left" Edit="false" Width="210px"></GridColumn>
                            <GridColumn Field=@nameof(Fabricacion.FE_CURSO) HeaderText="Fecha en curso" TextAlign="TextAlign.Left" Edit="false" Width="210px"></GridColumn>
                            <GridColumn Field=@nameof(Fabricacion.FECHA_PREVISTA_FABRICACION) HeaderText="Fecha prevista de fabricacion" TextAlign="TextAlign.Left" Edit="false" Width="240px"></GridColumn>

                            @*<GridColumn Field=@nameof(Fabricacion.FE_ANUL) HeaderText="Tipo producto" TextAlign="TextAlign.Left" Width="190px"></GridColumn>
        <GridColumn Field=@nameof(Fabricacion.FE_CIERRE) HeaderText="Tipo producto" TextAlign="TextAlign.Left" Width="190px"></GridColumn>*@
                        </GridColumns>
                    </SfGrid>
                </div>
            </div>
        </div>
    }
    else
    {
        <SfSpinner @bind-Visible="@VisibleProperty">
        </SfSpinner>
    }
}

<style>
    .form-group.col-md-6 {
        width: 200px;
    }

    label.e-float-text {
        position: relative;
        padding-left: 0;
        top: 10%;
    }

    .e-input-group.e-control-wrapper.customClass {
        color: black;
        background-color: lightblue;
    }

    #navbarNavsUB {
        background-color: none;
    }
</style>
@code {
}