@using Syncfusion.Blazor.Charts
@page "/panel-control/index"

@inherits BasePanelControl

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <SfSpinner @ref="refSpinner" Label="Cargando..." Type="SpinnerType.Fabric" @bind-Visible="@VisibleSpinner"></SfSpinner>
                <SfChart Title="Facturacion Anual U$S" Width="100%">
                    <ChartArea><ChartAreaBorder Width="0"></ChartAreaBorder></ChartArea>
                    <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"
                                       EdgeLabelPlacement="EdgeLabelPlacement.Shift">
                    </ChartPrimaryXAxis>

                    <ChartPrimaryYAxis LabelFormat="{value} U$S">
                        <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
                        <ChartAxisLabelStyle Color="transparent"></ChartAxisLabelStyle>
                        <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
                        <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>

                    </ChartPrimaryYAxis>
                    <ChartSeriesCollection>
                        <ChartSeries DataSource="@FacturacionAnual" XName="XSerieName" YName="YSerieName" Name="Año"
                                     Type="Syncfusion.Blazor.Charts.ChartSeriesType.Column">
                            <ChartMarker>
                                <ChartDataLabel Visible="false" Position="Syncfusion.Blazor.Charts.LabelPosition.Top">
                                    <ChartDataLabelFont FontWeight="600" Color="#ffffff"></ChartDataLabelFont>
                                </ChartDataLabel>
                            </ChartMarker>
                        </ChartSeries>
                    </ChartSeriesCollection>
                    <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
                    <ChartEvents OnPointClick="@(async (a)=> await MostrarDetalle(a))"></ChartEvents>
                </SfChart>
            </div>


        </div>

    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <SfChart @ref="refChartDetalle" Title="@TituloGraficoFacturacionMensual" Width="100%">
                    <ChartArea><ChartAreaBorder Width="0"></ChartAreaBorder></ChartArea>
                    <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"
                                       EdgeLabelPlacement="EdgeLabelPlacement.Shift">
                    </ChartPrimaryXAxis>

                    <ChartPrimaryYAxis LabelFormat="{value} US$">
                        <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
                        <ChartAxisLabelStyle Color="transparent"></ChartAxisLabelStyle>
                        <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
                        <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
                        <ChartStriplines>

                            @if (PromedioFacturacionMensual > 0)
                            {
                                <ChartStripline Start="99990" End="100000" Color="red"
                                                Text="@("Objetivo: 100000")" ZIndex="ZIndex.Over">
                                    <ChartStriplineTextStyle Size="20px" Color="red" />
                                </ChartStripline>
                                <ChartStripline Start="@(PromedioFacturacionMensual - 5)"
                                                Text="@("Promedio: " + PromedioFacturacionMensual )" ZIndex="ZIndex.Over"
                                                End="PromedioFacturacionMensual" Color="blue" />
                            }

                        </ChartStriplines>
                    </ChartPrimaryYAxis>
                    <ChartSeriesCollection>
                        <ChartSeries DataSource="@FacturacionMensual" XName="XSerieName" YName="YSerieName" Name="Mes"
                                     Type="Syncfusion.Blazor.Charts.ChartSeriesType.Column">
                            <ChartMarker>
                                <ChartDataLabel Visible="false" Position="Syncfusion.Blazor.Charts.LabelPosition.Top">
                                    <ChartDataLabelFont FontWeight="600" Color="#ffffff"></ChartDataLabelFont>
                                </ChartDataLabel>
                            </ChartMarker>
                        </ChartSeries>
                    </ChartSeriesCollection>
                    <ChartTooltipSettings Enable="true">
                    </ChartTooltipSettings>
                    <ChartLegendSettings Visible="true" />
                </SfChart>
            </div>


        </div>

    </div>

    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <SfGrid DataSource="@(DataFacturacionDetalle)" GridLines="GridLine.Both"
                        AllowResizing="true" AllowReordering="true" AllowMultiSorting="true" AllowSorting="true"
                        AllowPaging="true" Height="450"> </SfGrid>
            </div>
        </div>

    </div>
</div>

@code {

}
