@using Syncfusion.Blazor.Charts
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Cards
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Gantt
@using SupplyChain.Client.Pages.Panel_Control.DetalleCategoria
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Calendars
@page "/panel-control/index"

@inherits BasePanelControl



<SfTab HeaderPlacement="HeaderPosition.Top" CssClass="tab-pane">
    <TabItems>
        <TabItem CssClass="tab-content">
            <ChildContent>
                <TabHeader Text="Ventas"></TabHeader>
            </ChildContent>
            <ContentTemplate>
                <div class="row">
                    <div class="col-12">
                        <div class="card border-info mt-3">
                            <div class="card-header">Filtro Fechas</div>
                            <div class="card-body text-info">
                                <div class="row">
                                    <div class="col-3">
                                        <SfDateRangePicker ID="fechaVentas" TValue="DateTime" Placeholder="Seleccionar..." Format="dd/MM/yyyy"
                                                           WeekNumber="true" ShowTodayButton="true"
                                                           @bind-StartDate="@FacturacionMinDate" @bind-EndDate="@FacturacionMaxDate">
                                            <DateRangePickerEvents TValue="DateTime" ValueChange="ValueChangeFechasFacturacion"></DateRangePickerEvents>
                                        </SfDateRangePicker>
                                    </div>
                                    <div class="col-3">
                                        <SfButton Content="Restablecer Filtros" CssClass="e-primary"
                                                  IconCss="e-icons e-refresh" OnClick="RestablecerGraficosFacturacion"></SfButton>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <SfSpinner @ref="refSpinner" Label="Cargando..." Type="SpinnerType.Fabric" @bind-Visible="@VisibleSpinner"></SfSpinner>
                        <div class="card">
                            <div class="pane card-body card1">
                                <SfChart Title="" Width="100%">
                                    <ChartArea><ChartAreaBorder Width="0"></ChartAreaBorder></ChartArea>
                                    <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"
                                                       EdgeLabelPlacement="EdgeLabelPlacement.Shift">
                                    </ChartPrimaryXAxis>
                                    <ChartPrimaryYAxis Title="Facturacion Anual U$S" LabelFormat="{value} U$S">
                                        <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
                                        <ChartAxisLabelStyle Color="black"></ChartAxisLabelStyle>
                                        <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
                                        <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
                                    </ChartPrimaryYAxis>
                                    <ChartSeriesCollection>
                                        <ChartSeries DataSource="@FacturacionAnual" XName="XSerieName" YName="YSerieName" Name="Año"
                                                     Type="Syncfusion.Blazor.Charts.ChartSeriesType.Column" Fill="url(#card1-gradient-chart)">
                                            <ChartMarker>
                                                <ChartDataLabel Visible="false" Position="Syncfusion.Blazor.Charts.LabelPosition.Top">
                                                    <ChartDataLabelFont FontWeight="600" Color="#ffffff"></ChartDataLabelFont>
                                                </ChartDataLabel>
                                            </ChartMarker>
                                            <ChartCornerRadius TopLeft="10" TopRight="10"></ChartCornerRadius>
                                        </ChartSeries>
                                    </ChartSeriesCollection>
                                    <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
                                    <ChartEvents OnPointClick="@(async (a)=> await MostrarDetalle(a))"></ChartEvents>
                                </SfChart>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card">
                            <div class="pane card-body card1">
                                <SfChart @ref="refChartDetalle" Title="" Width="100%">
                                    <ChartArea><ChartAreaBorder Width="0"></ChartAreaBorder></ChartArea>
                                    <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"
                                                       EdgeLabelPlacement="EdgeLabelPlacement.Shift">
                                    </ChartPrimaryXAxis>
                                    <ChartPrimaryYAxis Title="@TituloGraficoFacturacionMensual" LabelFormat="{value} US$" Minimum="0" Maximum="180000">
                                        <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
                                        <ChartAxisLabelStyle Color="black"></ChartAxisLabelStyle>
                                        <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
                                        <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
                                        <ChartStriplines>
                                            @if (PromedioFacturacionMensual > 0)
                                            {
                                                <ChartStripline Start="99800" End="100000" SizeType="SizeType.Pixel" ZIndex="ZIndex.Over"
                                                                Size="1" DashArray="5,5" Color='#BB830D' HorizontalAlignment="Anchor.End" VerticalAlignment="Anchor.End"
                                                                Text="@("Objetivo: 100000")">
                                                    <ChartStriplineTextStyle Size="10px" Color="red" />
                                                </ChartStripline>
                                                if (FacturacionMensual.Count > 1)
                                                {
                                                    <ChartStripline Start="@(PromedioFacturacionMensual - 200)"
                                                                    SizeType="SizeType.Pixel" Size="1" DashArray="5,5" HorizontalAlignment="Anchor.End" VerticalAlignment="Anchor.End"
                                                                    Text="@("Promedio: " + PromedioFacturacionMensual )" ZIndex="ZIndex.Over"
                                                                    End="PromedioFacturacionMensual" Color="blue" />
                                                }
                                            }
                                        </ChartStriplines>
                                    </ChartPrimaryYAxis>
                                    <ChartSeriesCollection>
                                        <ChartSeries DataSource="@FacturacionMensual" XName="XSerieName" YName="YSerieName" Name="Mes"
                                                     Type="Syncfusion.Blazor.Charts.ChartSeriesType.Column" Fill="url(#card1-gradient-chart)">
                                            <ChartMarker>
                                                <ChartDataLabel Visible="false" Position="Syncfusion.Blazor.Charts.LabelPosition.Top">
                                                    <ChartDataLabelFont FontWeight="600" Color="#ffffff"></ChartDataLabelFont>
                                                </ChartDataLabel>
                                            </ChartMarker>
                                            <ChartCornerRadius TopLeft="10" TopRight="10"></ChartCornerRadius>
                                        </ChartSeries>
                                    </ChartSeriesCollection>
                                    <ChartTooltipSettings Enable="true">
                                    </ChartTooltipSettings>
                                    <ChartLegendSettings Visible="true" />
                                </SfChart>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card">

                            <div class="pane card-body card1">
                                <div class="card-title chart-title">Detalle de Facturación</div>
                                <SfGrid @ref="grdFacturacionDetalle" DataSource="@DataFacturacionDetalle" 
                                        GridLines="Syncfusion.Blazor.Grids.GridLine.Both"
                                        AllowResizing="true" AllowReordering="true" AllowMultiSorting="true" AllowSorting="true"
                                        AllowPaging="true" Height="450" Width="100%"> </SfGrid>
                            </div>
                        </div>
                    </div>
                </div>
            </ContentTemplate>
        </TabItem>
        <TabItem>
            <ChildContent>
                <TabHeader Text="Compras"></TabHeader>
            </ChildContent>
            <ContentTemplate>
                <div class="row">
                    <div class="col-12">
                        <div class="card border-info mt-3">
                            <div class="card-header">Filtro Fechas</div>
                            <div class="card-body text-info">
                                <div class="row">
                                    <div class="col-3">
                                        <SfDateRangePicker ID="fechaCompras" TValue="DateTime" Placeholder="Seleccionar..." Format="dd/MM/yyyy"
                                                           WeekNumber="true" ShowTodayButton="true"
                                                           @bind-StartDate="@ComprasMinDate" @bind-EndDate="@ComprasMaxDate">
                                            <DateRangePickerEvents TValue="DateTime" ValueChange="ValueChangeFechasCompras"></DateRangePickerEvents>
                                        </SfDateRangePicker>
                                    </div>
                                    <div class="col-3">
                                        <SfButton Content="Restablecer Filtros" CssClass="e-success"
                                                  IconCss="e-icons e-refresh" OnClick="RestablecerGraficosCompras"></SfButton>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="card">
                            <div class="pane card-body card2">
                                <SfChart Title="" Width="100%">
                                    <ChartArea><ChartAreaBorder Width="0"></ChartAreaBorder></ChartArea>
                                    <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"
                                                       EdgeLabelPlacement="EdgeLabelPlacement.Shift">
                                    </ChartPrimaryXAxis>
                                    <ChartPrimaryYAxis Title="Compras Anuales U$S" LabelFormat="{value} U$S">
                                        <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
                                        <ChartAxisLabelStyle Color="black"></ChartAxisLabelStyle>
                                        <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
                                        <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
                                    </ChartPrimaryYAxis>
                                    <ChartSeriesCollection>
                                        <ChartSeries DataSource="@ComprasAnual" XName="XSerieName" YName="YSerieName"
                                                     Name="Año" Fill="url(#card2-gradient-chart)"
                                                     Type="Syncfusion.Blazor.Charts.ChartSeriesType.Column">
                                            <ChartMarker>
                                                <ChartDataLabel Visible="false" Position="Syncfusion.Blazor.Charts.LabelPosition.Top">
                                                    <ChartDataLabelFont FontWeight="600" Color="#ffffff"></ChartDataLabelFont>
                                                </ChartDataLabel>
                                            </ChartMarker>
                                            <ChartCornerRadius TopLeft="10" TopRight="10"></ChartCornerRadius>
                                        </ChartSeries>
                                    </ChartSeriesCollection>
                                    <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
                                    <ChartEvents OnPointClick="@(async (a)=> await MostrarDetalleCompras(a))"></ChartEvents>
                                </SfChart>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card">
                            <div class="pane card-body card2">
                                <SfChart @ref="refChartDetalleCompras" Title="" Width="100%">
                                    <ChartArea><ChartAreaBorder Width="0"></ChartAreaBorder></ChartArea>
                                    <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"
                                                       EdgeLabelPlacement="EdgeLabelPlacement.Shift">
                                    </ChartPrimaryXAxis>
                                    <ChartPrimaryYAxis LabelFormat="{value} U$S" Title="@TituloGraficoComprasMensual">
                                        <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
                                        <ChartAxisLabelStyle Color="black"></ChartAxisLabelStyle>
                                        <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
                                        <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
                                        <ChartStriplines>
                                            @if (PromedioComprasMensual > 0)
                                            {
                                                @*<ChartStripline Start="397" End="400" Color="red"
                                                        Text="@("Objetivo: 400")" ZIndex="ZIndex.Over">
                                            <ChartStriplineTextStyle Color="red" />
                                        </ChartStripline>*@
                                                if (ComprasMensual.Count > 1)
                                                {
                                                    <ChartStripline Start="@(PromedioComprasMensual - 10)"
                                                                    SizeType="SizeType.Pixel" Size="1" DashArray="5,5" HorizontalAlignment="Anchor.End" VerticalAlignment="Anchor.End"
                                                                    Text="@("Promedio: " + PromedioComprasMensual )" ZIndex="ZIndex.Over"
                                                                    End="PromedioComprasMensual" Color="green" />
                                                }
                                            }
                                        </ChartStriplines>
                                    </ChartPrimaryYAxis>
                                    <ChartSeriesCollection>
                                        <ChartSeries DataSource="@ComprasMensual" XName="XSerieName" YName="YSerieName"
                                                     Name="Mes" Fill="url(#card2-gradient-chart)"
                                                     Type="Syncfusion.Blazor.Charts.ChartSeriesType.Column">
                                            <ChartMarker>
                                                <ChartDataLabel Visible="false" Position="Syncfusion.Blazor.Charts.LabelPosition.Top">
                                                    <ChartDataLabelFont FontWeight="600" Color="#ffffff"></ChartDataLabelFont>
                                                </ChartDataLabel>
                                            </ChartMarker>
                                            <ChartCornerRadius TopLeft="10" TopRight="10"></ChartCornerRadius>
                                        </ChartSeries>
                                    </ChartSeriesCollection>
                                    <ChartTooltipSettings Enable="true">
                                    </ChartTooltipSettings>
                                    <ChartEvents OnPointClick="@(async (a)=> await MostrarDetalleComprasMesTipo(a))"></ChartEvents>
                                </SfChart>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card">
                            <div class="pane card-body card2">
                                <SfChart @ref="refChartDetalleComprasMesTipo" Title="" Width="100%">
                                    <ChartArea><ChartAreaBorder Width="0"></ChartAreaBorder></ChartArea>
                                    <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"
                                                       EdgeLabelPlacement="EdgeLabelPlacement.Shift">
                                    </ChartPrimaryXAxis>
                                    <ChartPrimaryYAxis LabelFormat="{value} U$S" Title="@TituloGraficoComprasMensual">
                                        <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
                                        <ChartAxisLabelStyle Color="black"></ChartAxisLabelStyle>
                                        <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
                                        <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
                                        <ChartStriplines>
                                            @if (PromedioComprasMensual > 0)
                                            {
                                                @*<ChartStripline Start="397" End="400" Color="red"
                                                        Text="@("Objetivo: 400")" ZIndex="ZIndex.Over">
                                            <ChartStriplineTextStyle Color="red" />
                                        </ChartStripline>*@
                                                if (ComprasMensual.Count > 1)
                                                {
                                                    <ChartStripline Start="@(PromedioComprasMensual - 10)"
                                                                    SizeType="SizeType.Pixel" Size="1" DashArray="5,5" HorizontalAlignment="Anchor.End" VerticalAlignment="Anchor.End"
                                                                    Text="@("Promedio: " + PromedioComprasMensual )" ZIndex="ZIndex.Over"
                                                                    End="PromedioComprasMensual" Color="green" />
                                                }

                                            }
                                        </ChartStriplines>
                                    </ChartPrimaryYAxis>
                                    <ChartSeriesCollection>
                                        <ChartSeries DataSource="@ComprasMensualTipo" XName="XSerieName" YName="YSerieName"
                                                     Name="Tipo de Materia Prima" Fill="url(#card2-gradient-chart)"
                                                     Type="Syncfusion.Blazor.Charts.ChartSeriesType.Column">
                                            <ChartMarker>
                                                <ChartDataLabel Visible="false" Position="Syncfusion.Blazor.Charts.LabelPosition.Top">
                                                    <ChartDataLabelFont FontWeight="600" Color="#ffffff"></ChartDataLabelFont>
                                                </ChartDataLabel>
                                            </ChartMarker>
                                            <ChartCornerRadius TopLeft="10" TopRight="10"></ChartCornerRadius>
                                        </ChartSeries>
                                    </ChartSeriesCollection>
                                    <ChartTooltipSettings Enable="true">
                                    </ChartTooltipSettings>
                                </SfChart>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <SfAccumulationChart @ref="refAccChartDetalleComprasTipo" EnableBorderOnMouseMove="false" Title="Compras por Tipo U$S" EnableSmartLabels="true">
                            <AccumulationChartLegendSettings Visible="false"></AccumulationChartLegendSettings>
                            <AccumulationChartTooltipSettings Enable="true" Format="${point.x} : <b>${point.y}U$S</b>"></AccumulationChartTooltipSettings>
                            <AccumulationChartSeriesCollection>
                                <AccumulationChartSeries DataSource="@ComprasMensualTipo" Name="Tipo" XName="XSerieName"
                                                         YName="YSerieName" StartAngle="60" InnerRadius="0%" Palettes="@palettes">
                                    <AccumulationDataLabelSettings Name="DataLabelMappingName" Visible="true" Position="AccumulationLabelPosition.Outside">
                                        <AccumulationChartConnector Length="20px" Type="ConnectorType.Curve"></AccumulationChartConnector>
                                    </AccumulationDataLabelSettings>
                                </AccumulationChartSeries>
                            </AccumulationChartSeriesCollection>
                        </SfAccumulationChart>
                    </div>
                </div>
            </div>*@
                    <div class="col-12">
                        <div class="card">
                            <div class="pane card-body card2">
                                <SfGrid @ref="gridDetalleCompras" DataSource="@DataComprasDetalle" GridLines="Syncfusion.Blazor.Grids.GridLine.Both" AllowResizing="true"
                                        AllowReordering="true" AllowSorting="true" Width="100%"
                                        AllowPaging="true" Height="450"> </SfGrid>
                            </div>
                        </div>

                    </div>

                </div>
            </ContentTemplate>
        </TabItem>
        <TabItem>
            <ChildContent>
                <TabHeader Text="Eventos"></TabHeader>
            </ChildContent>
            <ContentTemplate>
                <div class="row">
                    <div class="col-12">
                        <div class="card border-info mt-3">
                            <div class="card-header">Filtro Fechas</div>
                            <div class="card-body text-info">
                                <div class="row">
                                    <div class="col-3">
                                        <SfDateRangePicker TValue="DateTime" Placeholder="Seleccionar..." Format="dd/MM/yyyy"
                                                           WeekNumber="true" ShowTodayButton="true"
                                                           @bind-StartDate="@EventosMinDate" @bind-EndDate="@EventosMaxDate">
                                            <DateRangePickerEvents TValue="DateTime" ValueChange="ValueChangeFechasEventos"></DateRangePickerEvents>
                                        </SfDateRangePicker>
                                    </div>
                                    <div class="col-3">
                                        <SfButton Content="Restablecer Filtros" CssClass="e-warning"
                                                  IconCss="e-icons e-refresh" OnClick="RestablecerGraficosEventos"></SfButton>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="card">
                            <div class="pane card-body card5">
                                <SfChart Title="" Width="100%">
                                    <ChartArea><ChartAreaBorder Width="0"></ChartAreaBorder></ChartArea>
                                    <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"
                                                       EdgeLabelPlacement="EdgeLabelPlacement.Shift">
                                    </ChartPrimaryXAxis>
                                    <ChartPrimaryYAxis Title="Cantidad de Eventos Anuales" LabelFormat="{value}">
                                        <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
                                        <ChartAxisLabelStyle Color="black"></ChartAxisLabelStyle>
                                        <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
                                        <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
                                    </ChartPrimaryYAxis>
                                    <ChartSeriesCollection>
                                        <ChartSeries DataSource="@EventosAnual" XName="XSerieName" YName="YSerieName"
                                                     Name="Año" Fill="url(#card5-gradient-chart)"
                                                     Type="Syncfusion.Blazor.Charts.ChartSeriesType.Column">
                                            <ChartMarker>
                                                <ChartDataLabel Visible="false" Position="Syncfusion.Blazor.Charts.LabelPosition.Top">
                                                    <ChartDataLabelFont FontWeight="600" Color="#ffffff"></ChartDataLabelFont>
                                                </ChartDataLabel>
                                            </ChartMarker>
                                            <ChartCornerRadius TopLeft="10" TopRight="10"></ChartCornerRadius>
                                        </ChartSeries>
                                    </ChartSeriesCollection>
                                    <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
                                    <ChartEvents OnPointClick="@(async (a)=> await MostrarDetalleEventos(a))"></ChartEvents>
                                </SfChart>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card">
                            <div class="pane card-body card5">
                                <SfChart @ref="refChartDetalleEventos" Title="" Width="100%">
                                    <ChartArea><ChartAreaBorder Width="0"></ChartAreaBorder></ChartArea>
                                    <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"
                                                       EdgeLabelPlacement="EdgeLabelPlacement.Shift">
                                    </ChartPrimaryXAxis>
                                    <ChartPrimaryYAxis LabelFormat="{value}" Title="@TituloGraficoEventosMensual" Minimum="0" Maximum="25">
                                        <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
                                        <ChartAxisLabelStyle Color="black"></ChartAxisLabelStyle>
                                        <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
                                        <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
                                    </ChartPrimaryYAxis>
                                    <ChartSeriesCollection>
                                        <ChartSeries DataSource="@EventosMensual" XName="XSerieName" YName="YSerieName"
                                                     Name="Mes" Fill="url(#card5-gradient-chart)"
                                                     Type="Syncfusion.Blazor.Charts.ChartSeriesType.Column">
                                            <ChartMarker>
                                                <ChartDataLabel Visible="false" Position="Syncfusion.Blazor.Charts.LabelPosition.Top">
                                                    <ChartDataLabelFont FontWeight="600" Color="#ffffff"></ChartDataLabelFont>
                                                </ChartDataLabel>
                                            </ChartMarker>
                                            <ChartCornerRadius TopLeft="10" TopRight="10"></ChartCornerRadius>
                                        </ChartSeries>
                                    </ChartSeriesCollection>
                                    <ChartTooltipSettings Enable="true">
                                    </ChartTooltipSettings>
                                    <ChartEvents OnPointClick="@(async (a)=> await MostrarDetalleEventosMesTipo(a))"></ChartEvents>
                                </SfChart>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card">
                            <div class="pane card-body card5">
                                <SfChart @ref="refChartDetalleEventosMesTipo" Title="" Width="100%">
                                    <ChartArea><ChartAreaBorder Width="0"></ChartAreaBorder></ChartArea>
                                    <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"
                                                       EdgeLabelPlacement="EdgeLabelPlacement.Shift" LabelFormat="{value}">
                                    </ChartPrimaryXAxis>
                                    <ChartPrimaryYAxis LabelFormat="{value}" Title="@TituloGraficoEventosTipo" Minimum="0" Maximum="20">
                                        <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
                                        <ChartAxisLabelStyle Color="black"></ChartAxisLabelStyle>
                                        <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
                                        <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
                                    </ChartPrimaryYAxis>
                                    <ChartSeriesCollection>
                                        <ChartSeries DataSource="@EventosMensualTipo" XName="XSerieName" YName="YSerieName"
                                                     Name="Tipo" Fill="url(#card5-gradient-chart)"
                                                     Type="Syncfusion.Blazor.Charts.ChartSeriesType.Column">
                                            <ChartMarker>
                                                <ChartDataLabel Visible="false" Position="Syncfusion.Blazor.Charts.LabelPosition.Top">
                                                    <ChartDataLabelFont FontWeight="600" Color="#ffffff"></ChartDataLabelFont>
                                                </ChartDataLabel>
                                            </ChartMarker>
                                            <ChartCornerRadius TopLeft="10" TopRight="10"></ChartCornerRadius>
                                        </ChartSeries>
                                    </ChartSeriesCollection>
                                    <ChartTooltipSettings Enable="true">
                                    </ChartTooltipSettings>
                                </SfChart>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card">
                            <div class="pane card-body card5">
                                <SfChart @ref="refChartDetalleEventosProveedor" Title="" Width="100%">
                                    <ChartArea><ChartAreaBorder Width="0"></ChartAreaBorder></ChartArea>
                                    <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"
                                                       EdgeLabelPlacement="EdgeLabelPlacement.Shift" LabelFormat="{value}">
                                    </ChartPrimaryXAxis>
                                    <ChartPrimaryYAxis LabelFormat="{value}" Title="@TituloGraficoEventosProveedor" Minimum="0" Maximum="10">
                                        <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
                                        <ChartAxisLabelStyle Color="black"></ChartAxisLabelStyle>
                                        <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
                                        <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
                                    </ChartPrimaryYAxis>
                                    <ChartSeriesCollection>
                                        <ChartSeries DataSource="@EventosProveedor" XName="XSerieName" YName="YSerieName"
                                                     Name="Proveedor" Fill="url(#card5-gradient-chart)"
                                                     Type="Syncfusion.Blazor.Charts.ChartSeriesType.Column">
                                            <ChartMarker>
                                                <ChartDataLabel Visible="false" Position="Syncfusion.Blazor.Charts.LabelPosition.Top">
                                                    <ChartDataLabelFont FontWeight="600" Color="#ffffff"></ChartDataLabelFont>
                                                </ChartDataLabel>
                                            </ChartMarker>
                                            <ChartCornerRadius TopLeft="10" TopRight="10"></ChartCornerRadius>
                                        </ChartSeries>
                                    </ChartSeriesCollection>
                                    <ChartTooltipSettings Enable="true">
                                    </ChartTooltipSettings>
                                </SfChart>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card">
                            <div class="pane card-body card5">
                                <SfGrid @ref="gridDetalleEventos" DataSource="@DataEventosDetalle" GridLines="Syncfusion.Blazor.Grids.GridLine.Both" AllowResizing="true"
                                        AllowReordering="true" AllowSorting="true"
                                        AllowPaging="true" Height="450">
                                    <GridColumns>
                                        <GridColumn Field="@(nameof(vEstadEventos.FE_OCURRENCIA))" HeaderText="FECHA OCURRENCIA" Format="dd/MM/yyyy"></GridColumn>
                                        <GridColumn Field="@(nameof(vEstadEventos.Cg_NoConf))" HeaderText="N EVENTO" Format="N0"></GridColumn>
                                        <GridColumn Field="@(nameof(vEstadEventos.Des_TipoNc))" HeaderText="DESCRIPCION"></GridColumn>
                                        <GridColumn Field="@(nameof(vEstadEventos.DES_PROVE))" HeaderText="PROVEEDOR"></GridColumn>
                                    </GridColumns>
                                </SfGrid>
                            </div>
                        </div>
                    </div>
                </div>
            </ContentTemplate>
        </TabItem>
        <TabItem CssClass="tab-content">
            <ChildContent>
                <TabHeader Text="Pedidos Ingresados"></TabHeader>
            </ChildContent>
            <ContentTemplate>
                <div class="row">
                    <div class="col-12">
                        <div class="card border-info mt-3">
                            <div class="card-header">Filtro Fechas</div>
                            <div class="card-body text-info">
                                <div class="row">
                                    <div class="col-3">
                                        <SfDateRangePicker TValue="DateTime" Placeholder="Seleccionar..." Format="dd/MM/yyyy"
                                                           WeekNumber="true" ShowTodayButton="true"
                                                           @bind-StartDate="@EventosMinDate" @bind-EndDate="@EventosMaxDate">
                                            <DateRangePickerEvents TValue="DateTime" ValueChange="ValueChangeFechasEventos"></DateRangePickerEvents>
                                        </SfDateRangePicker>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <SfSpinner @ref="refSpinner" Label="Cargando..." Type="SpinnerType.Fabric" @bind-Visible="@VisibleSpinner"></SfSpinner>
                        <div class="card">
                            <div class="pane card-body card3">
                                <SfChart Title="" Width="100%">
                                    <ChartArea><ChartAreaBorder Width="0"></ChartAreaBorder></ChartArea>
                                    <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category">
                                    </ChartPrimaryXAxis>

                                    <ChartPrimaryYAxis Title="U$S Anuales" LabelFormat="{value} U$S">
                                        <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
                                        <ChartAxisLabelStyle Color="black"></ChartAxisLabelStyle>
                                        <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
                                        <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
                                    </ChartPrimaryYAxis>
                                    <ChartSeriesCollection>
                                        <ChartSeries DataSource="@PedidosIngresadosAnuales" XName="XSerieName" YName="YSerieName"
                                                     Name="Año" Fill="url(#card3-gradient-chart)"
                                                     Type="Syncfusion.Blazor.Charts.ChartSeriesType.Column">
                                            <ChartMarker>
                                                <ChartDataLabel Visible="false" Position="Syncfusion.Blazor.Charts.LabelPosition.Top">
                                                    <ChartDataLabelFont FontWeight="600" Color="#ffffff"></ChartDataLabelFont>
                                                </ChartDataLabel>
                                            </ChartMarker>
                                            <ChartCornerRadius TopLeft="10" TopRight="10"></ChartCornerRadius>
                                        </ChartSeries>
                                    </ChartSeriesCollection>
                                    <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
                                    <ChartEvents OnPointClick="@(async (a)=> await MostrarDetallePedidosAnuales(a))"></ChartEvents>
                                </SfChart>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card">
                            <div class="pane card-body card3">
                                <SfChart @ref="refChartDetallePedidos" Width="100%">
                                    <ChartArea><ChartAreaBorder Width="0"></ChartAreaBorder></ChartArea>
                                    <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"
                                                       EdgeLabelPlacement="EdgeLabelPlacement.Shift">
                                    </ChartPrimaryXAxis>
                                    <ChartPrimaryYAxis Title="@TituloGraficoPedidosMensual" LabelFormat="{value} U$S" Minimum="0" Maximum="190000" Interval="10000">
                                        <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
                                        <ChartAxisLabelStyle Color="black"></ChartAxisLabelStyle>
                                        <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
                                        <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
                                        <ChartStriplines>
                                            @if (PromedioPedidosIngresadosMensuales > 0)
                                            {
                                                <ChartStripline Start="89000" End="90000" Color="red" SizeType="SizeType.Pixel" ZIndex="ZIndex.Over"
                                                                Size="1" DashArray="5,5" HorizontalAlignment="Anchor.End" VerticalAlignment="Anchor.End"
                                                                Text="@("Objetivo: 90000")">
                                                    <ChartStriplineTextStyle Color="red" />
                                                </ChartStripline>
                                                <ChartStripline Start="@(PromedioPedidosIngresadosMensuales - 2)" SizeType="SizeType.Pixel" ZIndex="ZIndex.Over"
                                                                Size="1" DashArray="5,5" Color='blue' HorizontalAlignment="Anchor.End" VerticalAlignment="Anchor.End"
                                                                Text="@("Promedio: " + PromedioPedidosIngresadosMensuales )"
                                                                End="PromedioPedidosIngresadosMensuales" />
                                            }
                                        </ChartStriplines>
                                    </ChartPrimaryYAxis>
                                    <ChartSeriesCollection>
                                        <ChartSeries DataSource="@PedidosIngresadosMensuales" XName="XSerieName" YName="YSerieName"
                                                     Name="Mes" Fill="url(#card3-gradient-chart)"
                                                     Type="Syncfusion.Blazor.Charts.ChartSeriesType.Column">
                                            <ChartMarker>
                                                <ChartDataLabel Visible="false" Position="Syncfusion.Blazor.Charts.LabelPosition.Top">
                                                    <ChartDataLabelFont FontWeight="600" Color="#ffffff"></ChartDataLabelFont>
                                                </ChartDataLabel>
                                            </ChartMarker>
                                            <ChartCornerRadius TopLeft="10" TopRight="10"></ChartCornerRadius>
                                        </ChartSeries>
                                    </ChartSeriesCollection>
                                    <ChartTooltipSettings Enable="true">
                                    </ChartTooltipSettings>
                                    <ChartLegendSettings Visible="true" />
                                    <ChartEvents OnPointClick="@(async (a)=> await MostrarDetallePedidosMensuales(a))"></ChartEvents>
                                </SfChart>
                            </div>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="card">
                            <div class="pane card-body card3">
                                <SfAccumulationChart Height="350px" Title="@TituloPedidosIngresadosCategoria" EnableSmartLabels="true" EnableAnimation="true">
                                    <AccumulationChartLegendSettings Visible="false" TextWrap="@Syncfusion.Blazor.TextWrap.Wrap"></AccumulationChartLegendSettings>
                                    <AccumulationChartTooltipSettings Enable="true" Format="${point.x} : <b>${point.y}%</b>"></AccumulationChartTooltipSettings>
                                    <AccumulationChartSeriesCollection>
                                        <AccumulationChartSeries DataSource="@PedidosIngresadosCategoria" XName="XSerieName" YName="YSerieName"
                                                                 Name="CATEGORIA" Radius="83%" StartAngle="0" EndAngle="360" InnerRadius="50%">
                                            <AccumulationDataLabelSettings Name="ZSerieName" Visible="true" Position="AccumulationLabelPosition.Outside">
                                                <AccumulationChartConnector Length="20px" Type="ConnectorType.Curve"></AccumulationChartConnector>
                                            </AccumulationDataLabelSettings>
                                        </AccumulationChartSeries>
                                    </AccumulationChartSeriesCollection>
                                    @*<AccumulationChartAnnotations>
                                <AccumulationChartAnnotation Region="Regions.Series" X="50%" Y="50%">
                                    <ContentTemplate>
                                        <div id="annotation">
                                            @TituloPedidosIngresadosCategoria
                                        </div>
                                    </ContentTemplate>
                                </AccumulationChartAnnotation>
                            </AccumulationChartAnnotations>*@
                                    <AccumulationChartEvents OnPointClick="@(async (a)=>await OnFiltroByCategoria(a))"></AccumulationChartEvents>
                                </SfAccumulationChart>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <div class="pane card-body card3">
                                <SfAccumulationChart Height="350px" Title="@TituloPedidosIngresadosMercado" EnableSmartLabels="true" EnableAnimation="false">
                                    <AccumulationChartLegendSettings Visible="false"></AccumulationChartLegendSettings>
                                    <AccumulationChartTooltipSettings Enable="true" Format="${point.x} : <b>${point.y}U$S</b>"></AccumulationChartTooltipSettings>
                                    <AccumulationChartSeriesCollection>
                                        <AccumulationChartSeries DataSource="@PedidosIngresadosMercado" XName="XSerieName" YName="YSerieName"
                                                                 Name="MERCADO" Radius="83%" StartAngle="0" EndAngle="360" InnerRadius="50%">
                                            <AccumulationDataLabelSettings Name="ZSerieName" Visible="true" Position="AccumulationLabelPosition.Outside">
                                                <AccumulationChartConnector Length="20px" Type="ConnectorType.Curve"></AccumulationChartConnector>
                                            </AccumulationDataLabelSettings>
                                        </AccumulationChartSeries>
                                    </AccumulationChartSeriesCollection>
                                </SfAccumulationChart>
                            </div>
                        </div>
                        <DialogDetalle @ref="@dialogDetalle" Titulo="Detalle Categoria" IsModal="true" Height="620px" Width="55%">
                            <Content>
                                <div class="col-12">
                                    <div class="card">
                                        <div class="pane card-body card3">
                                            <SfChart Height="360px" Width="100%" Title="@TituloPedidosIngresadosCategoriaDetalle">
                                                <ChartArea><ChartAreaBorder Width="0"></ChartAreaBorder></ChartArea>
                                                <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"
                                                                   EdgeLabelPlacement="EdgeLabelPlacement.Shift">
                                                </ChartPrimaryXAxis>
                                                @*<ChartAnnotations>
                                            <ChartAnnotation X="@chartXAnnoation" Y="9%" CoordinateUnits="Units.Pixel" Region="Regions.Chart">
                                                <ContentTemplate>
                                                    <p style="font-family:Roboto;font-size: 16px;font-weight: 400;font-weight: 400;
                                                        letter-spacing: 0.02em;line-height: 16px;color: #797979 !important;">
                                                        @TituloPedidosIngresadosCategoriaDetalle
                                                    </p>
                                                </ContentTemplate>
                                            </ChartAnnotation>
                                        </ChartAnnotations>*@
                                                <ChartPrimaryYAxis LabelFormat="{value} U$S"
                                                                   Minimum="0" Maximum="100000" Interval="10000">
                                                    <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
                                                    <ChartAxisLabelStyle Color="black"></ChartAxisLabelStyle>
                                                    <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
                                                    <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
                                                </ChartPrimaryYAxis>
                                                <ChartSeriesCollection>
                                                    <ChartSeries DataSource="@PedidosIngresadosMensualesCategoriaDetalle" XName="XSerieName" YName="YSerieName"
                                                                 Name="Mes" Fill="url(#card3-gradient-chart)"
                                                                 Type="Syncfusion.Blazor.Charts.ChartSeriesType.Column">
                                                        <ChartMarker>
                                                            <ChartDataLabel Visible="false" Position="Syncfusion.Blazor.Charts.LabelPosition.Top">
                                                                <ChartDataLabelFont FontWeight="600" Color="#ffffff"></ChartDataLabelFont>
                                                            </ChartDataLabel>
                                                        </ChartMarker>
                                                        <ChartCornerRadius TopLeft="10" TopRight="10"></ChartCornerRadius>
                                                    </ChartSeries>
                                                </ChartSeriesCollection>
                                                <ChartTooltipSettings Enable="true">
                                                </ChartTooltipSettings>
                                                <ChartLegendSettings Visible="true" />
                                            </SfChart>
                                        </div>
                                    </div>
                                </div>
                            </Content>
                        </DialogDetalle>
                    </div>
                    <div class="col-12">
                        <div class="content-wrapper">
                            <div class="row">
                                <SfGrid @ref="grdPedIngresados" DataSource="@(PedidosIngresadosDetalleMes)" GridLines="Syncfusion.Blazor.Grids.GridLine.Both"
                                        AllowResizing="true" AllowReordering="true" AllowMultiSorting="true" AllowSorting="true"
                                        AllowPaging="true" Height="450" Width="100%">
                                    <GridTemplates>
                                        <ToolbarTemplate>
                                            <SfToolbar>
                                                <ToolbarItems>
                                                    <ToolbarItem Text="Detalle de Pedidos"></ToolbarItem>
                                                </ToolbarItems>
                                            </SfToolbar>
                                        </ToolbarTemplate>
                                    </GridTemplates>
                                    <GridColumns>
                                        <GridColumn Field=@nameof(vEstadPedidosIngresados.PEDIDO) HeaderText="PEDIDO" Width="70px"></GridColumn>
                                        <GridColumn Field=@nameof(vEstadPedidosIngresados.FECHA) HeaderText="FECHA" Format="dd/MM/yyyy" Width="85px"></GridColumn>
                                        <GridColumn Field=@nameof(vEstadPedidosIngresados.CG_ART) HeaderText="PRODUCTO" Width="140px"></GridColumn>
                                        <GridColumn Field=@nameof(vEstadPedidosIngresados.DES_ART) HeaderText="DESCRIPCION" Width="250px"></GridColumn>
                                        <GridColumn Field=@nameof(vEstadPedidosIngresados.CANTPED) HeaderText="CANTIDAD" Width="100px"></GridColumn>
                                        <GridColumn Field=@nameof(vEstadPedidosIngresados.COTIZ) HeaderText="COTIZ" Width="80px"></GridColumn>
                                        <GridColumn Field=@nameof(vEstadPedidosIngresados.TOT_DOL) HeaderText="TOTAL DOL" Width="100px"></GridColumn>
                                        <GridColumn Field=@nameof(vEstadPedidosIngresados.MES) HeaderText="MES" Width="70px"></GridColumn>
                                        <GridColumn Field=@nameof(vEstadPedidosIngresados.ANIO) HeaderText="AÑO" Width="70px"></GridColumn>
                                        <GridColumn Field=@nameof(vEstadPedidosIngresados.CATEGORIA) HeaderText="CATEGORIA" Width="100px"></GridColumn>
                                        <GridColumn Field=@nameof(vEstadPedidosIngresados.ESTADO) HeaderText="ESTADO" Width="90px" DisplayAsCheckBox="true"></GridColumn>
                                    </GridColumns>
                                </SfGrid>
                            </div>
                        </div>
                    </div>
                </div>
            </ContentTemplate>
        </TabItem>
        <TabItem CssClass="tab-content">
            <ChildContent>
                <TabHeader Text="Prespuestos"></TabHeader>
            </ChildContent>
            <ContentTemplate>
                <div class="row">
                    <div class="col-6">
                        <SfSpinner @ref="refSpinner" Label="Cargando..." Type="SpinnerType.Fabric" @bind-Visible="@VisibleSpinner"></SfSpinner>
                        <div class="card">
                            <div class="pane card-body card4">
                                <SfChart Title="" Width="100%">
                                    <ChartArea><ChartAreaBorder Width="0"></ChartAreaBorder></ChartArea>
                                    <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category">
                                    </ChartPrimaryXAxis>
                                    <ChartPrimaryYAxis Title="U$S Anuales" LabelFormat="{value} U$S">
                                        <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
                                        <ChartAxisLabelStyle Color="black"></ChartAxisLabelStyle>
                                        <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
                                        <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
                                    </ChartPrimaryYAxis>
                                    <ChartSeriesCollection>
                                        <ChartSeries DataSource="@PresupuestosAnuales" XName="XSerieName" YName="YSerieName"
                                                     Name="Año" Fill="url(#card4-gradient-chart)"
                                                     Type="Syncfusion.Blazor.Charts.ChartSeriesType.Column">
                                            <ChartMarker>
                                                <ChartDataLabel Visible="false" Position="Syncfusion.Blazor.Charts.LabelPosition.Top">
                                                    <ChartDataLabelFont FontWeight="600" Color="#ffffff"></ChartDataLabelFont>
                                                </ChartDataLabel>
                                            </ChartMarker>
                                            <ChartCornerRadius TopLeft="10" TopRight="10"></ChartCornerRadius>
                                        </ChartSeries>
                                    </ChartSeriesCollection>
                                    <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
                                    <ChartEvents OnPointClick="@(async (a)=> await MostrarDetallePresupuestosAnuales(a))"></ChartEvents>
                                </SfChart>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card">
                            <div class="pane card-body card4">
                                <SfChart @ref="refChartDetallePresupuestos" Width="100%">
                                    <ChartArea><ChartAreaBorder Width="0"></ChartAreaBorder></ChartArea>
                                    <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"
                                                       EdgeLabelPlacement="EdgeLabelPlacement.Shift">
                                    </ChartPrimaryXAxis>
                                    <ChartPrimaryYAxis Title="@TituloGraficoPresupuestosMensual" LabelFormat="{value} U$S"
                                                       Minimum="0" Maximum="1600000" Interval="100000">
                                        <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
                                        <ChartAxisLabelStyle Color="black"></ChartAxisLabelStyle>
                                        <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
                                        <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
                                        <ChartStriplines>
                                            @if (PromedioPresupuestosMensuales > 0)
                                            {
                                                <ChartStripline Start="890000" End="900000" Color="red" SizeType="SizeType.Pixel" ZIndex="ZIndex.Over"
                                                                Size="1" DashArray="5,5" HorizontalAlignment="Anchor.End" VerticalAlignment="Anchor.End"
                                                                Text="@("Objetivo: 900000")">
                                                    <ChartStriplineTextStyle Color="red" />
                                                </ChartStripline>
                                                <ChartStripline Start="@(PromedioPresupuestosMensuales - 2)" SizeType="SizeType.Pixel" ZIndex="ZIndex.Over"
                                                                Size="1" DashArray="5,5" Color='blue' HorizontalAlignment="Anchor.End" VerticalAlignment="Anchor.End"
                                                                Text="@("Promedio: " + PromedioPresupuestosMensuales )"
                                                                End="PromedioPresupuestosMensuales" />
                                            }
                                        </ChartStriplines>
                                    </ChartPrimaryYAxis>
                                    <ChartSeriesCollection>
                                        <ChartSeries DataSource="@PresupuestosMensuales" XName="XSerieName" YName="YSerieName"
                                                     Name="Mes" Fill="url(#card4-gradient-chart)"
                                                     Type="Syncfusion.Blazor.Charts.ChartSeriesType.Column">
                                            <ChartMarker>
                                                <ChartDataLabel Visible="false" Position="Syncfusion.Blazor.Charts.LabelPosition.Top">
                                                    <ChartDataLabelFont FontWeight="600" Color="#ffffff"></ChartDataLabelFont>
                                                </ChartDataLabel>
                                            </ChartMarker>
                                            <ChartCornerRadius TopLeft="10" TopRight="10"></ChartCornerRadius>
                                        </ChartSeries>
                                    </ChartSeriesCollection>
                                    <ChartTooltipSettings Enable="true">
                                    </ChartTooltipSettings>
                                    <ChartLegendSettings Visible="true" />
                                </SfChart>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="content-wrapper">
                            <div class="row">
                                <SfGrid @ref="grdPresupuestos" DataSource="@(PresupuestosAnualesDetalle)" GridLines="Syncfusion.Blazor.Grids.GridLine.Both"
                                        AllowResizing="true" AllowReordering="true" AllowMultiSorting="true" AllowSorting="true"
                                        AllowPaging="true" Height="450" Width="100%">
                                    <GridTemplates>
                                        <ToolbarTemplate>
                                            <SfToolbar>
                                                <ToolbarItems>
                                                    <ToolbarItem Text="Detalle de Presupuestos"></ToolbarItem>
                                                </ToolbarItems>
                                            </SfToolbar>
                                        </ToolbarTemplate>
                                    </GridTemplates>
                                    <GridColumns>
                                        <GridColumn Field=@nameof(vEstadPresupuestos.PRESUP) HeaderText="PRESUP" Width="75px"></GridColumn>
                                        <GridColumn Field=@nameof(vEstadPresupuestos.FECHA) HeaderText="FECHA" Format="dd/MM/yyyy" Width="85px"></GridColumn>
                                        <GridColumn Field=@nameof(vEstadPresupuestos.CG_ART) HeaderText="PRODUCTO" Width="140px"></GridColumn>
                                        <GridColumn Field=@nameof(vEstadPresupuestos.DES_ART) HeaderText="DESCRIPCION" Width="250px"></GridColumn>
                                        <GridColumn Field=@nameof(vEstadPresupuestos.CANTENT) HeaderText="CANTIDAD" Width="100px"></GridColumn>
                                        <GridColumn Field=@nameof(vEstadPresupuestos.COTIZ) HeaderText="COTIZ" Width="80px"></GridColumn>
                                        <GridColumn Field=@nameof(vEstadPresupuestos.TOT_DOL) HeaderText="TOTAL DOL" Width="100px"></GridColumn>
                                        <GridColumn Field=@nameof(vEstadPresupuestos.MES) HeaderText="MES" Width="70px"></GridColumn>
                                        <GridColumn Field=@nameof(vEstadPresupuestos.ANIO) HeaderText="AÑO" Width="70px"></GridColumn>
                                    </GridColumns>
                                </SfGrid>
                            </div>
                        </div>
                    </div>
                </div>
            </ContentTemplate>
        </TabItem>
        <TabItem CssClass="tab-content">
            <ChildContent>
                <TabHeader Text="Proyectos"></TabHeader>
            </ChildContent>
            <ContentTemplate>
                <div class="col-lg-12 control-section">
                    <div class="content-wrapper">
                        <div class="row">
                            <SfGantt TValue="ProyectosGBPI" Height="450px" Width="100%" HighlightWeekends="true"
                                     Toolbar="@(new List<string>(){ "Add", "Edit", "Update", "Delete", "Cancel", "ExpandAll", "CollapseAll","Indent","Outdent"})"
                                     AllowSelection="true" GridLines="Syncfusion.Blazor.Gantt.GridLine.Both" TreeColumnIndex="1"
                                     ProjectStartDate="@ProjectStart" ProjectEndDate="@ProjectEnd" @ref="refGanttProyectos">
                                <SfDataManager Url="/api/Proyectos/Proyectos" Adaptor="Adaptors.WebApiAdaptor" CrossDomain="true"></SfDataManager>
                                <GanttTaskFields Id="TaskId" Name="TaskName" StartDate="StartDate" EndDate="EndDate" Duration="Duration" Progress="Progress"
                                                 Dependency="Predecessor" ParentID="ParentId" Notes="Notes"></GanttTaskFields>
                                <GanttEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true" AllowTaskbarEditing="true" ShowDeleteConfirmDialog="true"></GanttEditSettings>
                                <GanttTaskFields Id="TaskId" Name="TaskName" StartDate="StartDate"
                                                 Duration="Duration" Progress="Progress" Dependency="Predecessor" Child="SubTasks">
                                </GanttTaskFields>
                                <GanttColumns>
                                    <GanttColumn Field="TaskId" IsPrimaryKey="true" Width="100"></GanttColumn>
                                    <GanttColumn Field="TaskName" HeaderText="Job Name" Width="250" ClipMode="Syncfusion.Blazor.Grids.ClipMode.EllipsisWithTooltip"></GanttColumn>
                                    <GanttColumn Field="StartDate" HeaderText="Start Date"></GanttColumn>
                                    <GanttColumn Field="EndDate" HeaderText="End Date"></GanttColumn>
                                    <GanttColumn Field="Duration" HeaderText="Duration"></GanttColumn>
                                    <GanttColumn Field="Progress" HeaderText="Progress"></GanttColumn>
                                    <GanttColumn Field="Predecessor" HeaderText="Dependency"></GanttColumn>
                                </GanttColumns>
                                <GanttLabelSettings LeftLabel="TaskName" TValue="ProyectosGBPI">
                                </GanttLabelSettings>
                                <GanttSplitterSettings Position="40%"> </GanttSplitterSettings>
                            </SfGantt>
                        </div>
                    </div>
                </div>
            </ContentTemplate>
        </TabItem>
    </TabItems>
</SfTab>

@*GRADIANTES*@
<svg style="height: 0">
    <defs>
        <linearGradient id="card1-gradient-chart" x1="0%" y1="100%" x2="0%" y2="0%">
            <stop offset="0%" style="stop-color: rgb(33, 64, 220); stop-opacity: 1" />
            <stop offset="100%" style="stop-color: rgb(0, 191, 213); stop-opacity: 1 " />
        </linearGradient>
        <linearGradient id="card2-gradient-chart" x1="0%" y1="100%" x2="0%" y2="0%">
            <stop offset="0%" style="stop-color: rgb(4, 171, 17); stop-opacity: 1" />
            <stop offset="100%" style="stop-color: rgb(125, 214, 29); stop-opacity: 1 " />
        </linearGradient>
        <linearGradient id="card3-gradient-chart" x1="0%" y1="100%" x2="0%" y2="0%">
            <stop offset="0%" style="stop-color: rgb(242, 59, 59); stop-opacity: 1" />
            <stop offset="100%" style="stop-color: rgb(239, 144, 39); stop-opacity: 1 " />
        </linearGradient>
        <linearGradient id="card4-gradient-chart" x1="0%" y1="100%" x2="0%" y2="0%">
            <stop offset="0%" style="stop-color: rgb(41, 37, 166); stop-opacity: 1" />
            <stop offset="100%" style="stop-color: rgb(178, 80, 209); stop-opacity: 1 " />
        </linearGradient>
        <linearGradient id="card5-gradient-chart" x1="0%" y1="100%" x2="0%" y2="0%">
            <stop offset="0%" style="stop-color: rgb(239, 144, 39); stop-opacity: 1" />
            <stop offset="100%" style="stop-color: rgb(238 166 86); stop-opacity: 1 " />
        </linearGradient>
        <linearGradient id="card6-gradient-chart" x1="0%" y1="100%" x2="0%" y2="0%">
            <stop offset="0%" style="stop-color: rgb(255 0 110); stop-opacity: 1" />
            <stop offset="100%" style="stop-color: rgb(244 139 184); stop-opacity: 1 " />
        </linearGradient>
        <linearGradient id="card7-gradient-chart" x1="0%" y1="100%" x2="0%" y2="0%">
            <stop offset="0%" style="stop-color: rgb(166 107 37); stop-opacity: 1" />
            <stop offset="100%" style="stop-color: rgb(254 237 3); stop-opacity: 1 " />
        </linearGradient>
        <linearGradient id="card8-gradient-chart" x1="0%" y1="100%" x2="0%" y2="0%">
            <stop offset="0%" style="stop-color: rgb(249 220 2); stop-opacity: 1" />
            <stop offset="100%" style="stop-color: rgb(254 237 3); stop-opacity: 1 " />
        </linearGradient>
        <linearGradient id="card9-gradient-chart" x1="0%" y1="100%" x2="0%" y2="0%">
            <stop offset="0%" style="stop-color: rgb(0, 191, 213); stop-opacity: 1" />
            <stop offset="100%" style="stop-color: rgb(88 114 247); stop-opacity: 1 " />
        </linearGradient>
        <linearGradient id="card10-gradient-chart" x1="0%" y1="100%" x2="0%" y2="0%">
            <stop offset="0%" style="stop-color: rgb(228 24 24); stop-opacity: 1" />
            <stop offset="100%" style="stop-color: rgb(233 119 119); stop-opacity: 1 " />
        </linearGradient>
        <linearGradient id="card11-gradient-chart" x1="0%" y1="100%" x2="0%" y2="0%">
            <stop offset="0%" style="stop-color: rgb(33, 64, 220); stop-opacity: 1" />
            <stop offset="100%" style="stop-color: rgb(69 64 236); stop-opacity: 1 " />
        </linearGradient>
        <linearGradient id="card12-gradient-chart" x1="0%" y1="100%" x2="0%" y2="0%">
            <stop offset="0%" style="stop-color: rgb(125, 214, 29); stop-opacity: 1 " />
            <stop offset="100%" style="stop-color: rgb(33 116 39); stop-opacity: 1" />
        </linearGradient>
    </defs>
</svg>

<style>
    .pane {
        border: 1px solid transparent;
        background: #FFFFFF;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        border-radius: 6px;
    }

    .chart-title, .chart-subtitle {
        font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 400;
        font-weight: 400;
        letter-spacing: 0.02em;
        line-height: 16px;
        color: #545454 !important;
    }

    .card1:hover {
        background-color: #fff;
        box-shadow: 0 1px 4px 1px rgb(24 103 218 / 30%);
    }

    .card2:hover {
        background-color: #fff;
        box-shadow: 0 1px 4px 1px rgb(76 219 83 / 30%);
    }

    .card3:hover {
        background-color: #fff;
        /*border-color: #000;*/
        box-shadow: 0 1px 4px 1px rgb(241 106 48 / 20%);
    }

    .card4:hover {
        background-color: #fff;
        /*border-color: #000;*/
        box-shadow: 0 1px 4px 1px rgb(24 103 218 / 30%);
    }

    .card5:hover {
        background-color: #fff;
        /*border-color: #000;*/
        box-shadow: 0 1px 4px 1px rgb(216 157 28 / 30%);
    }
</style>