@page "/compras/proveedores"
@using EditMode = Syncfusion.Blazor.PivotView.EditMode
@using SelectionType = Syncfusion.Blazor.Grids.SelectionType
@using Syncfusion.Blazor.Buttons
@inherits GrillaProveBase
@attribute [Authorize]

<div class="row">
    <div class="col-12">
        <ComboVistasGrilla AppName="@APPNAME" StateApp="@state"
                           OnReiniciar="async () => await OnReinciarGrilla()"
                           OnVistaSelected="asyncv => await OnVistaSeleccionada(v)"/>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <SfToast ID="toast_default" @ref="ToastObj">
            <ToastPosition X="Center" Y="Top"></ToastPosition>
        </SfToast>
        <SfGrid AllowReordering="true" ShowColumnChooser="true" ShowColumnMenu="true" AllowResizing="true"
                @ref="refGrid" DataSource="@proveedorItris" Width="%100" Toolbar="Toolbaritems"
                AllowExcelExport="false" AllowGrouping="true" ID="grdProveedores" AllowFiltering="true"
                AllowSorting="true" AllowPaging="true" GridLines="GridLine.Both">

            <GridSelectionSettings CheckboxOnly="true" Type="SelectionType.Multiple"></GridSelectionSettings>
            <GridPageSettings PageSize="12" PageSizes="true"></GridPageSettings>
            <GridEvents OnActionBegin="OnActionBeginHandler" OnActionComplete="OnActionCompleteHandler" TValue="vProveedorItris"></GridEvents>
            <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>
            <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" AllowEditOnDblClick="false"
                              ShowDeleteConfirmDialog="false" Mode="Syncfusion.Blazor.Grids.EditMode.Dialog">
            </GridEditSettings>
            <GridColumns>
                <GridColumn Field="@nameof(vProveedorItris.Id)" HeaderText="Id" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
                <GridColumn Field="@nameof(vProveedorItris.DESCRIPCION)" HeaderText="DESCRIPCION" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
                <GridColumn Field="@nameof(vProveedorItris.CUIT)" HeaderText="CUIT" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
                <GridColumn Field="@nameof(vProveedorItris.NOMBRE_CONTACTO)" HeaderText="NOMBRE" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
                <GridColumn Field="@nameof(vProveedorItris.EMAIL_CONTACTO)" HeaderText="EMAIL" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
                <GridColumn Field="@nameof(vProveedorItris.TE)" HeaderText="TELÉFONO" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
                <GridColumn Field="@nameof(vProveedorItris.CALLE)" HeaderText="DIRECCIÓN" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
            </GridColumns>
            <SfSpinner @ref="refSpinner" Type="SpinnerType.Fabric" Size="50" @bind-Visible="@SpinnerVisible"></SfSpinner>
        </SfGrid>
    </div>

</div>


<style>
    .form-group.col-md-6 {
        width: 200px;
    }

    label.e-float-text {
        position: relative;
        padding-left: 0;
        top: 10%;
    }

    .e-input-group.e-control-wrapper.customClass {
        color: black;
        background-color: lightblue
    }

</style>

@code {
    public string edit = "Syncfusion.Blazor.PivotView.EditMode.Normal";
    public bool DblClick = true;
    public bool CommandColumnsClick;

    public EditMode SelectedMode = EditMode.Normal;

    public void OnRadioChange(ChangeArgs<string> args)
    {
        if (args.Value == "inline")
        {
            DblClick = true;
            CommandColumnsClick = false;
            SelectedMode = EditMode.Normal;
        }
        else if (args.Value == "batch")
        {
            DblClick = true;
            CommandColumnsClick = false;
            SelectedMode = EditMode.Batch;
        }
        else if (args.Value == "dialog")
        {
            DblClick = true;
            CommandColumnsClick = false;
            SelectedMode = EditMode.Dialog;
        }
        else
        {
            CommandColumnsClick = true;
        }
    }

}