﻿@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Layouts
@using SupplyChain.Client.Shared.BuscadorCliente
@using SupplyChain.Client.Shared.BuscadorProducto
@using SupplyChain.Client.Shared.BuscarSolicitud

@inherits FormPresupuestoBase


<SfDialog @bind-Visible="Show" IsModal="true" Width="80%" Height="650px" ShowCloseIcon="true">
<DialogEvents Closed="OnCerrarDialog"></DialogEvents>
<DialogAnimationSettings Effect="DialogEffect.FadeZoom" Duration="200"></DialogAnimationSettings>
<DialogTemplates>
    <Header>
        @if (Presupuesto.Id == 0)
        {
            <div class="e-dlg-header-titulo">Nuevo Presupuesto</div>
        }
        else
        {
            <div class="e-dlg-header-titulo">Presupuesto:&nbsp;&nbsp;@Presupuesto.Id&nbsp;&nbsp;-&nbsp;&nbsp;@Presupuesto.DES_CLI</div>
        }
    </Header>
    <Content>

        <EditForm id="formPresupuesto" Model="@Presupuesto" OnValidSubmit="@(async () => await Guardar())">
            <ObjectGraphDataAnnotationsValidator/>
            <ValidationSummary/>

            <div class="form-row">
                <div class="form-group col-md-1">
                    <label class="">#Cliente:</label>
                    <SfNumericTextBox ID="CG_CLI" @bind-Value="@(Presupuesto.CG_CLI)" ShowSpinButton="false" Readonly="false"
                                      OnInput="@(e => Cg_cli_Changed(e))">
                    </SfNumericTextBox>
                </div>
                <div class="form-group col-md-2" id="form-cli">
                    <label class="">Cliente:</label>
                    <SfTextBox CssClass="customClass" ID="Cliente" @bind-Value="@(Presupuesto.DES_CLI)" Input="@(e => Des_cli_Changed(e))" Readonly="false"></SfTextBox>
                </div>
                <div class="form-group col-md-1 mt-4" id="form-botton">
                    <SfButton IconCss="fa fa-search" CssClass="e-round e-info" OnClick="@(async () => await BuscarClientes())"
                              HtmlAttributes="@HtmlAttribute">
                    </SfButton>
                </div>
                <div class="form-group col-md-1" id="form-moneda">
                    <label class="">Moneda:</label>
                    <SfDropDownList TValue="string" TItem="string" DataSource="Monedas" Readonly="ReadOnlyMoneda"
                                    @bind-Value="Presupuesto.MONEDA">
                        <DropDownListEvents TItem="string" TValue="string" ValueChange="@CambioMoneda"></DropDownListEvents>
                    </SfDropDownList>
                </div>
                <div class="form-group col-md-1" id="form-tc">
                    <label class="">TC:</label>
                    <SfNumericTextBox ID="TC" @bind-Value="@(Presupuesto.TC)" ShowSpinButton="false" Decimals="2" Readonly="true"></SfNumericTextBox>
                </div>
                <div class="form-group col-md-0 mt-4" id="form-button-tc">
                    <SfButton IconCss="e-icons e-repeat" CssClass="e-round e-warning"
                              OnClick="@(async () => await GetTipoCambioDolarHoy())"
                              HtmlAttributes="@HtmlAttributeButtonTC">
                    </SfButton>
                </div>
               @*  <div class="form-group col-md-3 col" id="form-cond-pago">
                    <label class="">Condicion de Pago:</label>
                    <SfDropDownList TValue="int" TItem="vCondicionesPago" @bind-Value="Presupuesto.CONDICION_PAGO"
                                    DataSource="condicionesPagos">
                        <DropDownListFieldSettings Text="DESCRIPCION" Value="Id"></DropDownListFieldSettings>
                    </SfDropDownList>
                </div> *@
                <div class="form-group col-md-2" id="btns">
                    <SfButton Content="Solicitudes" CssClass="e-btn e-small e-info mb-1 e-block" OnClick="@BuscarSolicitudes">
                    </SfButton>
                        <SfButton Content="Productos" CssClass="e-btn e-small e-info mb-1 e-block" OnClick="@BuscarProductos">
                        </SfButton>
                        <SfButton Content="Reparaciones" CssClass="e-btn e-small e-info e-block" OnClick="@BuscarReparaciones">
                        </SfButton>
                </div>
                @* <div class="form-group col-md-1">
                    <label class=""></label>
                    <SfButton Content="Productos" CssClass="e-btn e-small e-info e-block" OnClick="@BuscarProductos">
                    </SfButton>
                </div>
                <div class="form-group col-md-1">
                    <label class=""></label>
                    <SfButton Content="Reparaciones" CssClass="e-btn e-small e-info e-block" OnClick="@BuscarReparaciones">
                    </SfButton>
                </div> *@
            </div>
                
            <div class="form-row">
                <div class="form-group col-md-2" id="form-cond-ent">
                    <label class="">Condicion de Entrega:</label>
                    <SfDropDownList TValue="int" TItem="vCondicionesEntrega" @bind-Value="Presupuesto.CG_COND_ENTREGA"
                                    DataSource="condicionesEntrega">
                        <DropDownListFieldSettings Text="OBSERVACIONES" Value="Id"></DropDownListFieldSettings>
                    </SfDropDownList>
                </div>
                
                <div class="form-group col-md-5" id="form-dire-entr">
                        <label class="">Condicion de Pago:</label>
                        <SfDropDownList TValue="int" TItem="vCondicionesPago" @bind-Value="Presupuesto.CONDICION_PAGO"
                                        DataSource="condicionesPagos">
                            <DropDownListFieldSettings Text="DESCRIPCION" Value="Id"></DropDownListFieldSettings>
                        </SfDropDownList>
                        <label class="">Direccion de Entrega:</label>
                    <SfDropDownList TValue="string" TItem="string" DataSource="direccionesEntregas"
                                    @bind-Value="Presupuesto.DIRENT">
                    </SfDropDownList>
                        @* <div class="form-group col-md-3" id="form-cond-pago"> *@
                            
                        @* </div> *@
                </div>
                <div class="form-group col-md-1">
                    <label class="">Proyecto:</label>
                    <SfTextBox ID="Proy" @bind-Value="@(Presupuesto.PROYECTO)"></SfTextBox>
                    <label class="">Aviso:</label>
                    <SfTextBox ID="Aviso" @bind-Value="@(Presupuesto.AVISO)"></SfTextBox>
                </div>
                <div class="form-group col-md-1">
                    <label class="">Ingenieria:</label>
                    <SfTextBox ID="Inge" @bind-Value="@(Presupuesto.INGENIERIA)"></SfTextBox>
                </div>
                <div class="form-group col-md-1">
                    <label class="">Revision:</label>
                    <SfTextBox ID="Proy" @bind-Value="@(Presupuesto.REVISION)"></SfTextBox>
                </div>
                <div class="form-group col-md-1">
                    <label class="">Nro Doc.:</label>
                    <SfTextBox ID="NroDoc" @bind-Value="@(Presupuesto.NRODOC)"></SfTextBox>
                </div>
                <div class="form-group col-md-1" id="form-bonif">
                    <label class="">Bonificacion:</label>
                    <SfNumericTextBox ID="Bonifc" @bind-Value="@(Presupuesto.BONIFIC)" ShowSpinButton="false" Decimals="2"></SfNumericTextBox>
                </div>
            </div>
           @*  <div class="form-row">
                    <div class="form-group col-md-3" id="form-cond-pago">
                        <label class="">Condicion de Pago:</label>
                        <SfDropDownList TValue="int" TItem="vCondicionesPago" @bind-Value="Presupuesto.CONDICION_PAGO"
                                        DataSource="condicionesPagos">
                            <DropDownListFieldSettings Text="DESCRIPCION" Value="Id"></DropDownListFieldSettings>
                        </SfDropDownList>
                    </div>
                </div> *@
            <div class="row">
                <div class="col-12">
                    <SfToast ID="toast_default" @ref="ToastObj">
                        <ToastPosition X="Center" Y="Top"></ToastPosition>
                    </SfToast>

                    <SfGrid AllowReordering="true" AllowResizing="true" AllowTextWrap="false" Height="260px"
                            @ref="refGridItems" DataSource="@Presupuesto.Items" Width="1170" ID="grdItemsPresup"
                            AllowSorting="true" AllowPaging="false" GridLines="GridLine.Both">
                        <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Single"></GridSelectionSettings>
                        @*<GridPageSettings PageSize="10" PageSizes="true"></GridPageSettings>*@
                        <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" ShowConfirmDialog="false"
                                          Mode="@Syncfusion.Blazor.Grids.EditMode.Batch">
                            <GridEvents TValue="PresupuestoDetalle" OnBatchDelete="BatchDeleteHandler"
                                        CellSaved="CellSavedHandler" OnBatchAdd="BatchAddHandler" OnBatchSave="BatchSaveHandler">
                            </GridEvents>
                        </GridEditSettings>
                        <GridColumns>
                            <GridColumn Field=@nameof(PresupuestoDetalle.Id) IsPrimaryKey="true" Width="4"></GridColumn>
                            <GridColumn Field=@nameof(PresupuestoDetalle.CG_ART) AllowEditing="false" HeaderText="Producto" TextAlign="TextAlign.Left" Width="auto"></GridColumn>
                            <GridColumn Field=@nameof(PresupuestoDetalle.DES_ART) AllowEditing="false" HeaderText="Descripcion" TextAlign="TextAlign.Left" Width="auto"></GridColumn>
                            <GridColumn Field=@nameof(PresupuestoDetalle.CANTIDAD) HeaderText="Cantidad" TextAlign="TextAlign.Left" Width="auto">
                                <EditTemplate Context="detalle">
                                    @{
                                        var value = (detalle as PresupuestoDetalle);
                                        <SfNumericTextBox @bind-Value="value.CANTIDAD" Decimals="0" ShowSpinButton="false"></SfNumericTextBox>
                                    }
                                </EditTemplate>
                            </GridColumn>
                            <GridColumn Field=@nameof(PresupuestoDetalle.PREC_UNIT) HeaderText="Precio Unit." TextAlign="TextAlign.Left" Width="auto"
                                        EditType="EditType.NumericEdit" Format="N2">
                                <EditTemplate Context="detalle">
                                    @{
                                        var value = (detalle as PresupuestoDetalle);
                                        <SfNumericTextBox @bind-Value="value.PREC_UNIT" Decimals="2" ShowSpinButton="false"></SfNumericTextBox>
                                    }
                                </EditTemplate>
                            </GridColumn>
                                <GridColumn Field="@nameof(PresupuestoDetalle.DIAS_PLAZO_ENTREGA)" HeaderText="Dias Entrega" Width="auto">
                                    <EditTemplate Context="detalle">
                                        @{
                                            var value = (detalle as PresupuestoDetalle);
                                        <SfNumericTextBox @bind-Value="value.DIAS_PLAZO_ENTREGA" Decimals="0" ShowSpinButton="false"></SfNumericTextBox>
                                        }
                                    </EditTemplate>
                                </GridColumn>
                            <GridColumn Field=@nameof(PresupuestoDetalle.PREC_UNIT_X_CANTIDAD) AllowEditing="false" Format="C2"
                                        HeaderText="Neto" TextAlign="TextAlign.Left" Width="auto">
                                <Template Context="detalle">
                                    @{
                                        var value = (detalle as PresupuestoDetalle);
                                        var res = value.CANTIDAD * (decimal)value.PREC_UNIT;
                                        value.PREC_UNIT_X_CANTIDAD = Math.Round(value.CANTIDAD * (decimal)value.PREC_UNIT, 2);
                                        <span> @value.PREC_UNIT_X_CANTIDAD </span>
                                    }
                                </Template>
                            </GridColumn>
                            <GridColumn Field=@nameof(PresupuestoDetalle.DESCUENTO) HeaderText="% Descuento" Format="N2" TextAlign="TextAlign.Left" Width="auto">
                                <Template Context="detalle">
                                    @{
                                        var value = (detalle as PresupuestoDetalle);
                                        value.DESCUENTO = Math.Round(value.DESCUENTO, 2);
                                        <span>@value.DESCUENTO</span>

                                    }
                                </Template>
                                <EditTemplate Context="detalle">
                                    @{
                                        var value = (detalle as PresupuestoDetalle);
                                        <SfNumericTextBox @bind-Value="value.DESCUENTO" Decimals="2" ShowSpinButton="false"></SfNumericTextBox>
                                    }
                                </EditTemplate>
                            </GridColumn>
                            <GridColumn Field=@nameof(PresupuestoDetalle.IMP_DESCUENTO) HeaderText="Descuento" Format="N2" TextAlign="TextAlign.Left" Width="auto">
                                <Template Context="detalle">
                                    @{
                                        var value = (detalle as PresupuestoDetalle);
                                        if (value.DESCUENTO > 0)
                                        {
                                            var res = Math.Round(value.PREC_UNIT_X_CANTIDAD * (decimal)value.DESCUENTO / 100, 2);
                                            value.IMP_DESCUENTO = Math.Round(res, 2);
                                        }

                                        <span>@value.IMP_DESCUENTO</span>
                                    }
                                </Template>
                            </GridColumn>
                            <GridColumn Field="@nameof(PresupuestoDetalle.TOTAL)" Format="N2" HeaderText="Total" Width="auto">
                                <Template Context="detalle">
                                    @{
                                        var value = (detalle as PresupuestoDetalle);
                                        var res = Math.Round(value.PREC_UNIT_X_CANTIDAD - value.IMP_DESCUENTO, 2);
                                        value.TOTAL = Math.Round(res, 2);
                                        <span>@value.TOTAL</span>
                                    }
                                </Template>
                            </GridColumn>
                            <GridColumn Field="@nameof(PresupuestoDetalle.PRESIONAPERTURA)" HeaderText="Presion Apertura" Width="auto" AllowEditing="false"></GridColumn>
                            <GridColumn Field="@nameof(PresupuestoDetalle.TEMPERATURADESCARGAT)" HeaderText="Temperatura" Width="auto" AllowEditing="false"></GridColumn>
                            <GridColumn Field="@nameof(PresupuestoDetalle.DESCRIPCIONFLUIDO)" HeaderText="Fluido" Width="auto" AllowEditing="false"></GridColumn>
                            <GridColumn Field="@nameof(PresupuestoDetalle.CONTRAPRESIONVARIABLE)" HeaderText="Contrapresion Variable" Width="auto" AllowEditing="false"></GridColumn>
                            <GridColumn Field="@nameof(PresupuestoDetalle.CONTRAPRESIONFIJA)" HeaderText="Contrapresion Fija" Width="auto" AllowEditing="false"></GridColumn>
                            <GridColumn Field="@nameof(PresupuestoDetalle.CAPACIDADREQUERIDA)" HeaderText="Capacidad" Width="auto" AllowEditing="false"></GridColumn>
                            <GridColumn Field="@nameof(PresupuestoDetalle.DESCRIPCIONTAG)" HeaderText="Identificacion" Width="auto" AllowEditing="false"></GridColumn>
                            <GridColumn Field="@nameof(PresupuestoDetalle.SOLICITUDID)" HeaderText="Nº Solicitud" Width="auto" AllowEditing="false"></GridColumn>
                            <GridColumn Field="@nameof(PresupuestoDetalle.OBSERITEM)" HeaderText="Observaciones" Width="200px"></GridColumn>
                                @* <GridColumn Field=@nameof(PresupuestoDetalle.AVISO) HeaderText="Aviso" Format="N2" Width="auto">
                                    <Template Context="aviso">
                                        @{
                                            var value = (aviso as PresupuestoDetalle);
                                        }
                                        <p>
                                            @value.AVISO
                                        </p>
                                    </Template>
                                </GridColumn> *@
                        
                        </GridColumns>
                    </SfGrid>
                </div>
            </div>
            <ValidationSummary/>
        </EditForm>
    </Content>
    <FooterTemplate >
        @{
            var cantItems = Convert.ToInt32(Presupuesto.Items.Sum(i => i.CANTIDAD));
            var totalItems = Math.Round(Presupuesto.Items.Sum(i => i.TOTAL), 2);
            var bonficacion = Math.Round(totalItems * Presupuesto.BONIFIC / 100, 2);
            var total = Presupuesto.TOTAL = Math.Round(totalItems - bonficacion, 2);
            var moneda = "$";
            if (Presupuesto.MONEDA == "PESOS")
            {
                moneda = "$";
            }
            else
            {
                moneda = "U$S";
            }
        }
        <div class="row">
            <div class="col-2">
                <div class="total-price">Items : @cantItems</div>
            </div>
            <div class="col-2">
                <div class="total-price">SUBTOTAL @moneda : @totalItems</div>
            </div>
            <div class="col-2" style="text-align:center">
                <div class="total-price">BONIF. (@Presupuesto.BONIFIC %) @moneda : @bonficacion</div>
            </div>
            <div class="col-2" style="text-align:right">
                <div class="total-price">TOTAL @moneda : @total</div>
            </div>
            <div class="col-4 text-right">
                    <SfButton IsPrimary="true" Content="Guardar" IconCss="fa fa-save" HtmlAttributes="@HtmlAttributeSubmit" Disabled="@BotonGuardarDisabled"></SfButton>
                <SfButton Content="Cancel" HtmlAttributes="@HtmlAttribute" OnClick="@(async () => await Hide())" IconCss="fa fa-window-close-o"></SfButton>
            </div>
        </div>
    </FooterTemplate>
</DialogTemplates>
</SfDialog>

<SfSpinner @ref="@refSpinnerCli" Size="50" @bind-Visible="@SpinnerVisible"
           Label="Buscando ..." Type="SpinnerType.Fabric">
</SfSpinner>

<ClientesDialog @ref="refClienteDialog" PopupBuscadorVisible="@popupBuscadorVisibleCliente"
                OnObjectSelected="@ClienteExternoSelected" Cg_Cli="@Presupuesto.CG_CLI" Des_Cli="@Presupuesto.DES_CLI"
                OnCerrarDialog="CerrarDialogCliente">
</ClientesDialog>

<SupplyChain.Client.Shared.BuscadorPrecios.PreciosDialog @ref="refPrecioDialog" PopupBuscadorVisible="@popupBuscadorVisiblePrecio"
                                                         OnObjectSelected="@PrecioSelected" SoloReparaciones="@buscarSoloReparaciones"
                                                         OnCerrarDialog="CerrarDialogPrecio">
</SupplyChain.Client.Shared.BuscadorPrecios.PreciosDialog>


<ProductoDialog @ref="refProductoDialog" PopupBuscadorVisible="@popupBuscadorVisibleProducto"
                OnObjectSelected="@ProductoSelected"
                OnCerrarDialog="CerrarDialogProducto">
</ProductoDialog>

<SolicitudesDialog @ref="refSolicitudDialog" PopupBuscadorVisible="@popupBuscadorVisibleSolicitud"
                   OnObjectSelected="@SolicitudSelected" ConPrecio="true" CompararCliente="true"
                   OnCerrarDialog="CerrarDialogSolicitud" TipoFiltro="SupplyChain.Shared.Enum.TipoFiltro.Pendientes">
</SolicitudesDialog>


<style>

    
    #form-tc {
        position: relative;
        right: 25px;
    }

    #form-button {
        position: relative;
        right: 10px;
    }

    #form-buttons {
        position: relative;
        width: 37%;
    }

    #form-moneda {
        position: relative;
        right: 30px;
    }
    #form-pro{
        position:relative;
        left:15px;
    }
    #form-ing{
        position:relative;
        left:15px;
    }

    #form-nro {
        position: relative;
        left:15px;
    }

    #form-rev {
        position: relative;
        left:15px;
    }
    #form-bonif {
        position: relative;
        /* right: 35px; */
    }

    #form-button-tc {
        position: relative;
        right: 29px;
    }

    #btns{
        position:relative;
        left:350px;
    }
    #form-cond-pago {
        position: relative;
        /* left:190px;
        bottom:15px; */
    }

    #form-cond-ent {
        position: relative;
    }

    #form-dire-entr {
        position: relative;
    }

    #toolbar-form-solicitud {
        border: 0px solid rgb(173, 255, 47) !important;
    }

        #toolbar-form-solicitud .e-toolbar-item {
            /*background: #add8e6;*/
            /*border: 1px solid #5a70cc;*/
        }

        #toolbar-form-solicitud .e-tbar-btn {
            background: #398bf7;
            border-radius: 10%;
            /*border: 1px solid #5a70cc;*/
        }

        #toolbar-form-solicitud .e-toolbar-item:hover {
            background: #619ded;
            /*border: 1px solid #5a70cc;*/
        }

        #toolbar-form-solicitud .e-toolbar-items .e-toolbar-item .e-tbar-btn.e-btn {
            min-height: 20px;
        }

            #toolbar-form-solicitud .e-toolbar-items .e-toolbar-item .e-tbar-btn.e-btn:hover {
                background-color: #4f70ee;
                border-radius: 10%;
            }


        #toolbar-form-solicitud .e-toolbar-items .e-toolbar-item .e-tbar-btn-text {
            color: white;
        }

        #toolbar-form-solicitud .e-tbar-btn:focus {
            background: #3d53a8;
            border-color: #eaeaea;
            border-radius: 0;
            color: #000;
        }


    .container-total {
        text-align: left;
    }

    .total-price {
        font-family: Tahoma;
        font-weight: bold;
        font-size: 11px;
    }

    #grdItemsPresup .e-gridheader .e-headercell, .e-grid-min-height .e-gridheader .e-detailheadercell,
    #grdItemsPresup .e-gridheader .e-headercell .e-headercelldiv {
        background-color: #398bf7 !important;
        color: #ffffff !important;
        font-weight: 500 !important;
        font-size: 11px !important;
        padding: .1rem !important;
    }

    #grdItemsPresup .e-gridheader {
        background-color: #398bf7 !important;
        color: #ffffff !important;
        font-weight: 500 !important;
        font-size: 10px !important;
        /*padding: .5rem !important;*/
    }

    #grdItemsPresup .e-row .e-rowcell {
        font-size: 12px !important;
    }

    .form-detalle {
        position: relative;
        margin-top: -100px;
        left: 150px;
    }
    /**/
</style>