@page "/ventas/estado-pedidos-valorizado"
@using Syncfusion.Blazor.LinearGauge
@inherits EstadoPedidosValorizadoBase
@attribute [Authorize]

<SfToast ID="toast_default" @ref="ToastObj">
    <ToastPosition X="Center" Y="Top"></ToastPosition>
</SfToast>
<div class="row mt-3">
    <div class="col-12">
        <ComboVistasGrilla AppName="@APPNAME" StateApp="@state"
                           OnReiniciar="(async ()=> await OnReiniciarGrilla())"
                           OnVistaSelected="(async(v)=> await OnVistaSeleccionada(v))" />
    </div>

</div>

<div class="">
    <div class="">
        <div class="row">
            <div class="col-12">
                <SfGrid @ref="refSfGrid" AllowReordering="true" ShowColumnChooser="false" ShowColumnMenu="true" AllowResizing="true"
                        DataSource="@DataEstadoPedidoValorizado" Width="100%"
                        AllowExcelExport="true" AllowGrouping="true" ID="grdEstadoPedidosValorizado"
                        AllowSorting="true" AllowPaging="true" AllowFiltering="true" GridLines="GridLine.Both">
                    <GridEvents RowDataBound="RowBound" TValue="vEstadoPedido" RowSelected="@((a)=> OnRowSelected(a))"
                                OnRecordDoubleClick="@((a)=> OnRowSelectedDouble_Click(a))"
                                CommandClicked="CommandClickHandler" OnToolbarClick="@(async(a)=> await ClickHandler(a))"
                                OnActionBegin="@((a)=> BeginHandler(a))"
                                QueryCellInfo="@((a)=> QueryCellInfoHandler(a))"></GridEvents>
                    <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Single"></GridSelectionSettings>
                    <GridPageSettings PageSize="12" PageSizes="true"></GridPageSettings>
                    <GridAggregates>
                        <GridAggregate>
                            <GridAggregateColumns>
                                <GridAggregateColumn Field=@nameof(vEstadoPedido.TOT_DOL) Type="AggregateType.Sum" Format="C2">
                                    <GroupFooterTemplate>
                                        @{
                                            var aggregate = (context as AggregateTemplateContext);
                                            <div>
                                                <p>TOTAL P/ESTADO: @aggregate.Sum</p>
                                            </div>
                                        }
                                    </GroupFooterTemplate>
                                    <FooterTemplate>
                                        @{
                                            var aggregate = (context as AggregateTemplateContext);
                                            <div>
                                                <p>TOTAL: @aggregate.Sum </p>
                                            </div>
                                        }
                                    </FooterTemplate>
                                </GridAggregateColumn>
                            </GridAggregateColumns>
                        </GridAggregate>
                    </GridAggregates>
                    <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>
                    <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false"></GridEditSettings>
                    <GridColumns>
                        <GridColumn HeaderText="Acciones" Width="130">
                            <GridCommandColumns>

                                @*LAS BOTONES SE ESCONDEN AGREGANDO LA CLASE ATRAVES DEL EVENTO RowBound*@

                                <GridCommandColumn Type="CommandButtonType.Delete" Title="Descargar Factura" ID="btnDescargarFactura"
                                                   ButtonOption="@(new CommandButtonOptions() { IconCss = "fa fa-usd", CssClass = "" })"></GridCommandColumn>
                                <GridCommandColumn Type="CommandButtonType.Edit" Title="Descargar Remito" ID="btnDescargarRemito"
                                                   ButtonOption="@(new CommandButtonOptions() { IconCss = "fa fa-cubes fa-1", CssClass = "" })"></GridCommandColumn>

                                <GridCommandColumn Type="CommandButtonType.Edit" Title="Descargar Certificados" ID="btnDescargarCertificado"
                                                   ButtonOption="@(new CommandButtonOptions() { IconCss = "fa fa-download fa-1", CssClass = "" })"></GridCommandColumn>
                            </GridCommandColumns>
                        </GridColumn>
                        <GridColumn Field=@nameof(vEstadoPedido.FE_PED) HeaderText="FECHA PEDIDO" Width="150" Type="ColumnType.DateTime" Format="dd/MM/yyyy"></GridColumn>
                        <GridColumn Field=@nameof(vEstadoPedido.PEDIDO) HeaderText="PEDIDO" Width="120"></GridColumn>
                        <GridColumn Field=@nameof(vEstadoPedido.REMITO) HeaderText="REMITO" Width="120"></GridColumn>
                        <GridColumn Field=@nameof(vEstadoPedido.FACTURA) HeaderText="FACTURA" Width="120"></GridColumn>
                        <GridColumn Field=@nameof(vEstadoPedido.RECIBO) HeaderText="RECIBO" Width="120"></GridColumn>
                        <GridColumn Field=@nameof(vEstadoPedido.CONDICION_PAGO) HeaderText="CONDICION PAGO" Width="180"></GridColumn>

                        <GridColumn Field=@nameof(vEstadoPedido.DESCRIPCION_ESTADO_PEDIDO) HeaderText="ESTADO PEDIDO" Width="180">
                        </GridColumn>
                        <GridColumn Field=@nameof(vEstadoPedido.CG_CLI) HeaderText="CODIGO CLIENTE" Width="150"></GridColumn>
                        <GridColumn Field=@nameof(vEstadoPedido.DES_CLI) HeaderText="DESCRIPCION CLIENTE" Width="230"></GridColumn>
                        <GridColumn Field=@nameof(vEstadoPedido.CG_ART) HeaderText="CODIGO PRODUCTO" Width="180"></GridColumn>
                        <GridColumn Field=@nameof(vEstadoPedido.DES_ART) HeaderText="PRODUCTO" Width="250"></GridColumn>
                        <GridColumn Field=@nameof(vEstadoPedido.CANTPED) HeaderText="CANTIDAD" Width="150"></GridColumn>
                        <GridColumn Field=@nameof(vEstadoPedido.UNID) HeaderText="UNIDAD" Width="120"></GridColumn>
                        <GridColumn Field=@nameof(vEstadoPedido.ORCO) HeaderText="ORDEN DE COMPRA" Width="120"></GridColumn>
                        <GridColumn Field=@nameof(vEstadoPedido.NUM_OCI) HeaderText="OC INTERNA" Width="120"></GridColumn>
                        <GridColumn Field=@nameof(vEstadoPedido.FE_PREV) HeaderText="FECHA PREVISTA" Width="150" Type="ColumnType.DateTime" Format="dd/MM/yyyy"></GridColumn>
                        <GridColumn Field=@nameof(vEstadoPedido.OBSERITEM) HeaderText="OBSERVACIONES" Width="220"></GridColumn>
                        <GridColumn Field=@nameof(vEstadoPedido.TOT_DOL) HeaderText="PRECIO $USD" Width="120"></GridColumn>

                    </GridColumns>
                    <SfSpinner Type="SpinnerType.Fabric" Size="50" Label="Cargando..." @bind-Visible="@SpinnerVisible"></SfSpinner>
                </SfGrid>
            </div>

        </div>
    </div>
</div>
<SfDialog Height="450px" Width="80%" Target="#target" ShowCloseIcon="true" @bind-Visible="@VisibleDialog"
          IsModal="true" EnableResize="false">
    <DialogTemplates>
        <Header>
            Detalle Pedido @PedidoSeleccionadoValorizado.PEDIDO - @PedidoSeleccionadoValorizado.DES_ART.ToUpper()
        </Header>
        <Content>
            <SfLinearGauge Orientation="Orientation.Horizontal" Background="transparent" Title=@($"Estado Pedido - Fecha prevista: {PedidoSeleccionadoValorizado.FE_PREV.ToString("dd-MM-yyyy")}") AllowPdfExport="true"
                           Height="250px">
                <LinearGaugeEvents AxisLabelRendering="AxisLabelChange" />
                <LinearGaugeAnnotations>
                    <LinearGaugeAnnotation ZIndex="1" AxisValue="100"
                                           X="-110" Y="-35">
                        <ContentTemplate>
                            <label class="label label-info">Speed to get higher milage</label>
                        </ContentTemplate>
                    </LinearGaugeAnnotation>
                </LinearGaugeAnnotations>
                <LinearGaugeAxes>
                    <LinearGaugeAxis Minimum="2" Maximum="7" OpposedPosition="true">
                        <LinearGaugeLine Width="5" />
                        <LinearGaugeMajorTicks Height="0" />
                        <LinearGaugeMinorTicks Height="0" />
                        <LinearGaugeAxisLabelStyle Offset="10">
                            <LinearGaugeAxisLabelFont FontFamily="inherit" Size="12px" FontWeight="100" />
                        </LinearGaugeAxisLabelStyle>
                        <LinearGaugePointers>
                            @if (PedidoSeleccionadoValorizado.ESTADO_PEDIDO == 1 || PedidoSeleccionadoValorizado.ESTADO_PEDIDO == 2)
                            {
                                <LinearGaugePointer PointerValue="2" Height="25" Width="25"
                                                    Placement="Syncfusion.Blazor.LinearGauge.Placement.Near" MarkerType="MarkerType.Image" ImageUrl="./Imagenes/tick-icon.png" />
                                <LinearGaugePointer PointerValue="3" Height="25" Width="25"
                                                    Placement="Syncfusion.Blazor.LinearGauge.Placement.Far" Position="Syncfusion.Blazor.LinearGauge.Position.Cross" Color="#D1D9DD" MarkerType="MarkerType.Circle" Offset="-2" />
                                <LinearGaugePointer PointerValue="4" Height="25" Width="25"
                                                    Placement="Syncfusion.Blazor.LinearGauge.Placement.Far" Position="Syncfusion.Blazor.LinearGauge.Position.Cross" Color="#D1D9DD" MarkerType="MarkerType.Circle" Offset="-2" />
                                <LinearGaugePointer PointerValue="5" Height="25" Width="25"
                                                    Placement="Syncfusion.Blazor.LinearGauge.Placement.Far" Position="Syncfusion.Blazor.LinearGauge.Position.Cross" Color="#D1D9DD" MarkerType="MarkerType.Circle" Offset="-2" />
                                <LinearGaugePointer PointerValue="6" Height="25" Width="25"
                                                    Placement="Syncfusion.Blazor.LinearGauge.Placement.Far" Position="Syncfusion.Blazor.LinearGauge.Position.Cross" Color="#D1D9DD" MarkerType="MarkerType.Circle" Offset="-2" />
                                <LinearGaugePointer PointerValue="7" Height="25" Width="15"
                                                    Placement="Syncfusion.Blazor.LinearGauge.Placement.Far" Position="Syncfusion.Blazor.LinearGauge.Position.Cross" Color="#D1D9DD" MarkerType="MarkerType.Circle" Offset="-2" />
                            }
                            @if (PedidoSeleccionadoValorizado.ESTADO_PEDIDO == 3)
                            {
                                <LinearGaugePointer PointerValue="2" Height="25" Width="25"
                                                    Placement="Syncfusion.Blazor.LinearGauge.Placement.Near" MarkerType="MarkerType.Image" ImageUrl="./Imagenes/tick-icon.png" />
                                <LinearGaugePointer PointerValue="3" Height="25" Width="25"
                                                    Placement="Syncfusion.Blazor.LinearGauge.Placement.Near" MarkerType="MarkerType.Image" ImageUrl="./Imagenes/tick-icon.png" />
                                <LinearGaugePointer PointerValue="4" Height="25" Width="25"
                                                    Placement="Syncfusion.Blazor.LinearGauge.Placement.Far" Position="Syncfusion.Blazor.LinearGauge.Position.Cross" Color="#D1D9DD" MarkerType="MarkerType.Circle" Offset="-2" />
                                <LinearGaugePointer PointerValue="5" Height="25" Width="25"
                                                    Placement="Syncfusion.Blazor.LinearGauge.Placement.Far" Position="Syncfusion.Blazor.LinearGauge.Position.Cross" Color="#D1D9DD" MarkerType="MarkerType.Circle" Offset="-2" />
                                <LinearGaugePointer PointerValue="6" Height="25" Width="25"
                                                    Placement="Syncfusion.Blazor.LinearGauge.Placement.Far" Position="Syncfusion.Blazor.LinearGauge.Position.Cross" Color="#D1D9DD" MarkerType="MarkerType.Circle" Offset="-2" />
                                <LinearGaugePointer PointerValue="7" Height="25" Width="15"
                                                    Placement="Syncfusion.Blazor.LinearGauge.Placement.Far" Position="Syncfusion.Blazor.LinearGauge.Position.Cross" Color="#D1D9DD" MarkerType="MarkerType.Circle" Offset="-2" />
                            }
                            @if (PedidoSeleccionadoValorizado.ESTADO_PEDIDO == 5)
                            {
                                <LinearGaugePointer PointerValue="2" Height="25" Width="25"
                                                    Placement="Syncfusion.Blazor.LinearGauge.Placement.Near" MarkerType="MarkerType.Image" ImageUrl="./Imagenes/tick-icon.png" />
                                <LinearGaugePointer PointerValue="3" Height="25" Width="25"
                                                    Placement="Syncfusion.Blazor.LinearGauge.Placement.Near" MarkerType="MarkerType.Image" ImageUrl="./Imagenes/tick-icon.png" />
                                <LinearGaugePointer PointerValue="4" Height="25" Width="25"
                                                    Placement="Syncfusion.Blazor.LinearGauge.Placement.Near" MarkerType="MarkerType.Image" ImageUrl="./Imagenes/tick-icon.png" />
                                <LinearGaugePointer PointerValue="5" Height="25" Width="25"
                                                    Placement="Syncfusion.Blazor.LinearGauge.Placement.Far" Position="Syncfusion.Blazor.LinearGauge.Position.Cross" Color="#D1D9DD" MarkerType="MarkerType.Circle" Offset="-2" />
                                <LinearGaugePointer PointerValue="6" Height="25" Width="25"
                                                    Placement="Syncfusion.Blazor.LinearGauge.Placement.Far" Position="Syncfusion.Blazor.LinearGauge.Position.Cross" Color="#D1D9DD" MarkerType="MarkerType.Circle" Offset="-2" />
                                <LinearGaugePointer PointerValue="7" Height="25" Width="15"
                                                    Placement="Syncfusion.Blazor.LinearGauge.Placement.Far" Position="Syncfusion.Blazor.LinearGauge.Position.Cross" Color="#D1D9DD" MarkerType="MarkerType.Circle" Offset="-2" />
                            }
                            @if (PedidoSeleccionadoValorizado.ESTADO_PEDIDO == 6)
                            {
                                <LinearGaugePointer PointerValue="2" Height="25" Width="25"
                                                    Placement="Syncfusion.Blazor.LinearGauge.Placement.Near" MarkerType="MarkerType.Image" ImageUrl="./Imagenes/tick-icon.png" />
                                <LinearGaugePointer PointerValue="3" Height="25" Width="25"
                                                    Placement="Syncfusion.Blazor.LinearGauge.Placement.Near" MarkerType="MarkerType.Image" ImageUrl="./Imagenes/tick-icon.png" />
                                <LinearGaugePointer PointerValue="4" Height="25" Width="25"
                                                    Placement="Syncfusion.Blazor.LinearGauge.Placement.Near" MarkerType="MarkerType.Image" ImageUrl="./Imagenes/tick-icon.png" />
                                <LinearGaugePointer PointerValue="5" Height="25" Width="25"
                                                    Placement="Syncfusion.Blazor.LinearGauge.Placement.Near" MarkerType="MarkerType.Image" ImageUrl="./Imagenes/tick-icon.png" />
                                <LinearGaugePointer PointerValue="6" Height="25" Width="25"
                                                    Placement="Syncfusion.Blazor.LinearGauge.Placement.Far" Position="Syncfusion.Blazor.LinearGauge.Position.Cross" Color="#D1D9DD" MarkerType="MarkerType.Circle" Offset="-2" />
                                <LinearGaugePointer PointerValue="7" Height="25" Width="15"
                                                    Placement="Syncfusion.Blazor.LinearGauge.Placement.Far" Position="Syncfusion.Blazor.LinearGauge.Position.Cross" Color="#D1D9DD" MarkerType="MarkerType.Circle" Offset="-2" />
                            }
                            @if (PedidoSeleccionadoValorizado.ESTADO_PEDIDO == 7)
                            {
                                <LinearGaugePointer PointerValue="2" Height="25" Width="25"
                                                    Placement="Syncfusion.Blazor.LinearGauge.Placement.Near" MarkerType="MarkerType.Image" ImageUrl="./Imagenes/tick-icon.png" />
                                <LinearGaugePointer PointerValue="3" Height="25" Width="25"
                                                    Placement="Syncfusion.Blazor.LinearGauge.Placement.Near" MarkerType="MarkerType.Image" ImageUrl="./Imagenes/tick-icon.png" />
                                <LinearGaugePointer PointerValue="4" Height="25" Width="25"
                                                    Placement="Syncfusion.Blazor.LinearGauge.Placement.Near" MarkerType="MarkerType.Image" ImageUrl="./Imagenes/tick-icon.png" />
                                <LinearGaugePointer PointerValue="5" Height="25" Width="25"
                                                    Placement="Syncfusion.Blazor.LinearGauge.Placement.Near" MarkerType="MarkerType.Image" ImageUrl="./Imagenes/tick-icon.png" />
                                <LinearGaugePointer PointerValue="6" Height="25" Width="25"
                                                    Placement="Syncfusion.Blazor.LinearGauge.Placement.Near" MarkerType="MarkerType.Image" ImageUrl="./Imagenes/tick-icon.png" />
                                <LinearGaugePointer PointerValue="7" Height="25" Width="15"
                                                    Placement="Syncfusion.Blazor.LinearGauge.Placement.Far" Position="Syncfusion.Blazor.LinearGauge.Position.Cross" Color="#D1D9DD" MarkerType="MarkerType.Circle" Offset="-2" />
                            }
                            @if (PedidoSeleccionadoValorizado.ESTADO_PEDIDO == 8 || PedidoSeleccionadoValorizado.ESTADO_PEDIDO == 9)
                            {
                                <LinearGaugePointer PointerValue="2" Height="25" Width="25"
                                                    Placement="Syncfusion.Blazor.LinearGauge.Placement.Near" MarkerType="MarkerType.Image" ImageUrl="./Imagenes/tick-icon.png" />
                                <LinearGaugePointer PointerValue="3" Height="25" Width="25"
                                                    Placement="Syncfusion.Blazor.LinearGauge.Placement.Near" MarkerType="MarkerType.Image" ImageUrl="./Imagenes/tick-icon.png" />
                                <LinearGaugePointer PointerValue="4" Height="25" Width="25"
                                                    Placement="Syncfusion.Blazor.LinearGauge.Placement.Near" MarkerType="MarkerType.Image" ImageUrl="./Imagenes/tick-icon.png" />
                                <LinearGaugePointer PointerValue="5" Height="25" Width="25"
                                                    Placement="Syncfusion.Blazor.LinearGauge.Placement.Near" MarkerType="MarkerType.Image" ImageUrl="./Imagenes/tick-icon.png" />
                                <LinearGaugePointer PointerValue="6" Height="25" Width="25"
                                                    Placement="Syncfusion.Blazor.LinearGauge.Placement.Near" MarkerType="MarkerType.Image" ImageUrl="./Imagenes/tick-icon.png" />
                                <LinearGaugePointer PointerValue="7" Height="25" Width="25"
                                                    Placement="Syncfusion.Blazor.LinearGauge.Placement.Near" MarkerType="MarkerType.Image" ImageUrl="./Imagenes/tick-icon.png" />
                            }
                        </LinearGaugePointers>
                        <LinearGaugeRanges>
                            @if (PedidoSeleccionadoValorizado.ESTADO_PEDIDO == 1 || PedidoSeleccionadoValorizado.ESTADO_PEDIDO == 2)
                            {
                                <LinearGaugeRange Start="2" End="3" StartWidth="5" EndWidth="5" Color="#1FAC8A" />
                                <LinearGaugeRange Start="3" End="4" StartWidth="5" EndWidth="5" Color="#D1D9DD" />
                                <LinearGaugeRange Start="4" End="5" StartWidth="5" EndWidth="5" Color="#D1D9DD" />
                                <LinearGaugeRange Start="5" End="6" StartWidth="5" EndWidth="5" Color="#D1D9DD" />
                                <LinearGaugeRange Start="6" End="7" StartWidth="5" EndWidth="5" Color="#D1D9DD" />
                            }
                            else if (PedidoSeleccionadoValorizado.ESTADO_PEDIDO == 3)
                            {
                                <LinearGaugeRange Start="2" End="3" StartWidth="5" EndWidth="5" Color="#1FAC8A" />
                                <LinearGaugeRange Start="3" End="4" StartWidth="5" EndWidth="5" Color="#D1D9DD" />
                                <LinearGaugeRange Start="4" End="5" StartWidth="5" EndWidth="5" Color="#D1D9DD" />
                                <LinearGaugeRange Start="5" End="6" StartWidth="5" EndWidth="5" Color="#D1D9DD" />
                                <LinearGaugeRange Start="6" End="7" StartWidth="5" EndWidth="5" Color="#D1D9DD" />
                            }
                            else if (PedidoSeleccionadoValorizado.ESTADO_PEDIDO == 5)
                            {
                                <LinearGaugeRange Start="2" End="3" StartWidth="5" EndWidth="5" Color="#1FAC8A" />
                                <LinearGaugeRange Start="3" End="4" StartWidth="5" EndWidth="5" Color="#1FAC8A" />
                                <LinearGaugeRange Start="4" End="5" StartWidth="5" EndWidth="5" Color="#D1D9DD" />
                                <LinearGaugeRange Start="5" End="6" StartWidth="5" EndWidth="5" Color="#D1D9DD" />
                                <LinearGaugeRange Start="6" End="7" StartWidth="5" EndWidth="5" Color="#D1D9DD" />
                            }
                            else if (PedidoSeleccionadoValorizado.ESTADO_PEDIDO == 6)
                            {
                                <LinearGaugeRange Start="2" End="3" StartWidth="5" EndWidth="5" Color="#1FAC8A" />
                                <LinearGaugeRange Start="3" End="4" StartWidth="5" EndWidth="5" Color="#1FAC8A" />
                                <LinearGaugeRange Start="4" End="5" StartWidth="5" EndWidth="5" Color="#1FAC8A" />
                                <LinearGaugeRange Start="5" End="6" StartWidth="5" EndWidth="5" Color="#D1D9DD" />
                                <LinearGaugeRange Start="6" End="7" StartWidth="5" EndWidth="5" Color="#D1D9DD" />
                            }
                            else if (PedidoSeleccionadoValorizado.ESTADO_PEDIDO == 7)
                            {
                                <LinearGaugeRange Start="2" End="3" StartWidth="5" EndWidth="5" Color="#1FAC8A" />
                                <LinearGaugeRange Start="3" End="4" StartWidth="5" EndWidth="5" Color="#1FAC8A" />
                                <LinearGaugeRange Start="4" End="5" StartWidth="5" EndWidth="5" Color="#1FAC8A" />
                                <LinearGaugeRange Start="5" End="6" StartWidth="5" EndWidth="5" Color="#1FAC8A" />
                                <LinearGaugeRange Start="6" End="7" StartWidth="5" EndWidth="5" Color="#D1D9DD" />
                            }
                            else if (PedidoSeleccionadoValorizado.ESTADO_PEDIDO == 8 || PedidoSeleccionadoValorizado.ESTADO_PEDIDO == 9)
                            {
                                <LinearGaugeRange Start="2" End="3" StartWidth="5" EndWidth="5" Color="#1FAC8A" />
                                <LinearGaugeRange Start="3" End="4" StartWidth="5" EndWidth="5" Color="#1FAC8A" />
                                <LinearGaugeRange Start="4" End="5" StartWidth="5" EndWidth="5" Color="#1FAC8A" />
                                <LinearGaugeRange Start="5" End="6" StartWidth="5" EndWidth="5" Color="#1FAC8A" />
                                <LinearGaugeRange Start="6" End="7" StartWidth="5" EndWidth="5" Color="#1FAC8A" />
                            }

                        </LinearGaugeRanges>
                    </LinearGaugeAxis>
                </LinearGaugeAxes>
            </SfLinearGauge>
        </Content>
        <FooterTemplate>
            <hr />

        </FooterTemplate>

    </DialogTemplates>
</SfDialog>


<style>
    /*to remove the edit button alone*/
    .e-removeEditcommand .e-unboundcell .e-unboundcelldiv button.e-Editbutton {
        display: none;
    }

    .e-removeDeletecommand .e-unboundcell .e-unboundcelldiv button.e-Deletebutton {
        display: none;
    }

    .color-estado-pedido-a-confirmar {
        /*background-color: #f89b9b;*/
        color: #e3165b !important;
    }

    .color-estado-pedido-confirmado {
        color: #0094ff !important;
    }

    .color-estado-pedido-produccion {
        color: #b200ff !important;
    }

    .color-estado-pedido-componentes {
        color: #b89f16 !important;
    }

    .color-estado-pedido-armado {
        color: #3e7846 !important;
    }

    .color-estado-pedido-pendiente-remitir {
        color: #8e6b29 !important;
    }

    .color-estado-pedido-entregar {
        color: #ff0000 !important;
    }

    .color-estado-pedido-entregado {
        color: #808080 !important;
    }

    .color-estado-pedido-facturado {
        color: #f30b0b !important;
    }

    .color-estado-pedido-anulado {
        color: #000000 !important;
    }

    /*    .e-btn .e-btn-icon, .e-css.e-btn .e-btn-icon {
            font-size: 9px;
            color: blue;
        }*/

    .e-Editbutton, .e-Editbutton .e-btn-icon {
        font-size: 9px;
        color: blue;
    }

    .e-Deletebutton, .e-Deletebutton .e-btn-icon {
        font-size: 9px;
        color: blue;
    }
</style>
