@page "/Abms/ISO"
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.DropDowns
@using SupplyChain
@using Syncfusion.Blazor.Calendars
@using SupplyChain.Client.Shared
@inherits IsoPageBase

<div class="row">
    <div class="col-4">
        <div class="e-rojas">
            <SfTextBox Value='Nivel Signficativo, mayor a 50 puntos.' CssClass="e-rojas"></SfTextBox>
        </div>
    </div>
    <div class="col-4">
        <SfTextBox Value='Nivel Modearado, entre 25 y 50 puntos.' CssClass="e-naranjas"></SfTextBox>
    </div>
    <div class="col-4">
        <SfTextBox CssClass="e-blancas" Value='Nivel No Significativo, menor a 25 puntos.'></SfTextBox>
    </div>
</div>

<div class="row">
    <div class="col-2">
        <SfDropDownList TItem="GraphicIso.BaseOption" TValue="string" Value="@SelectedOption"  Placeholder="Filtrar" PopupHeight="auto" DataSource="@Filtros" EnableVirtualization="true">
            <DropDownListEvents TItem="GraphicIso.BaseOption" TValue="string" ValueChange="s => ChangeFiltro(s, pendientes)"></DropDownListEvents>
            <DropDownListFieldSettings Text="Text" Value="Text"></DropDownListFieldSettings>
        </SfDropDownList>
    </div>
    <div class="col-8">
        <ComboVistasGrilla AppName="@APPNAME" StateApp="@state"
                           OnReiniciar="(async ()=> await OnReiniciarGrilla())"
                           OnVistaSelected="(async(v)=> await OnVistaSeleccionada(v))" />
    </div>
    <div class="col-lg-1 col-md-1">
        <SfButton Content="Ver Matriz" IsPrimary="false" CssClass="btn-sm e-info" IconCss="fa fa-eye"
                  OnClick="onClick"></SfButton>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <SfToast ID="toast_default" @ref="ToastObj">
            <ToastPosition X="Center" Y="Top"></ToastPosition>
        </SfToast>
        
        <SfGrid AllowReordering="true" ShowColumnChooser="true" ShowColumnMenu="false" AllowResizing="true"
                @ref="refGrid" DataSource="@isos" Width="100%"
                AllowExcelExport="true" AllowGrouping="true" ID="grdPresupuesto"
                AllowSorting="true" AllowPaging="true" AllowFiltering="true" Toolbar="Toolbaritems" GridLines="GridLine.Both">
            <GridSelectionSettings CheckboxOnly="true" Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
            <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu" IgnoreAccent="true"></GridFilterSettings>
            <GridPageSettings PageSize="10" PageSizes="true"></GridPageSettings>
            <GridEvents OnActionBegin="OnActionBeginHandler" OnToolbarClick="OnToolbarHandler"
                        OnActionComplete="OnActionCompleteHandler" TValue="ISO" QueryCellInfo="CustomizeCell"></GridEvents>
            <GridGroupSettings ShowGroupedColumn="true" EnableLazyLoading="true"></GridGroupSettings>
            <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" AllowEditOnDblClick="true"
                              ShowDeleteConfirmDialog="false" Mode="EditMode.Dialog">
            </GridEditSettings>
            <GridColumns>
                <GridColumn Type="ColumnType.CheckBox" Width="50"></GridColumn>
                <GridColumn Field=@nameof(ISO.Identificacion) HeaderText="Identificacion" TextAlign="TextAlign.Left" Width="120px"></GridColumn>
                <GridColumn Field=@nameof(ISO.PUNTAJE) HeaderText="Nivel" TextAlign="TextAlign.Left" Width="120px"></GridColumn>
                <GridColumn Field=@nameof(ISO.Fecha) Format="dd/MM/yyyy" HeaderText="Fecha" TextAlign="TextAlign.Left" Width="100px"></GridColumn>
                <GridColumn Field=@nameof(ISO.Descripcion) HeaderText="Contexto" TextAlign="TextAlign.Left" Width="300px"></GridColumn>
                <GridColumn Field=@nameof(ISO.Detalle) HeaderText="Detalle" TextAlign="TextAlign.Left" Width="300px"></GridColumn>
                <GridColumn Field=@nameof(ISO.Factor) HeaderText="Factor" TextAlign="TextAlign.Left" Width="100px"></GridColumn>
                <GridColumn Field=@nameof(ISO.Proceso) HeaderText="Proceso" TextAlign="TextAlign.Left" Width="175px"></GridColumn>
                <GridColumn Field=@nameof(ISO.FODA) HeaderText="FODA" TextAlign="TextAlign.Left" Width="100px"></GridColumn>
                <GridColumn Field=@nameof(ISO.ImpAmb) HeaderText="Impacto / Riesgo-Oportunidad" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
                @*<GridColumn Field=@nameof(ISO.AspAmb) HeaderText="Aspecto Ambiental" TextAlign="TextAlign.Left" Width="200px"></GridColumn>*@
                <GridColumn Field=@nameof(ISO.Descripcion) HeaderText="Aspecto Ambiental" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
                <GridColumn Field=@nameof(ISO.Frecuencia) HeaderText="Frecuencia" TextAlign="TextAlign.Left" Width="110px"></GridColumn>
                <GridColumn Field=@nameof(ISO.Impacto) HeaderText="Impacto" TextAlign="TextAlign.Left" Width="100px"></GridColumn>
                <GridColumn Field=@nameof(ISO.CondOperacion) HeaderText="Condicion de Operacion" TextAlign="TextAlign.Left" Width="175px"></GridColumn>
                <GridColumn Field=@nameof(ISO.CondControl) HeaderText="Condicion de Control" TextAlign="TextAlign.Left" Width="175px"></GridColumn>
                <GridColumn Field=@nameof(ISO.NaturalezaDelImpacto) HeaderText="Naturaleza del impacto" TextAlign="TextAlign.Left" Width="190px"></GridColumn>
                <GridColumn Field=@nameof(ISO.Gestion) HeaderText="Gestion" TextAlign="TextAlign.Left" Width="100px"></GridColumn>
                <GridColumn Field=@nameof(ISO.Comentarios) HeaderText="Comentarios" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
                <GridColumn Field=@nameof(ISO.Medidas) HeaderText="Medidas" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
                <GridColumn Field=@nameof(ISO.FechaCumplido) HeaderText="Fecha de cumplido" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
            </GridColumns>
            <SfSpinner @ref="refSpinner" Type="SpinnerType.Fabric" Size="50" @bind-Visible="@SpinnerVisible"></SfSpinner>
        </SfGrid>
    </div>

    @if (popupFormVisible)
	{
		 <FormISO isos="isoSeleccionado" Show="popupFormVisible" OnEliminar="@(async(p)=>await Guardar(p))"
                     OnCerrar="OnCerrarDialog" OnGuardar="@(async(p)=>await Guardar(p))"></FormISO>
	}
</div>

<style>
    .form-group.col-md-6 {
        width: 200px;
    }

    label.e-float-text {
        position: relative;
        padding-left: 0;
        top: 10%;
    }

    .e-input-group.e-control-wrapper.customClass {
        color: black;
        background-color: lightblue;
    }
</style>

@code {

    public String edit = "Syncfusion.Blazor.PivotView.EditMode.Normal";
    public bool DblClick = true;
    public bool CommandColumnsClick = false;
    public void CustomizeCell(QueryCellInfoEventArgs<ISO> args)
    {
        if(args.Data.PUNTAJE >= 50)
            args.Cell.AddClass(new String[] { "rojas" });
        else if (args.Data.PUNTAJE >= 25)
            args.Cell.AddClass(new String[] { "naranjas" });

    }

    public Syncfusion.Blazor.PivotView.EditMode SelectedMode = Syncfusion.Blazor.PivotView.EditMode.Normal;
    public void OnRadioChange(ChangeArgs<string> args)
    {
        if (args.Value == "inline")
        {
            this.DblClick = true;
            this.CommandColumnsClick = false;
            this.SelectedMode = Syncfusion.Blazor.PivotView.EditMode.Normal;
        }
        else if (args.Value == "batch")
        {
            this.DblClick = true;
            this.CommandColumnsClick = false;
            this.SelectedMode = Syncfusion.Blazor.PivotView.EditMode.Batch;
        }
        else if (args.Value == "dialog")
        {
            this.DblClick = true;
            this.CommandColumnsClick = false;
            this.SelectedMode = Syncfusion.Blazor.PivotView.EditMode.Dialog;
        }
        else
        {
            this.CommandColumnsClick = true;
        }
    }
}

<style>

    .e-grid .e-gridcontent .e-rowcell.rojas {
        background-color: #FA1D1D;
        font-weight: bold;
    }
    .e-grid .e-gridcontent .e-rowcell.naranjas {
        background-color: orange;
        font-weight: bold;
    }
    .e-input-group.e-rojas {
        background-color: #FA1D1D !important;
        color: black !important;
        border: 1px solid black;
        text-decoration-color: black;
        border-radius: 4px;
    }
    .e-input-group.e-naranjas {
        background-color: orange !important;
        color: black !important;
        border: 1px solid black;
        text-decoration-color: black;
        border-radius: 4px;
    }
    .e-input-group.e-blancas {
        background-color: white !important;
        color: black !important;
        border: 1px solid black;
        border-radius: 4px;
    }

</style>
