@page "/sc/areas/list"
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Inputs
@using System.Configuration;
@using System.Data.SqlClient;
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.BarcodeGenerator
@using System.Text.Json
@using System.Linq
@inject IJSRuntime JsRuntime
@using SupplyChain
@using System.Net.Http.Json
@inject HttpClient Http
@inject NavigationManager NavManager
@inherits SupplyChain.Pages.Area.AreaPageBase

<SfToast ID="toast_default" @ref="ToastObj">
    <ToastPosition X="Center" Y="Top"></ToastPosition>
</SfToast>
<div class="col control-section">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12">
                <SfGrid AllowReordering="true" ShowColumnChooser="true" ShowColumnMenu="true" AllowResizing="true"
                        DataSource="@(areas.OrderBy(s => s.CG_AREA))" AllowSelection="true"
                        ID="gridAreas" Height="100%" Width="100%" GridLines="GridLine.Both" RowHeight="27"
                        @ref="Grid" AllowExcelExport="true" AllowGrouping="true"
                        AllowSorting="true" AllowPaging="true" AllowFiltering="true" Toolbar="@Toolbaritems">
                    <GridSelectionSettings CheckboxOnly="true"
                                           Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                    <GridPageSettings PageSize="20" PageSizes="true"></GridPageSettings>
                    <GridEvents OnToolbarClick="@ClickHandler" TValue="Areas"></GridEvents>
                    <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>
                    <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true">
                    </GridEditSettings>
                    <GridColumns>
                        <GridColumn Type="ColumnType.CheckBox" Width="50"></GridColumn>
                        <GridColumn Field=@nameof(Areas.CG_AREA) HeaderText="Codigo" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
                        <GridColumn Field=@nameof(Areas.DES_AREA) HeaderText="Descripcion" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
                    </GridColumns>
                    <SfSpinner @ref="refSpinner" Type="SpinnerType.Bootstrap" Size="50" @bind-Visible="@SpinnerVisible"></SfSpinner>
                </SfGrid>
            </div>
        </div>
    </div>
</div>


<SfDialog Width="1000px" IsModal="true" ShowCloseIcon="true" @bind-Visible="@IsVisible" Target="DialogAreas">
    <DialogTemplates>
        <Content>
            <EditForm Model="areas" OnValidSubmit="@guardarArea">
                <DataAnnotationsValidator />
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-Areas" role="tab" aria-controls="pills-home" aria-selected="true">Areas</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-Areas" role="tabpanel" aria-labelledby="pills-home-tab">
                        <div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label class="e-float-text e-label-top">Codigo:</label>
                                    <SfNumericTextBox ID="Codigo" @bind-Value="@(area.CG_AREA)"></SfNumericTextBox>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="e-float-text e-label-top">Descripcion:</label>
                                    <SfTextBox ID="Descripcion" @bind-Value="@(area.DES_AREA)"></SfTextBox>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button id="sendButton" type="submit" class="e-control e-btn e-primary" data-ripple="true">Guardar</button>
            </EditForm>
        </Content>
    </DialogTemplates>
</SfDialog>

<style>
    .form-group.col-md-6 {
        width: 200px;
    }

    label.e-float-text {
        position: relative;
        padding-left: 0;
        top: 10%;
    }

    .e-input-group.e-control-wrapper.customClass {
        color: black;
        background-color: lightblue;
    }
</style>

@code {

    public String edit = "Syncfusion.Blazor.PivotView.EditMode.Normal";
    public bool DblClick = true;
    public bool CommandColumnsClick = false;

    public Syncfusion.Blazor.PivotView.EditMode SelectedMode = Syncfusion.Blazor.PivotView.EditMode.Normal;
    public void OnRadioChange(ChangeArgs<string> args)
    {
        if (args.Value == "inline")
        {
            this.DblClick = true;
            this.CommandColumnsClick = false;
            this.SelectedMode = Syncfusion.Blazor.PivotView.EditMode.Normal;
        }
        else if (args.Value == "batch")
        {
            this.DblClick = true;
            this.CommandColumnsClick = false;
            this.SelectedMode = Syncfusion.Blazor.PivotView.EditMode.Batch;
        }
        else if (args.Value == "dialog")
        {
            this.DblClick = true;
            this.CommandColumnsClick = false;
            this.SelectedMode = Syncfusion.Blazor.PivotView.EditMode.Dialog;
        }
        else
        {
            this.CommandColumnsClick = true;
        }
    }
}