@page "/inventarios/listado/movimientos-stock"
@using Syncfusion.Blazor.Cards
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Calendars
@inherits ListadoMovimientosStockBase

<div class="control-section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card-body">
                <div class="form-body">
                    @*<h3 class="card-title">Person Info</h3>*@
                    <hr>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-3">
                            <label class="col-form-label text-info">Fecha Desde</label>
                            <SfDatePicker TValue="DateTime" @bind-Value='@desde' Format='dd/MM/yyyy'></SfDatePicker>
                        </div>
                        <div class="col-md-3 col-sm-6 col-3">
                            <label class="col-form-label text-info">Fecha Hasta</label>
                            <SfDatePicker TValue="DateTime" @bind-Value='@hasta' Format='dd/MM/yyyy'></SfDatePicker>
                        </div>
                        <div class="col-md-6 col-sm-12 col-6">
                            <label class="col-form-label text-info">Concepto de Operación</label>
                            <ComboTipoo TipooSeleccionado="@filter.Tipoo" OnSelectedTireChanged="@(async(t)=> await ChangeTipoo(t))" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label class="col-form-label text-info">Deposito</label>
                            <ComboDeposito DepositoSeleccionado="filter.Deposito"  
                                           OnSelectedDepositoChanged="@(async(t)=> await ChangeDeposito(t))"/>
                        </div>
                    </div>


                </div>
                <div class="form-actions text-right">
                    <SfButton Content="Buscar" CssClass="btn btn-sm btn-info" IconCss="fa fa-search"
                              OnClick="@(async()=> await Buscar())"/>
                    <SfButton Content="Limpiar Filtros" CssClass="btn btn-sm btn-inverse" IconCss="fa fa-filter"
                              OnClick="@(async()=> await LimpiarFiltros())" />
                </div>
            </div>
            @*<div class="card">
                <div class="card-header">
                    <h4 class="m-b-0">Filtros</h4>
                </div>


            </div>*@
        </div>
        
    </div>
</div>
<hr />
<SfGrid ID="GridMovStock" @ref="Grid" DataSource="@DataSource" AllowReordering="true" ShowColumnChooser="true"
        ShowColumnMenu="true" AllowResizing="true" GridLines="GridLine.Both"
        RowHeight="20" AllowExcelExport="true" Toolbar="@Toolbaritems"
        AllowGrouping="true" Height="100%" Width="100%"
        AllowSorting="true" AllowPaging="true" AllowFiltering="true">
    <GridGroupSettings EnableLazyLoading="true"></GridGroupSettings>
    <GridPageSettings PageCount="20" PageSize="10" PageSizes="true"></GridPageSettings>
    <GridEvents OnToolbarClick="@(async(a)=> await ClickHandler(a))"
                TValue="MovimientoStockSP"></GridEvents>
    <GridAggregates>
        <GridAggregate>
            <GridAggregateColumns>
                <GridAggregateColumn Field=@nameof(MovimientoStockSP.EntradasSeg) Type="AggregateType.Sum" Format="N4">
                    <FooterTemplate>
                        @{
                            var aggregate = (context as AggregateTemplateContext);
                            <div>
                                <p style="font-weight:bold">Sum: @aggregate.Sum</p>
                            </div>
                        }
                    </FooterTemplate>
                </GridAggregateColumn>
                <GridAggregateColumn Field=@nameof(MovimientoStockSP.Entradas) Type="AggregateType.Sum" Format="N4">
                    <FooterTemplate>
                        @{
                            var aggregate = (context as AggregateTemplateContext);
                            <div>
                                <p style="font-weight:bold">Sum: @aggregate.Sum</p>
                            </div>
                        }
                    </FooterTemplate>
                </GridAggregateColumn>
            </GridAggregateColumns>
        </GridAggregate>
    </GridAggregates>
    <GridColumns>
        <GridColumn Field=@nameof(MovimientoStockSP.Concepto) HeaderText="Concepto" TextAlign="TextAlign.Left" Width="250px">
            <Template>
                @{
                    var ms = context as MovimientoStockSP;
                    var classText = "label-megna";
                    if (ms.Tipoo == 28)
                        classText = "label-purple";
                    if (ms.Tipoo == 27)
                        classText = "label-success";
                    if (ms.Tipoo == 9)
                        classText = "label-warning";
                    if (ms.Tipoo == 21)
                        classText = "label-info";

                    if (ms.Tipoo == 10)
                        classText = "label-danger";

                    <div class="label @classText">@ms.Concepto</div>

                }
                <div></div>
            </Template>
        </GridColumn>
        <GridColumn Field=@nameof(MovimientoStockSP.Fecha) HeaderText="Fecha" Format="dd/MM/yyyy" TextAlign="TextAlign.Left" Width="100px"></GridColumn>
        <GridColumn Field=@nameof(MovimientoStockSP.Vale) HeaderText="Vale" Format="N0" TextAlign="TextAlign.Left" Width="140px"></GridColumn>
        <GridColumn Field=@nameof(MovimientoStockSP.Codigo) HeaderText="Codigo" TextAlign="TextAlign.Left" Width="100px"></GridColumn>
        <GridColumn Field=@nameof(MovimientoStockSP.Descripcion) HeaderText="Descripcion" TextAlign="TextAlign.Left" Width="140px"></GridColumn>
        <GridColumn Field=@nameof(MovimientoStockSP.Tipo) HeaderText="Tipo Insumo" TextAlign="TextAlign.Left" Width="190px"></GridColumn>
        <GridColumn Field=@nameof(MovimientoStockSP.Entradas) HeaderText="Entredas" TextAlign="TextAlign.Left" Width="190px"></GridColumn>
        <GridColumn Field=@nameof(MovimientoStockSP.Salidas) HeaderText="Salidas" TextAlign="TextAlign.Left" Width="100px"></GridColumn>
        <GridColumn Field=@nameof(MovimientoStockSP.Saldo) HeaderText="Saldo" TextAlign="TextAlign.Left" Width="100px"></GridColumn>
        <GridColumn Field=@nameof(MovimientoStockSP.UnidMed) HeaderText="Unid. Stock" TextAlign="TextAlign.Left" Width="160px"></GridColumn>
        <GridColumn Field=@nameof(MovimientoStockSP.EntradasSeg) HeaderText="Entredas Comer." TextAlign="TextAlign.Left" Width="190px"></GridColumn>
        <GridColumn Field=@nameof(MovimientoStockSP.SalidasSeg) HeaderText="Salidas Comer." TextAlign="TextAlign.Left" Width="190px"></GridColumn>
        <GridColumn Field=@nameof(MovimientoStockSP.UnidComer) HeaderText="Unid. Comer." TextAlign="TextAlign.Left" Width="160px"></GridColumn>
        <GridColumn Field=@nameof(MovimientoStockSP.Despacho) HeaderText="Despacho" TextAlign="TextAlign.Left" Width="140px"></GridColumn>
        <GridColumn Field=@nameof(MovimientoStockSP.Serie) HeaderText="Serie" TextAlign="TextAlign.Left" Width="140px"></GridColumn>
        <GridColumn Field=@nameof(MovimientoStockSP.Lote) HeaderText="Lote" TextAlign="TextAlign.Left" Width="140px"></GridColumn>
        <GridColumn Field=@nameof(MovimientoStockSP.Deposito) HeaderText="Deposito" TextAlign="TextAlign.Left" Width="140px"></GridColumn>
        <GridColumn Field=@nameof(MovimientoStockSP.Proveedor) HeaderText="Proveedor" TextAlign="TextAlign.Left" Width="240px"></GridColumn>
        <GridColumn Field=@nameof(MovimientoStockSP.Cliente) HeaderText="Cliente" TextAlign="TextAlign.Left" Width="240px"></GridColumn>
    </GridColumns>
    <SfSpinner @bind-Visible="@spinnerVisible" Label="Cargando..." Type="SpinnerType.Fabric" Size="50"></SfSpinner>
</SfGrid>