@page "/chat-app/{ContactId}"
@page "/chat-app"
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Lists
@using System.Collections.ObjectModel
@* @attribute [Authorize(Roles = "Administrador, Produccion")] *@
@inherits ChatBase

<div>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 e-card">
            <h3 style="padding:10px"><strong>#Contactos</strong></h3>
            <SfListBox @bind-Value="@ContactId" TValue="string" TItem="Usuario" DataSource="@ChatUsers" AllowFiltering="true" Height="480px"
                       FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains">
                <ListBoxFieldSettings Text="Nombre" Value="Id"></ListBoxFieldSettings>
                <ListBoxSelectionSettings Mode="Syncfusion.Blazor.DropDowns.SelectionMode.Single"></ListBoxSelectionSettings>
                <ListBoxEvents TValue="string" TItem="Usuario" ValueChange="@change"></ListBoxEvents>
                <ListBoxTemplates TItem="Usuario">
                    <ItemTemplate>
                        <div class="profile-img">
                            @if (context.Foto == null || context.Foto.Length == 0)
                            {
                                <img src="./img1-236x210.png" class="e-avatar e-avatar-circle">
                            }
                            else
                            {
                                <img src="@($"data:image/png;base64,{Convert.ToBase64String(context.Foto)}")" alt="" class="e-avatar e-avatar-circle" />
                            }
                            @* <div style="position:relative; top:50px;"> *@
                            <div style="position:relative; left:45px; top:14%;">
                                <span class="text bold">@((context as Usuario).Nombre)</span>
                            </div>
                            <div style="position:relative; left:45px;">
                                <span class="email bold" style="text-align:end">@((context as Usuario).Email)</span>
                            </div>
                          
                            @* </div> *@
                        </div>
                    </ItemTemplate>
                </ListBoxTemplates>
            </SfListBox>
        </div>
        <div class="col-lg-9 col-md-6 col-sm-12" >
            <SfListView ID="list"
                        DataSource="@messages"
                        ShowHeader="true"
                        Height="500px"
                        HeaderTitle="Chat">
                <ListViewFieldSettings TValue="ChatMessage" Id="Id" Text="Message"></ListViewFieldSettings>
                <ListViewTemplates TValue="ChatMessage">
                    <Template>
                        @{
                            ChatMessage currentData = context as ChatMessage;

                            <div class="content__container">
                                <div class="flex flex__1 vertical__center flex__center @(currentData.FromUserId == ContactId ? "flex__order__2" : "")">
                                    @*@if (currentData.Avatar != "")
                                        {
                                            <span class="e-avatar e-avatar-circle">@currentData.Avatar</span>
                                        }
                                        else
                                        {
                                            <span class="@currentData.Pic e-avatar e-avatar-circle"></span>
                                        }*@
                                    @*<span class="pic03 e-avatar e-avatar-circle"></span>*@
                                </div>
                                <div class="flex content__container flex__8 vertical padding @(currentData.FromUserId == CurrentUserId ? "right__align" : "left__align")">
                                    <span class="e-avatar-circle @(currentData.FromUserId == CurrentUserId ? "right__align" : "left__align")"></span>
                                    <div class="">@currentData.NameFromUser</div>
                                    <div class="bold">@currentData.Message</div>

                                </div>
                            </div>
                        }
                    </Template>
                </ListViewTemplates>
            </SfListView>
            <div class="flex">
                <div class="flex__8 padding">
                    <SfTextBox Placeholder="Ingrese su Mensaje..." @bind-Value="@CurrentMessage"
                               @ref="@SfTextBox"></SfTextBox>
                </div>
                <div class="flex__1">
                    <button class="e-btn" @onclick="@EnviarMensaje">Enviar</button>
                </div>
            </div>
        </div>

    </div>
</div>



<style>

    .text {
        position: relative;
        top: -25px;
    }
    .email{
        position:relative;
        top:-23px;
    }

    #list {
        box-shadow: 0 1px 4px #ddd;
        border-bottom: 1px solid #ddd;
    }

    #sample {
        height: 220px;
        margin: 0 auto;
        display: block;
        max-width: 350px;
    }

    #list {
        margin: 0 auto;
        border: 1px solid #ccc;
    }

        #list .e-list-item {
            height: auto;
            cursor: pointer;
            line-height: 22px;
            padding: 8px;
        }

        #list.e-listview .e-list-header {
            background-color: #0278d7;
            color: white;
        }

        #list .e-list-item.e-active {
            background-color: transparent;
        }

        #list .e-list-item.e-hover {
            background-color: transparent;
        }

    .padding {
        padding: 4px;
    }

    .right__align {
        text-align: right;
        margin-right: 8px;
        padding-right: 8px;
    }

    .left__align {
        margin-left: 8px;
        padding-left: 8px;
    }

    .content__container {
        background-color: aliceblue;
    }

    .flex {
        display: flex;
    }

    .flex__center {
        justify-content: center;
    }

    .vertical__center {
        align-items: center;
    }

    .vertical {
        flex-direction: column;
    }

    .flex__order__1 {
        order: 1;
    }

    .flex__order__2 {
        order: 2;
    }

    .flex__1 {
        flex: 1;
    }

    .flex__2 {
        flex: 2;
    }

    .flex__3 {
        flex: 3;
    }

    .flex__5 {
        flex: 5;
    }

    .flex__8 {
        flex: 8;
    }

    .bold {
        font-weight: 500;
    }

    .margin {
        margin: 10px;
        width: 350px;
    }

    .small__font {
        font-size: 13px;
        margin: 2px 0;
    }

    .pic01 {
        background-image: src("../../wwwroot/img1-236x210.png");
    }

    .pic02 {
        background-image: url("https://ej2.syncfusion.com/demos/src/grid/images/3.png");
    }

    .pic03 {
        background-image: url("https://ej2.syncfusion.com/demos/src/grid/images/5.png");
    }

    .pic04 {
        background-image: url("https://ej2.syncfusion.com/demos/src/grid/images/2.png");
    }

    .e-listbox-container {
        margin: auto;
        max-width: 400px;
        box-sizing: border-box;
    }

    .list-wrapper {
        height: inherit;
        position: relative;
        padding: 14px 12px 14px 78px;
    }

        .list-wrapper .text,
        .list-wrapper .description {
            display: block;
            margin: 0;
            padding-bottom: 3px;
            white-space: normal;
        }

        .list-wrapper .description {
            font-size: 12px;
            font-weight: 500;
        }

    .e-listbox-container .list-wrapper .text {
        font-weight: bold;
        font-size: 13px;
    }

    .list-wrapper .e-avatar {
        position: absolute;
        left: 5px;
        background-color: transparent;
        font-size: 22px;
        top: calc(50% - 33px);
    }

    .e-listbox-container .e-list-item {
        height: auto !important;
    }

    /* .e-card{
        margin-bottom:50%;
    } */

    
</style>
