@using LabelPosition = Syncfusion.Blazor.Buttons.LabelPosition
@using SelectionType = Syncfusion.Blazor.Grids.SelectionType
@using Syncfusion.Blazor.Buttons
@inherits ProveedoresMateriaPrimaBase

<div class="row">
    <div class="col-6">
        <h3>Proveedores del Insumo</h3>
    </div>
    <div class="col-6">
        <SfCheckBox @onchange="OnChange" @bind-Checked="@SoloProveedoresConEmail"
                    Label="Solo proveedores con Email" LabelPosition="LabelPosition.After">
        </SfCheckBox>
    </div>
</div>


<SfGrid TValue="vProveedorItris" Height="150px" DataSource="@DataProveedoresFiltrado" AllowSorting="true">
    <GridSelectionSettings Type="SelectionType.Multiple"></GridSelectionSettings>
    <GridEvents RowSelected="RowSelected" TValue="vProveedorItris" RowDeselected="RowDeselected"></GridEvents>
    <GridColumns>
        <GridColumn Type="ColumnType.CheckBox" Width="50"></GridColumn>
        <GridColumn Field="@nameof(vProveedorItris.Id)" HeaderText="Codigo" TextAlign="TextAlign.Left" Width="100px"></GridColumn>
        <GridColumn Field="@nameof(vProveedorItris.DESCRIPCION)" HeaderText="Proveedor" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
        <GridColumn Field="@nameof(vProveedorItris.NOMBRE_CONTACTO)" HeaderText="Contacto" TextAlign="TextAlign.Left" Width="100px"></GridColumn>
        <GridColumn Field="@nameof(vProveedorItris.EMAIL_CONTACTO)" HeaderText="Email" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
    </GridColumns>
</SfGrid>