@page "/compras/solicitud-cotizacion"

@using Syncfusion.Blazor.DropDowns
@attribute [Authorize]
@inherits SolicitudCotizacionBase


<div id="solicitudCotizacion-main" class="row">
    <SfSpinner Label="Cargando..." @bind-Visible="@mostrarSpinner" Type="SpinnerType.Fabric"></SfSpinner>
    <div class="col-lg-3 col-sm-12">
        <SugerenciasCompras @ref="@refSugerenciasCompras" OnItemsSeleccionados="OnRecibirItemsSeleccionados"></SugerenciasCompras>
    </div>
    <div class="col-lg-5 col-sm-12">
        <div class="row">
            <div class="col-12">
                <ProveedoresMateriaPrima @ref="refProveedoresMateriaPrima" SoloProveedoresConEmail="true"
                                         OnProveedorSeleccionado="OnProveedorSeleccionado" OnProveedorDeseleccionado="OnProveedorDeseleccionado">
                </ProveedoresMateriaPrima>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <Proveedores @ref="refProveedores" IdsProveedoresConMp="@idsProveedores"
                             OnProveedorSeleccionado="OnProveedorSeleccionado" OnProveedorDeseleccionado="OnProveedorDeseleccionado"></Proveedores>
            </div>
        </div>
        
    </div>
    <div class="col-lg-4 col-sm-12">
        <div class="row">
            <div class="col-12">
                <EmailPreview @ref="refEmailPreview" EmailsEnviar="@EmailsEnviar" OnMailEnviadosCorrectamente="MailsEnviadosCorrectamente"></EmailPreview>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <EmailsEnviados @ref="refEmailsEnviados" Data="@EmailsEnviados"></EmailsEnviados>
            </div>
        </div>

    </div>

</div>

