@using Syncfusion.Blazor.Lists
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.DropDowns
@inherits SugerenciasComprasBase

<SfListBox @ref="@refSfListBox" CssClass="e-template-listbox" TValue="Compra[]" DataSource="@ListData" TItem="Compra" Height="550px" 
                   AllowFiltering="true" FilterBarPlaceholder="Buscar Materia Prima...">
            <ListBoxFieldSettings Text="CG_MAT" Value="CG_MAT" ></ListBoxFieldSettings>
            <ListBoxEvents TValue="Compra[]" TItem="Compra" ValueChange="SelectedChange"></ListBoxEvents>
            <ListBoxTemplates TItem="Compra">
                <ItemTemplate>
                    <div class="list-wrapper">
                        <div class="row">
                            <div class="col-6">
                                <span class="text">@((context as Compra).CG_MAT.Trim())</span>
                            </div>
                            <div class="col-6">
                                <span class="text">Entrega: @((context as Compra).FE_PREV.Value.ToString("dd/MM/yyyy"))</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <span class="description">@((context as Compra).DES_MAT)</span>
                            </div>
                            
                        </div>
                        <div class="row justify-content-start">
                            <div class="col-auto p-0">
                                <span class="text">@((context as Compra).SOLICITADO) </span>
                            </div>
                            <div class="col-auto p-0 m-0">
                                <span class="text"> (@((context as Compra).UNID)) </span>
                            </div>
                            <div class="col-auto p-0 m-0">
                                <span class="text">/ @((context as Compra).SOLICITADO) </span>
                            </div>
                            <div class="col-auto p-0 m-0">
                                <span class="text"> (@((context as Compra).UNID1)) </span>
                            </div>

                        </div>
                        
                        
                    </div>
                </ItemTemplate>
            </ListBoxTemplates>
            <SfSpinner Label="Cargando..." @bind-Visible="@mostrarSpinnerSeleccionSugerencia" Type="SpinnerType.Fabric"></SfSpinner>
        </SfListBox>

<style>
    .e-template-listbox .e-list-item {
        line-height: 1.5 !important;
        padding: 0 16px !important;
    }

    .list-wrapper {
        height: inherit;
        position: relative;
        padding: 14px 12px 14px 8px;
    }

    .e-listbox-container .e-list-item {
        height: auto !important;
    }

    .list-wrapper .text,
    .list-wrapper .description {
        display: block;
        margin: 0;
        padding-bottom: 3px;
        white-space: normal;
    }

    .list-wrapper .description {
        font-size: 12px;
        font-weight: 500;
    }

    .e-listbox-container .list-wrapper .text {
        font-weight: bold;
        font-size: 10px;
    }

    .list-wrapper .e-avatar {
        position: absolute;
        left: 5px;
        background-color: transparent;
        font-size: 22px;
        top: calc(50% - 35px);
    }

    /*.bootstrap4 .list-wrapper .e-avatar {
            top: calc(50% - 28px);
        }

</style>