
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Inputs
@using System.Configuration;
@using System.Data.SqlClient;
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.BarcodeGenerator
@using Syncfusion.Blazor.Spinner
@using System.Text.Json
@using System.Linq
@using SupplyChain.Client.Pages.Inventarios

@inject IJSRuntime JsRuntime
@using SupplyChain
@using System.Net.Http.Json
@inject NavigationManager NavManager
@inherits PlanificacionesBase



<div class="col-lg-12 control-section mt-4">
    <div class="content-wrapper">
        <div class="row">
                <div class="col-lg-5 col-md-6 col-12">
                    <SfButton OnClick="@((e) => Emitir())" CssClass="" IsPrimary="true"
                              IconCss="fa fa-check-circle">Emitir Órden para un solo producto</SfButton>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <SfButton IconCss="fa fa-ban" @onclick="@(async ()=> await OrdCerradas())" CssClass="btn btn-sm btn-outline-primary"
                              IsPrimary="false">Órdenes cerradas y anuladas</SfButton>
                </div>
                <div class="col-lg-2 col-md-6 col-12">
                    <SfCheckBox @bind-Checked="@emitidasCheck" @onchange="@CheckCambio" Label="Incluir también órdenes Emitidas"></SfCheckBox>
                </div>
                <div class="col-lg-2 col-md-6 col-12">
                    <SfCheckBox @bind-Checked="@armadoCheck" @onchange="@CheckCambio" Label="Incluir también órdenes de Armado"></SfCheckBox>
                </div>

        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ComboVistasGrilla AppName="@APPNAME" StateApp="@state"
                               OnReiniciar="(async ()=> await OnReiniciarGrilla())"
                               OnVistaSelected="(async(v)=> await OnVistaSeleccionada(v))" />
        </div>
        
    </div>
</div>

@{
    if (listaPlanificacion.Count() == 0 || listaPlanificacion is null)
    {
        VisibleProperty = true;
    }
    else
    {
        
        <div class="col-lg-12 control-section">
            <div class="content-wrapper">
                <div class="row" id="rowGrilla">
                    <SfGrid AllowReordering="true" ShowColumnChooser="true" ShowColumnMenu="true" AllowResizing="true"
                            @ref="GridPlanificacion" DataSource="@listaPlanificacion" Height="100%" Width="100%"
                            AllowExcelExport="true" AllowGrouping="true"  RowHeight="20"
                            AllowSorting="true" AllowPaging="true" AllowFiltering="true"
                            Toolbar="@Toolbaritems" GridLines="GridLine.Both">
                        <GridPageSettings PageCount="20" PageSize="20" PageSizes="true"></GridPageSettings>
                        <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                        <GridEvents DataBound="(async ()=> await DataBoundHandler())" 
                                    CommandClicked="(async (a)=> await CommandClickHandler(a))"
                                    OnToolbarClick="(async (a)=> await ClickHandler(a))" 
                                    QueryCellInfo="(async (a)=> await QueryCellInfoHandler(a))"
                                    OnActionBegin="(async (a)=> await ActionBegin(a))" TValue="Planificacion"></GridEvents>
                        <GridFilterSettings Type="@Syncfusion.Blazor.Grids.FilterType.CheckBox"></GridFilterSettings>
                        <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>
                        <GridEditSettings AllowDeleting="true" AllowEditing="true" Mode="@EditMode.Dialog" Dialog="DialogParams">
                            <HeaderTemplate>Detalle</HeaderTemplate>
                            <Template>
                                @{
                                    var planif = (context as Planificacion);
                                    <div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Orden:</label>
                                                <br />
                                                <SfNumericTextBox ID="CG_ORDEN" Format="N0" @bind-Value="@(planif.CG_ORDF)" Enabled="false"></SfNumericTextBox>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label>Estado:</label>
                                                <br />
                                                <SfDropDownList ID="Estado" TItem="Estado" @bind-Value="@(planif.CG_ESTADOCARGA)" TValue="int" Placeholder="Estado" DataSource="@Estados">
                                                    <DropDownListFieldSettings Value="Valor" Text="Texto"></DropDownListFieldSettings>
                                                </SfDropDownList>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Fecha de entrega:</label>
                                                <br />
                                                <SfDatePicker ID="FE_ENTREGA" @bind-Value="@(planif.FE_ENTREGA)" Enabled="true" Placeholder="Fecha de entrega"></SfDatePicker>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label>Cantidad:</label>
                                                <br />
                                                <SfNumericTextBox ID="CANT" Format="N0" @bind-Value="@(planif.CANT)" Enabled="true"></SfNumericTextBox>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </Template>
                        </GridEditSettings>
                        <GridAggregates>
                            <GridAggregate>
                                <GridAggregateColumns>
                                    <GridAggregateColumn Field=@nameof(Planificacion.UNIDEQUI) Type="AggregateType.Sum" Format="C2">
                                        <FooterTemplate>
                                            @{
                                                var aggregate = (context as AggregateTemplateContext);
                                                <div>
                                                    <p>Sum: @aggregate.Sum</p>
                                                </div>
                                            }
                                        </FooterTemplate>
                                    </GridAggregateColumn>
                                </GridAggregateColumns>
                            </GridAggregate>
                        </GridAggregates>
                        <GridColumns>
                            <GridColumn Field=@nameof(Planificacion.CG_ORDEN) Format="N0" HeaderText="Tipo producto" TextAlign="TextAlign.Left" Width="90px"></GridColumn>
                            <GridColumn Field=@nameof(Planificacion.CG_ORDF) Format="N0" HeaderText="Orden" TextAlign="TextAlign.Left" Width="90px"></GridColumn>
                            <GridColumn Field=@nameof(Planificacion.CLASE) HeaderText="Clase" TextAlign="TextAlign.Left" Width="110px"></GridColumn>
                            <GridColumn Field=@nameof(Planificacion.CG_R) HeaderText="Tipo de Orden" TextAlign="TextAlign.Left" Width="110px"></GridColumn>
                            @*ORIGEN*@
                            <GridColumn HeaderText="Origen" Width="90px">
                                <Template>
                                    @{
                                        Planificacion Value = (context as Planificacion);
                                        if (Value.SEM_ORIGEN == 0)
                                        {
                                            <span class="dotwhite"></span>
                                        }
                                        else if (Value.SEM_ORIGEN == 1)
                                        {
                                            <span class="dotlightgreen"></span>
                                        }
                                        else if (Value.SEM_ORIGEN == 2)
                                        {
                                            <span class="dotyellow"></span>
                                        }
                                        else if (Value.SEM_ORIGEN == 3)
                                        {
                                            <span class="dotred"></span>
                                        }
                                        else if (Value.SEM_ORIGEN == 4)
                                        {
                                            <span class="dotblue"></span>
                                        }
                                    }
                                </Template>
                            </GridColumn>
                            @*QUEDA STOCK*@
                            <GridColumn HeaderText="Queda stock" Width="90px" AllowGrouping="true" AllowReordering="true">
                                <Template>
                                    @{
                                        Planificacion Value = (context as Planificacion);
                                        if (Value.SEM_ABAST_PURO == 0)
                                        {
                                            <span class="dotwhite"></span>
                                        }
                                        else if (Value.SEM_ABAST_PURO == 1)
                                        {
                                            <span class="dotlightgreen"></span>
                                        }
                                        else if (Value.SEM_ABAST_PURO == 2)
                                        {
                                            <span class="dotyellow"></span>
                                        }
                                        else if (Value.SEM_ABAST_PURO == 3)
                                        {
                                            <span class="dotred"></span>
                                        }
                                        else if (Value.SEM_ABAST_PURO == 4)
                                        {
                                            <span class="dotblue"></span>
                                        }
                                    }
                                </Template>
                            </GridColumn>
                            @*HAY STOCK*@
                            <GridColumn HeaderText="Hay stock" Width="90px" AllowGrouping="true" AllowReordering="true">
                                <Template>
                                    @{
                                        Planificacion Value = (context as Planificacion);
                                        if (Value.SEM_ABAST == 0)
                                        {
                                            <span class="dotwhite"></span>
                                        }
                                        else if (Value.SEM_ABAST == 1)
                                        {
                                            <span class="dotlightgreen"></span>
                                        }
                                        else if (Value.SEM_ABAST == 2)
                                        {
                                            <span class="dotyellow"></span>
                                        }
                                        else if (Value.SEM_ABAST == 3)
                                        {
                                            <span class="dotred"></span>
                                        }
                                        else if (Value.SEM_ABAST == 4)
                                        {
                                            <span class="dotblue"></span>
                                        }
                                    }
                                </Template>
                            </GridColumn>
                            <GridColumn Field=@nameof(Planificacion.CG_ESTADOCARGA) Format="N0" HeaderText="Estado" Width="200px">
                                <Template>
                                    @{
                                        Planificacion Value = (context as Planificacion);
                                        if (Value.CG_ESTADOCARGA == 0)
                                        {
                                            <span>EMITIDA</span>
                                        }
                                        else if (Value.CG_ESTADOCARGA == 1)
                                        {
                                            <span>PLANEADA</span>
                                        }
                                    }
                                </Template>
                            </GridColumn>
                            @*DESPIECE Y DISPONIBILIDAD DE STOCK*@
                            <GridColumn HeaderText="Entrega" Width="90px">
                                <GridCommandColumns>
                                    <GridCommandColumn Type="CommandButtonType.None" Title="Entrega"
                                                       ButtonOption="@(new CommandButtonOptions()
                                                           {
                                                               IconCss = "fa fa-chevron-circle-up ", Content="", CssClass=""
                                                           })" />
                                </GridCommandColumns>
                            </GridColumn>
                            <GridColumn HeaderText="Despiece" Width="90px">
                                <GridCommandColumns>
                                    <GridCommandColumn Type="CommandButtonType.None" Title="Despiece"
                                                       ButtonOption="@(new CommandButtonOptions()
                                                           {
                                                               IconCss = "fa fa-list-ul black", Content="", CssClass="botonGrilla"
                                                           })" />
                                </GridCommandColumns>
                            </GridColumn>
                            <GridColumn Field=@nameof(Planificacion.PEDIDO) Format="N0" HeaderText="Pedido" TextAlign="TextAlign.Left" Width="110px"></GridColumn>
                            <GridColumn Field=@nameof(Planificacion.CG_PROD) HeaderText="Producto" TextAlign="TextAlign.Left" Width="110px"></GridColumn>
                            <GridColumn Field=@nameof(Planificacion.DES_PROD) HeaderText="Descripción del producto" TextAlign="TextAlign.Left" Width="110px"></GridColumn>
                            <GridColumn Field=@nameof(Planificacion.CANT) Format="N0" HeaderText="Cantidad" TextAlign="TextAlign.Left" Width="110px"></GridColumn>
                            <GridColumn Field=@nameof(Planificacion.CANTFAB) Format="N0" HeaderText="Cantidad fabricada" TextAlign="TextAlign.Left" Width="110px"></GridColumn>
                            <GridColumn Field=@nameof(Planificacion.UNID) HeaderText="Unidad" TextAlign="TextAlign.Left" Width="110px"></GridColumn>
                            <GridColumn Field=@nameof(Planificacion.FE_ENTREGA) HeaderText="Fecha de Entrega" TextAlign="TextAlign.Left" Width="110px"></GridColumn>
                            <GridColumn Field=@nameof(Planificacion.DIASFAB) HeaderText="Días de fabricación" TextAlign="TextAlign.Left" Width="110px"></GridColumn>
                            <GridColumn Field=@nameof(Planificacion.CG_FORM) Format="N0" HeaderText="Fórmula" TextAlign="TextAlign.Left" Width="110px"></GridColumn>


                            <GridColumn HeaderText="Activo" Width="90px">
                                <GridCommandColumns>
                                    <GridCommandColumn Type="CommandButtonType.None" Title="Activo"
                                                       ButtonOption="@(new CommandButtonOptions()
                                                           {
                                                               IconCss = "fa fa-chart-line", Content="", CssClass="botonGrilla"
                                                           })" />
                                </GridCommandColumns>
                            </GridColumn>
                            <GridColumn Field=@nameof(Planificacion.FE_EMIT) HeaderText="Fecha de emisión" TextAlign="TextAlign.Left" Width="110px"></GridColumn>
                            <GridColumn Field=@nameof(Planificacion.FE_PLAN) HeaderText="fecha planificada" TextAlign="TextAlign.Left" Width="110px"></GridColumn>
                            <GridColumn Field=@nameof(Planificacion.FE_FIRME) HeaderText="Fecha en firme" TextAlign="TextAlign.Left" Width="110px"></GridColumn>
                            <GridColumn Field=@nameof(Planificacion.FE_CURSO) HeaderText="Fecha en curso" TextAlign="TextAlign.Left" Width="110px"></GridColumn>
                            <GridColumn Field=@nameof(Planificacion.UNIDEQUI) HeaderText="Unid Equi." TextAlign="TextAlign.Left" Width="90px" Format="N2"></GridColumn>
                        </GridColumns>
                        <SfSpinner Type="SpinnerType.Bootstrap" Label="Cargando...." @bind-Visible="@SpinnerVisible"></SfSpinner>
                    </SfGrid>
                </div>
            </div>
            @*DIALOG PARA DESPIECE*@
            <SfDialog @ref="DialogDespieceRef" Width="250px" IsModal="false" ShowCloseIcon="true" Visible="false">
                <DialogTemplates>
                    <Header><p class="card-header badge badge-info text-white">DESPIECE DEL PRODUCTO: @ProdSeleccionada?.DES_PROD.Trim() </p><hr /></Header>
                    <Content>
                        <div class="col-lg-12 control-section mt-2">
                            <!--<div class="content-wrapper">
                                <div class="form-row">
                                    <div class="form-group col-md-4" style="text-align:left">
                                        <label class="font-weight-normal"><a class="font-weight-bold">TITULO_CAMPOCOM1: </a>@ProdSeleccionada?.CAMPOCOM1</label>
                                    </div>
                                    <div class="form-group col-md-4" style="text-align:left">
                                        <label class="font-weight-normal"><a class="font-weight-bold">TITULO_CAMPOCOM2: </a>@ProdSeleccionada?.CAMPOCOM2</label>
                                    </div>
                                    <div class="form-group col-md-4" style="text-align:left">
                                        <label class="font-weight-normal"><a class="font-weight-bold">TITULO_CAMPOCOM3: </a>@ProdSeleccionada?.CAMPOCOM3</label>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-4" style="text-align:left">
                                        <label class="font-weight-normal"><a class="font-weight-bold">TITULO_CAMPOCOM4: </a>@ProdSeleccionada?.CAMPOCOM4</label>
                                    </div>
                                    <div class="form-group col-md-4" style="text-align:left">
                                        <label class="font-weight-normal"><a class="font-weight-bold">TITULO_CAMPOCOM5: </a>@ProdSeleccionada?.CAMPOCOM5</label>
                                    </div>
                                    <div class="form-group col-md-4" style="text-align:left">
                                        <label class="font-weight-normal"><a class="font-weight-bold">TITULO_CAMPOCOM6: </a>@ProdSeleccionada?.CAMPOCOM6</label>
                                    </div>
                                </div>
                            </div>
                            <hr class="separator">
                            <div>
                                <div class="form-row">
                                    <div class="form-group col-md-12" style="text-align:left">-->
                            @*<label class="font-weight-normal"><a class="font-weight-bold">OBSERVACIONES: </a>@ProdSeleccionada.OBSERITEM</label>*@
                            <!--</div>
                                </div>
                            </div>-->
                            <hr class="separator">
                            <div>
                                <div class="form-row">
                                    <SfGrid @ref="Grid2" DataSource="@listaDespiece" ID="Despiece"
                                            GridLines="GridLine.Both" AllowReordering="true" AllowResizing="true" 
                                            Height="250px" Width="100%">
                                        <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Single"></GridSelectionSettings>
                                        <GridEvents TValue="DespiecePlanificacion"></GridEvents>
                                        <GridTemplates>
                                            <DetailTemplate>
                                                @{
                                                    var insumo = context as DespiecePlanificacion;
                                                }

                                                <SfTab Height="350" HeaderPlacement="HeaderPosition.Top">
                                                    <TabItems>
                                                        <TabItem>
                                                            <ChildContent>
                                                                <TabHeader Text="Stock"></TabHeader>
                                                            </ChildContent>
                                                            <ContentTemplate>
                                                                <div style="padding:25px">
                                                                    <SfGrid ID="grdDespieceStock" Width="870px" TValue="ResumenStock"
                                                                            AllowPaging="true" AllowResizing="true" AllowReordering="true"
                                                                            DataSource="@insumo.ResumenStocks">
                                                                        <GridPageSettings PageSize="6"></GridPageSettings>
                                                                        @*<SfDataManager Url="https://js.syncfusion.com/demos/ejservices/Wcf/Northwind.svc/Orders"
                                                                            CrossDomain="true"></SfDataManager>*@
                                                                        <GridColumns>
                                                                            <GridColumn Field=@nameof(ResumenStock.CG_ART) HeaderText="Insumo" Width="150"> </GridColumn>
                                                                            <GridColumn Field=@nameof(ResumenStock.STOCK) HeaderText="Stock" Width="110"></GridColumn>
                                                                            <GridColumn Field=@nameof(ResumenStock.CG_DEP) HeaderText="Deposito" Width="110"></GridColumn>
                                                                            <GridColumn Field=@nameof(ResumenStock.SERIE) HeaderText="Serie" Width="150"></GridColumn>
                                                                            <GridColumn Field=@nameof(ResumenStock.LOTE) HeaderText="Lote" Width="150"></GridColumn>
                                                                            <GridColumn Field=@nameof(ResumenStock.DESPACHO) HeaderText="Despacho"></GridColumn>
                                                                        </GridColumns>
                                                                    </SfGrid>
                                                                </div>
                                                            </ContentTemplate>
                                                        </TabItem>
                                                    </TabItems>
                                                </SfTab>
                                            </DetailTemplate>
                                        </GridTemplates>
                                        <GridColumns>
                                            <GridColumn Field=@nameof(DespiecePlanificacion.CG_SE) HeaderText="Semi Elaborado" TextAlign="TextAlign.Left" Width="110px"></GridColumn>
                                            <GridColumn Field=@nameof(DespiecePlanificacion.CG_MAT) HeaderText="Materia prima" TextAlign="TextAlign.Left" Width="150px"></GridColumn>
                                            <GridColumn Field=@nameof(DespiecePlanificacion.DES_PROD) HeaderText="Descripción" TextAlign="TextAlign.Left" Width="150px"></GridColumn>
                                            <GridColumn Field=@nameof(DespiecePlanificacion.STOCK) Format="N2" HeaderText="Stock" TextAlign="TextAlign.Left" Width="150px"></GridColumn>
                                            <GridColumn Field=@nameof(DespiecePlanificacion.CANT_MAT) Format="N2" HeaderText="Cantidad Necesaria de la Orden" TextAlign="TextAlign.Left" Width="150px"></GridColumn>
                                            <GridColumn Field=@nameof(DespiecePlanificacion.SALDO) Format="N2" HeaderText="Saldo de la Orden" TextAlign="TextAlign.Left" Width="150px"></GridColumn>
                                            <GridColumn Field=@nameof(DespiecePlanificacion.CANT_PLANEADAS) Format="N2" HeaderText="Cantidad Ordenes planeadas" TextAlign="TextAlign.Left" Width="150px"></GridColumn>
                                            <GridColumn Field=@nameof(DespiecePlanificacion.SALDO_PLANEADAS) Format="N2" HeaderText="Saldo Ordenes planeadas" TextAlign="TextAlign.Left" Width="150px"></GridColumn>
                                            <GridColumn Field=@nameof(DespiecePlanificacion.CANT_TOTAL) Format="N2" HeaderText="Cantidad Emitidas + Planeadas" TextAlign="TextAlign.Left" Width="150px"></GridColumn>
                                            <GridColumn Field=@nameof(DespiecePlanificacion.SALDO_TOTAL) Format="N2" HeaderText="Saldo Emitidas + Planeadas" TextAlign="TextAlign.Left" Width="150px"></GridColumn>
                                        </GridColumns>
                                    </SfGrid>
                                </div>
                            </div>
                        </div>

                    </Content>
                </DialogTemplates>
            </SfDialog>


        </div>
    }
                                                    
    <SfSpinner Size="80" Type="SpinnerType.Bootstrap" @bind-Visible="@VisibleProperty">
        </SfSpinner>
}

@*DIALOG PARA ENTREGA*@
<SfDialog @ref="refDialogEntrega" Width="250px" IsModal="false" ShowCloseIcon="true" Visible="false" ZIndex="2000" MinHeight="700px">
    <DialogTemplates>
        <Header><p class="card-header badge badge-info text-white">ENTREGA: @ProdSeleccionada?.DES_PROD.Trim() @OrdenFabricacionSelected</p><hr /></Header>
        <Content>
            <div class="col-lg-12 control-section mt-2">
                <hr class="separator">
                <div>
                    <div class="form-row">
                        @if (OrdenFabricacionSelected > 0)
                        {
                            <StockOperaciones OperacionId="10" EsEntrega="true" OrdFab="@OrdenFabricacionSelected" />
                        }

                    </div>
                </div>
            </div>

        </Content>
    </DialogTemplates>
</SfDialog>


@*DIALOG PARA FORMULA*@
<SfDialog IsModal="true" ShowCloseIcon="true" @bind-Visible="@IsVisible2">
    <DialogTemplates>
        <Header><p>Formulas</p><hr /></Header>
        <Content>
            <SfGrid @ref="Grid3" DataSource="@listaFormula" ID="grdFormula" GridLines="GridLine.Both"
                    AllowResizing="true" Height="100px" Width="100%">
                <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                <GridEvents RowSelected="OnSelected" TValue="FormulaPlanificacion"></GridEvents>
                <GridColumns>
                    <GridColumn Field=@nameof(FormulaPlanificacion.DES_FORM) HeaderText="SELECCIONAR FORMULA"
                                TextAlign="TextAlign.Center" Width="110px"></GridColumn>
                </GridColumns>
            </SfGrid>
        </Content>
    </DialogTemplates>
</SfDialog>

@*DIALOG PARA ORDENES CERRADAS Y ANULADAS*@
<SfDialog @ref="refDialogCerradasAnuladas" Width="250px" ShowCloseIcon="true" Visible="false" IsModal="true" 
          CssClass="dialog" Target="@APPNAME" >
    <DialogTemplates>
        <Header><p>ORDENES CERRADAS Y ANULADAS</p><hr /></Header>
        <Content>
            @if (listaCerradasAnuladas is null)
            {
                <em>Cargando...</em>
            }
            <div class="row">
                <div class="col-12">
                    <ComboVistasGrilla AppName="@APPNAME_OF_CERRADAS_ANULADAS" StateApp="@state_of_cerradas_anuladas" 
                                       OnReiniciar="@(()=> OnReiniciarGrilla_grdOFCerradasAnuladas())" 
                                       OnVistaSelected="@(async(v)=> await OnVistaSeleccionada_grdOFCerradasAnuladas(v))"/>
                </div>
            </div>
            <div class="col-lg-12 control-section mt-4">
                <div class="content-wrapper">
                    <div class="row">
                        <SfGrid @ref="Grid4" DataSource="@listaCerradasAnuladas"
                                AllowFiltering="true" Width="100%" AllowGrouping="true" AllowSorting="true" EnableVirtualization="true"
                                ID="OFCerradasAnuladas" GridLines="GridLine.Both" AllowReordering="true" AllowResizing="true"
                                ShowColumnChooser="true"
                                Toolbar="@Toolbaritems" ShowColumnMenu="true" RowHeight="20" Height="250">
                            <GridEvents DataBound="(async ()=> await DataBoundHandlerOFCerradas())"
                                        OnToolbarClick="(async (a)=> await ClickHandlerOFCerradas(a))"
                                        OnActionBegin="(async (a)=> await ActionBeginOFCerradas(a))" TValue="Planificacion"></GridEvents>
                            <GridEditSettings AllowEditing="true" Mode="EditMode.Normal"></GridEditSettings>
                            <GridColumns>
                                <GridColumn Field=@nameof(Planificacion.UNIDEQUI) HeaderText="Unid Equi." TextAlign="TextAlign.Left" Width="90px" Format="N2"></GridColumn>
                                <GridColumn Field=@nameof(Planificacion.CG_ORDF) IsPrimaryKey ="true" HeaderText="Orden" TextAlign="TextAlign.Left" Width="150px"></GridColumn>
                                <GridColumn Field=@nameof(Planificacion.CLASE) HeaderText="Clase" TextAlign="TextAlign.Left" Width="150px"></GridColumn>
                                <GridColumn Field=@nameof(Planificacion.CG_R) HeaderText="Tipo" TextAlign="TextAlign.Left" Width="150px"></GridColumn>
                                <GridColumn Field=@nameof(Planificacion.CG_ESTADOCARGA) Format="N0" HeaderText="Estado" EditType="EditType.DropDownEdit" Width="200px">
                                    <Template>
                                        @{
                                            PlanificacionSeleccionadaOFCerrada = (context as Planificacion);
                                            var plani = PlanificacionSeleccionadaOFCerrada;
                                            <SfDropDownList TItem="EstadosCargaMaquina" 
                                                            @bind-Value="@(PlanificacionSeleccionadaOFCerrada.CG_ESTADOCARGA)"
                                                            TValue="int" ID="CG_ESTADO" DataSource="@EstadosCargaMaquinas">
                                                <DropDownListFieldSettings Text="ESTADO" Value="CG_ESTADO"></DropDownListFieldSettings>
                                                <DropDownListEvents TItem="EstadosCargaMaquina" TValue="int"
                                                                    ValueChange="@(async (a)=>await OnChangeEstadoCarga(a))"></DropDownListEvents>
                                            </SfDropDownList>
                                        }
                                    </Template>
                                </GridColumn>
                                <GridColumn Field=@nameof(Planificacion.PEDIDO) HeaderText="Pedido" TextAlign="TextAlign.Left" Width="150px"></GridColumn>
                                <GridColumn Field=@nameof(Planificacion.CG_PROD) HeaderText="Producto" TextAlign="TextAlign.Left" Width="150px"></GridColumn>
                                <GridColumn Field=@nameof(Planificacion.DES_PROD) HeaderText="Descripción de producto" TextAlign="TextAlign.Left" Width="150px"></GridColumn>
                                <GridColumn Field=@nameof(Planificacion.CANT) Format="N2" HeaderText="Cantidad" TextAlign="TextAlign.Left" Width="150px"></GridColumn>
                                <GridColumn Field=@nameof(Planificacion.CANTFAB) Format="N2" HeaderText="Cantidad fabricada" TextAlign="TextAlign.Left" Width="150px"></GridColumn>
                                <GridColumn Field=@nameof(Planificacion.UNID) HeaderText="Unidad" TextAlign="TextAlign.Left" Width="150px"></GridColumn>
                                <GridColumn Field=@nameof(Planificacion.UNIDSEG) HeaderText="Unidad comercial" TextAlign="TextAlign.Left" Width="150px"></GridColumn>
                                <GridColumn Field=@nameof(Planificacion.DIASFAB) Format="N2" HeaderText="Días de fabricación" TextAlign="TextAlign.Left" Width="150px"></GridColumn>
                                <GridColumn Field=@nameof(Planificacion.CG_CELDA) HeaderText="Celda" TextAlign="TextAlign.Left" Width="150px"></GridColumn>
                                <GridColumn Field=@nameof(Planificacion.CG_FORM) HeaderText="Fórmula" TextAlign="TextAlign.Left" Width="150px"></GridColumn>
                                <GridColumn Field=@nameof(Planificacion.FE_ENTREGA) HeaderText="Fecha de entrega" TextAlign="TextAlign.Left" Width="150px"></GridColumn>
                                <GridColumn Field=@nameof(Planificacion.FE_EMIT) HeaderText="Fecha de emisión" TextAlign="TextAlign.Left" Width="150px"></GridColumn>
                                <GridColumn Field=@nameof(Planificacion.FE_PLAN) HeaderText="Fecha planificada" TextAlign="TextAlign.Left" Width="150px"></GridColumn>
                                <GridColumn Field=@nameof(Planificacion.FE_FIRME) HeaderText="Fecha en firme" TextAlign="TextAlign.Left" Width="150px"></GridColumn>
                                <GridColumn Field=@nameof(Planificacion.FE_CURSO) HeaderText="Fecha en curso" TextAlign="TextAlign.Left" Width="150px"></GridColumn>
                                <GridColumn Field=@nameof(Planificacion.FE_ANUL) HeaderText="Fecha de anulación" TextAlign="TextAlign.Left" Width="150px"></GridColumn>
                                <GridColumn Field=@nameof(Planificacion.FE_CIERRE) HeaderText="Fecha de cierre" TextAlign="TextAlign.Left" Width="150px"></GridColumn>
                                <GridColumn Field=@nameof(Planificacion.MESAÑO_CIERRE) HeaderText="MES/AÑO de cierre" TextAlign="TextAlign.Left" Width="150px"></GridColumn>
                            </GridColumns>
                        </SfGrid>
                        
                    </div>
                    <div class="row">
                        @{

                            if (listaCerradasAnuladas.Count == CantidadMostrar)
                            {
                                <div class="col-sm-3">
                                    <button type="submit" class="btn btn-sm btn-info" @onclick="@(async()=>await AgregarValores())">
                                        <i class="fa fa-search-plus"></i>Ver más
                                    </button>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>

        </Content>
    </DialogTemplates>
    <DialogEvents OnClose="@Validation"></DialogEvents>
</SfDialog>

@*DIALOG PARA EMITIR ORDEN DE FABRICACION DE UN PRODUCTO*@
<SfDialog Width="500px" IsModal="true" ShowCloseIcon="true" @bind-Visible="@IsVisible4">
    <DialogTemplates>
        <Content>
            @*<div class="form-row">
                    <div class="form-group col-md-2">
                        <label style="color:blue">Planificada Inicio:</label>
                        <SfDateTimePicker Format="dd/MM/yyyy" TValue="DateTime" @bind-Value="@ordenFabricacion.FECHA_PREVISTA_FABRICACION"></SfDateTimePicker>
                    </div>
                    <div class="form-group col-md-2">
                        <label style="color:blue">Inicio real:</label>
                        <SfDateTimePicker TValue="DateTime" @bind-Value="@ordenFabricacion.FECHA_INICIO_REAL_FABRICACION"></SfDateTimePicker>
                    </div>
                    <div class="form-group col-md-2">
                        <label style="color:blue">Finalización real:</label>
                        <SfDateTimePicker TValue="DateTime" @bind-Value="@ordenFabricacion.FE_CIERRE"></SfDateTimePicker>
                    </div>
                    <div class="form-group col-md-2">
                        <label style="color:blue">Cantidad fabricada:</label>
                        <SfNumericTextBox TValue="decimal" Format="N0" @bind-Value="@ordenFabricacion.CANTFAB" ShowClearButton="true" Step="1"></SfNumericTextBox>
                    </div>
                    <div class="form-group col-md-2">
                        <label style="color:blue">Seleccione Acción:</label>
                        <SfDropDownList TValue="int" TItem="ModeloGenericoIntString" @bind-Value="@ordenFabricacion.CG_ESTADOCARGA" DataSource="@dbEstadoCarga">
                            <DropDownListFieldSettings Value="ID" Text="TEXTO"></DropDownListFieldSettings>
                        </SfDropDownList>
                    </div>
                    <div class="form-group col-md-2">
                        <label style="color:blue">Dependencia:</label>
                        <SfDropDownList TValue="int" TItem="ModeloGenericoIntString" @bind-Value="@ordenFabricacion.CG_ORDFORIG" DataSource="@dbOrdenesDependientes">
                            <DropDownListFieldSettings Value="ID" Text="TEXTO"></DropDownListFieldSettings>
                        </SfDropDownList>
                    </div>
                </div>*@
            <div class="form-row">
                <div class="row">
                    <div class="form-group col-md-6">
                        <SfTextBox Placeholder="Código de Producto" Input="OnInputCG_PROD" @bind-Value="CgString" FloatLabelType="@FloatLabelType.Auto"></SfTextBox>
                    </div>
                    <div class="form-group col-md-6">
                        <SfTextBox Placeholder="Descripción de Producto" Input="OnInputDES_PROD" @bind-Value="DesString" FloatLabelType="@FloatLabelType.Auto"></SfTextBox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 my-1">
                        <SfButton OnClick="@((e)=> BuscarProductoPrevision())" IconCss="fa fa-search" CssClass="btn btn-sm btn-outline-primary" IsPrimary="false">Buscar</SfButton>
                    </div>
                </div>
            </div>
        </Content>
    </DialogTemplates>
</SfDialog>

<SfDialog Width="1000px" IsModal="true" ShowCloseIcon="true" @bind-Visible="@IsVisible5">
    <DialogTemplates>
        <Content>
            <SfGrid @ref="Grid5" DataSource="@Busquedalist">
                <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                <GridEvents RowSelected="OnSelected2" TValue="Producto"></GridEvents>
                <GridColumns>
                    <GridColumn Field=@nameof(Producto.CG_PROD) HeaderText="Producto" TextAlign="TextAlign.Left" Width="110px"></GridColumn>
                    <GridColumn Field=@nameof(Producto.DES_PROD) HeaderText="Descripcion" TextAlign="TextAlign.Left" Width="150px"></GridColumn>
                </GridColumns>
            </SfGrid>
            @{
                if (Busquedalist.Count == CantidadMostrar)
                {
                    <div class="col-sm-3 my-1">
                        <button type="submit" class="btn btn-primary" @onclick="@AgregarValores2">Buscar más</button>
                    </div>
                }
            }
        </Content>
    </DialogTemplates>
</SfDialog>
<style>
    .form-group.col-md-6 {
        width: 200px;
    }

    label.e-float-text {
        position: relative;
        padding-left: 0;
        top: 10%;
    }

    .e-input-group.e-control-wrapper.customClass {
        color: black;
        background-color: lightblue;
    }

    .emitir {
        color: black !important;
        background-color: cornflowerblue !important;
    }

    .gris {
        background-color: lightgrey;
    }

    .e-checkbox-wrapper .e-frame.e-check, .e-css.e-checkbox-wrapper .e-frame.e-check {
        background-color: white;
        border-color: black;
        color: black;
    }

    .dotwhite {
        background-color: white;
        border-width: 2px;
        border-style: solid;
        border-color: gray;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        display: flex;
        margin: auto;
    }

    .dotlightgreen {
        background-color: lightgreen;
        border-width: 2px;
        border-style: solid;
        border-color: darkgreen;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        display: flex;
        margin: auto;
    }

    .dotyellow {
        background-color: yellow;
        border-width: 2px;
        border-style: solid;
        border-color: yellowgreen;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        display: flex;
        margin: auto;
    }

    .dotred {
        background-color: red;
        border-width: 2px;
        border-style: solid;
        border-color: darkred;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        display: flex;
        margin: auto;
    }

    .dotblue {
        background-color: blue;
        border-width: 2px;
        border-style: solid;
        border-color: darkblue;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        display: flex;
        margin: auto;
    }

    .botonGrilla {
        color: black;
        background-color: white;
        border-width: 2px;
        border-style: solid;
        border-color: black;
        height: 20px;
        width: 20px;
        display: flex;
        margin: auto;
    }

    .e-btn.e-primary, .e-css.e-btn.e-primary {
        background-color: lightgrey;
        border-color: lightgrey;
        color: blue;
    }

    .dialog {
        min-height: 635px;
    }
</style>