@inherits FormOperacionesBase

<SfToast ID="toast_defaul" @ref="ToastObj">
    <ToastPosition X="Center" Y="Top"></ToastPosition>
</SfToast>

<SfDialog @bind-Visible="Show" IsModal="true" Width="70%" Height="610px" ShowCloseIcon="true">
    <DialogEvents Closed="OnCerrarDialog"></DialogEvents>
    <DialogTemplates>
        <Header>
            @if (string.IsNullOrEmpty(Operaciones.Id.ToString()))
            {
                <p>Nueva Operacion</p>
            }
            else
            {
                <p>&nbsp;&nbsp;@Operaciones.Id&nbsp;&nbsp;-&nbsp;&nbsp;@Operaciones.CG_PROD</p>

            }
        </Header>
        <Content>
            <EditForm Model="Operaciones" OnValidSubmit="@GuardarProc">
                <DataAnnotationsValidator />
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-DatosGenerales" role="tab" aria-controls="pills-home" aria-selected="true">Datos Generales</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-DatosGenerales" role="tabpanel" aria-labelledby="pills-home-tab">
                        <div>
                            <div class="form-row">
                           
                                <div class="form-group col-md-2">
                                    <a>Descripcion:</a>
                                    <SfTextBox ID="Descripcion" @bind-Value="@(Operaciones.DESCAL)"></SfTextBox>
                                </div>
                                <div class="form-group col-md-2">
                                    <a>Cod.Producto:</a>
                                    <SfTextBox ID="Cod.Producto" @bind-Value="@(Operaciones.CG_PROD)" Placeholder="Cod.Producto"></SfTextBox>
                           
                                </div>
                                <div class="form-group col-md-1">
                                    <a>Vale:</a>
                                    <SfTextBox ID="Vale" @bind-Value="@(Operaciones.VALE)" Placeholder="Vale"></SfTextBox>
                                    
                                </div>
                                <div class="form-group col-md-2">
                                    <a>Despacho:</a>
                                    <SfTextBox ID="Despacho" @bind-Value="@(Operaciones.DESPACHO)"></SfTextBox>
                                 
                                </div>

                                <div class="form-group col-md-2">
                                    <a href="/Abms/unidades" target="_blank">Unid:</a>
                                    <Syncfusion.Blazor.DropDowns.SfComboBox TValue="string" CssClass="customClass" TItem="Unidades" 
                                    ID="Unid" @bind-Value="@(Operaciones.UNID)" Placeholder="Unid" DataSource="@unidades">
                                    <Syncfusion.Blazor.DropDowns.ComboBoxFieldSettings Value="Id" Text="Id"></Syncfusion.Blazor.DropDowns.ComboBoxFieldSettings>       
                                </Syncfusion.Blazor.DropDowns.SfComboBox>
                                  
                                </div>
                            </div>
                            <div class="form-row">

                                <div class="form-group col-md-3">
                                    <a>Unidad M:</a>
                                    <SfTextBox ID="Vale" @bind-Value="@(Operaciones.UNIDADM)" Placeholder="Unidad M"></SfTextBox>
                                   
                                </div>

                                <div class="form-group col-md-3">
                                    <a>Fecha Ensayo:</a>
                                    <Syncfusion.Blazor.Calendars.SfDateTimePicker ID="Vale" @bind-Value="@(Operaciones.FE_ENSAYO)" Placeholder="Fecha Ensayo"></Syncfusion.Blazor.Calendars.SfDateTimePicker>
                                   
                                </div>

                                <div class="form-group col-md-3">
                                    <a>Fecha Registrado:</a>
                                    <Syncfusion.Blazor.Calendars.SfDateTimePicker ID="FE_REG" @bind-Value="@(Operaciones.FE_REG)" Placeholder="FECHA REGISTRADO"></Syncfusion.Blazor.Calendars.SfDateTimePicker>
                                 
                                </div>
                            </div>

                            <div class="form-row">
                               
                                <div class="form-group col-md-2">
                                    <a>Orden:</a>
                                    <SfNumericTextBox ID="Orden" @bind-Value="@(Operaciones.CG_ORDEN)"></SfNumericTextBox>
                                 
                                </div>
                                <div class="form-group col-md-3">
                                    <a>Carcal:</a>
                                    <SfTextBox ID="Carcal" @bind-Value="@(Operaciones.CARCAL)" Placeholder="Carcal"></SfTextBox>
                                   
                                </div>
                                <div class="form-group col-md-2">
                                    <a>Cant.Medida:</a>
                                    <SfNumericTextBox ID="Orden" @bind-Value="@(Operaciones.CANTMEDIDA)" Placeholder="Cant.Medida"></SfNumericTextBox>
                                   
                                </div>
                                <div class="form-group col-md-2">
                                    <a>Medida:</a>
                                    <SfNumericTextBox ID="Medida" @bind-Value="@(Operaciones.MEDIDA)" Placeholder="Medida"></SfNumericTextBox>
                                   
                                </div>
                                <div class="form-group col-md-2">
                                    <a>Medida 1:</a>
                                    <SfNumericTextBox ID="Medida1" @bind-Value="@(Operaciones.MEDIDA1)" Placeholder="Medida 1"></SfNumericTextBox>
                                   
                                </div>
                            </div>



                            <div class="form-row">
                              
                                <div class="form-group col-md-2">
                                    <a>Tole1:</a>
                                    <SfNumericTextBox ID="Orden" @bind-Value="@(Operaciones.TOLE1)" Placeholder="Tole1"></SfNumericTextBox>
                             

                                </div>
                                <div class="form-group col-md-2">
                                    <a>Tole2:</a>
                                    <SfNumericTextBox ID="Tole2" @bind-Value="@(Operaciones.TOLE2)" Placeholder="Tole2"></SfNumericTextBox>
                                   

                                </div>
                               
                               
                            </div>

                          

                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <a>Observaciones:</a>
                                    <SfTextBox ID="Observ" @bind-Value="@(Operaciones.OBSERV)" Placeholder="Observaciones"></SfTextBox>
                                    
                                </div>
                                <div class="form-group col-md-3">
                                    <a>Aviso:</a>
                                    <SfTextBox ID="Orden" @bind-Value="@(Operaciones.AVISO)" Placeholder="Aviso"></SfTextBox>
                                    
                                </div>
                                <div class="form-group col-md-1">
                                    <a>Aprobado:</a>
                                    <SfTextBox ID="Aprobado" @bind-Value="@(Operaciones.APROBADO)" Placeholder="Aprobado"></SfTextBox>
                                 </div>
                            </div>


                            <div class="form-row">
                                <div class="form-group col-md-1">
                                    <a>Lote:</a>
                                    <SfTextBox ID="Lote" @bind-Value="@(Operaciones.LOTE)" Placeholder="Lote"></SfTextBox>
                                 
                                </div>
                                <div class="form-group col-md-2">
                                    <a>Cod.OrdenF:</a>
                                    <SfNumericTextBox ID="CG_ORDF" @bind-Value="@(Operaciones.CG_ORDF)" Placeholder="CG_ORDF"></SfNumericTextBox>
                                 
                                </div>
                              
                               
                            </div>

                          


                        </div>
                    </div>
                </div>
                <button id="sendButton" type="submit" class="e-control e-btn e-primary" data-ripple="true">Guardar</button>

            </EditForm>
        </Content>
    </DialogTemplates>
</SfDialog>