@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.DropDowns
@using SupplyChain.Client.Pages.ABM.ProcalMPP
@inherits FormProcalMPBase


<SfToast ID="toast_default" @ref="ToastObj">
    <ToastPosition X="center" Y="Top"></ToastPosition>
</SfToast>

<SfDialog @bind-Visible="Show" IsModal="true" Width="70%" Height="680px" ShowCloseIcon="true">
    <DialogEvents Closed="OnCerrarDialog"></DialogEvents>
    <DialogTemplates>
        <Header>
            @*cambio*@
            @if (string.IsNullOrEmpty(procalMP.Id.ToString()))
            {
                <p>Nueva Materia</p>
            }
            else
            {
                <p>&nbsp;&nbsp;@procalMP.Id &nbsp;&nbsp;-&nbsp;&nbsp;@procalMP.Id</p>
            }
        </Header>
        <Content>
            <EditForm Model="procalMP" OnValidSubmit="@GuardarProducto">
                <DataAnnotationsValidator/>
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                   <li class="nav-item">
                       <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-DatosGenerales" role="tab" aria-controls="pills-home" aria-selected="true">Datos Generales</a>
                   </li>
                </ul>
              <div class="tab-content" id="pills-tabContent">
                  <div class="tab-pane fade show active" id="pills-DatosGenerales" role="tabpanel" aria-labelledby="pills-home-tab">
                      <div>
                          <div class="form-row">
                              <div class="form-group col-md-6">
                                  <label class="e-float-text e-label-top">Codigo: </label>
                                    <SfNumericTextBox ID="Codigo" @bind-Value="@(procalMP.Id)" Enabled="@procalMP.ESNUEVO"></SfNumericTextBox>
                              </div>
                              <div class="form-group col-md-6">
                                  <label class="e-float-text e-float-top">Descal: </label>
                                  <SfTextBox ID="Descal" @bind-Value="@(procalMP.DESCAL)"></SfTextBox>
                              </div>
                                <div class="form-group col-md-6">
                                    <label class="e-float-text e-float-top">Carcal: </label>
                                    <SfTextBox ID="Carcal" @bind-Value="@(procalMP.CARCAL)"></SfTextBox>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="e-float-text e-float-top">UnidadM: </label>
                                    <SfTextBox ID="UnidadM" @bind-Value="@(procalMP.UNIDADM)"></SfTextBox>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="e-float-text e-float-top">CantMedida: </label>
                                    <SfNumericTextBox ID="CantMedida" @bind-Value="@(procalMP.CANTMEDIDA)"></SfNumericTextBox>>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="e-float-text e-float-top">Medida: </label>
                                    <SfNumericTextBox ID="Medida" @bind-Value="@(procalMP.MEDIDA)"></SfNumericTextBox>>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="e-float-text e-float-top">Tole1: </label>
                                    <SfNumericTextBox ID="Tole1" @bind-Value="@(procalMP.TOLE1)"></SfNumericTextBox>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="e-float-text e-float-top">Tole2: </label>
                                    <SfNumericTextBox ID="Tole2" @bind-Value="@(procalMP.TOLE2)"></SfNumericTextBox>
                                </div>
                                
                                <div class="form-group col-md-6">
                                    <label class="e-float-text e-float-top">Observ: </label>
                                    <SfTextBox ID="Observ" @bind-Value="@(procalMP.OBSERV)"></SfTextBox>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="e-float-text e-float-top">Descal2: </label>
                                    <SfTextBox ID="Descal2" @bind-Value="@(procalMP.DESCAL2)"></SfTextBox>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="e-float-text e-float-top">Carcal2: </label>
                                    <SfTextBox ID="Carcal2" @bind-Value="@(procalMP.CARCAL2)"></SfTextBox>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="e-float-text e-float-top">Observ2: </label>
                                    <SfTextBox ID="Observ2" @bind-Value="@(procalMP.OBSERV2)"></SfTextBox>
                                </div>
                                
                              <div class="form-group col-md-6">
                                    <label class="e-float-text e-float-top">Prioridad: </label>
                                    <SfNumericTextBox ID="Prioridad" @bind-Value="@(procalMP.PRIORIDAD)"></SfNumericTextBox>>
                                </div>

                          </div>
                      </div>
                  </div>
              </div>
              <button id="sendButton" type="submit" class="e-control e-btn e-primary" data-ripple="true">Guardar</button>
            </EditForm>
        </Content>
    </DialogTemplates>
</SfDialog>