@page "/Abms/procalMP"
@using EditMode = Syncfusion.Blazor.PivotView.EditMode
@using SelectionType = Syncfusion.Blazor.Grids.SelectionType
@using Syncfusion.Blazor.Buttons
@inherits ProcalMPPageBase

<div class="row">
    <div class="col-12">
        <ComboVistasGrilla AppName="@APPNAME" StateApp="@state"
                           OnReiniciar="async () => await OnReinciarGrilla()"
                           OnVistaSelected="asyncv => await OnVistaSeleccionada(v)"/>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <SfToast ID="toast_default" @ref="ToastObj">
            <ToastPosition X="Center" Y="Top"></ToastPosition>
        </SfToast>
        <SfGrid AllowReordering="true" ShowColumnChooser="true" ShowColumnMenu="true" AllowResizing="true"
                @ref="refGrid" DataSource="@procalMP" Width="100%" Toolbar="Toolbaritems"
                AllowExcelExport="true" AllowGrouping="true" ID="grdProcalMP" AllowFiltering="true"
                AllowSorting="true" AllowPaging="true" GridLines="GridLine.Both">

            <GridSelectionSettings CheckboxOnly="true" Type="SelectionType.Multiple"></GridSelectionSettings>
            <GridPageSettings PageSize="10" PageSizes="true"></GridPageSettings>
            <GridEvents OnActionBegin="OnActionBeginHandler" OnToolbarClick="OnToolBarHandler"
                        OnActionComplete="OnActionCompleteHandler" TValue="ProcalsMP">
            </GridEvents>
            <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>
            <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true"AllowEditOnDblClick="true"
                              ShowDeleteConfirmDialog="false" Mode="Syncfusion.Blazor.Grids.EditMode.Dialog">
            </GridEditSettings>
            <GridColumns>
                <GridColumn Type="ColumnType.CheckBox" Width="50"></GridColumn>
                <GridColumn Field="@nameof(ProcalsMP.Id)" HeaderText="Id" TextAlign="TextAlign.Left" IsPrimaryKey="true" Width="200px"></GridColumn>
                <GridColumn Field="@nameof(ProcalsMP.DESCAL)" HeaderText="DESCAL" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
                <GridColumn Field="@nameof(ProcalsMP.CARCAL)" HeaderText="CARCAL" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
                <GridColumn Field="@nameof(ProcalsMP.UNIDADM)" HeaderText="UNIDADM" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
                <GridColumn Field="@nameof(ProcalsMP.MEDIDA)" HeaderText="MEDIDA" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
                <GridColumn Field="@nameof(ProcalsMP.TOLE1)" HeaderText="TOLE1" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
                <GridColumn Field="@nameof(ProcalsMP.TOLE2)" HeaderText="TOLE2" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
                <GridColumn Field="@nameof(ProcalsMP.OBSERV)" HeaderText="OBSERV" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
                <GridColumn Field="@nameof(ProcalsMP.DESCAL2)" HeaderText="DESCAL2" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
                <GridColumn Field="@nameof(ProcalsMP.CARCAL2)" HeaderText="CARCAL2" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
                <GridColumn Field="@nameof(ProcalsMP.OBSERV2)" HeaderText="OBSERV2" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
                <GridColumn Field="@nameof(ProcalsMP.PRIORIDAD)" HeaderText="PRIORIDAD" TextAlign="TextAlign.Left" Width="200px"></GridColumn>
            </GridColumns>
            <SfSpinner @ref="refSpinner" Type="SpinnerType.Fabric" Size="50" @bind-Visible="@SpinnerVisible"></SfSpinner>
        </SfGrid>
    </div>
    @if (popupFormVisible)
    {
        <FormProcalMP procalMP="procalMPSeleccionada" Show="popupFormVisible" OnEliminar="@(asyncp => await Guardar(p))"
                      OnCerrar="OnCerrarDialog" OnGuardar="@(asyncp => await Guardar(p))">
        </FormProcalMP>
    }

</div>

<style>
        .form-group.col-md-6{
            width: 200px;
        }

        label.e-float-text{
            position: relative;
            padding-left: 0;
            top:10%;
        }

        .e-input-group.e-control-wrapper.customClass{
            color: black;
            background-color: lightblue
        }

    </style>

@code{
    public string edit = "Syncfusion.Blazor.PivotView.EditMode.Normal";
    public bool DblClick = true;
    public bool CommandColumnsClick;

    public EditMode SelectedMode = EditMode.Normal;

    public void OnRadioChange(ChangeArgs<string> args)
    {
        if (args.Value == "inline")
        {
            DblClick = true;
            CommandColumnsClick = false;
            SelectedMode = EditMode.Normal;
        }
        else if (args.Value == "batch")
        {
            DblClick = true;
            CommandColumnsClick = false;
            SelectedMode = EditMode.Batch;
        }
        else if (args.Value == "dialog")
        {
            DblClick = true;
            CommandColumnsClick = false;
            SelectedMode = EditMode.Dialog;
        }
        else
        {
            CommandColumnsClick = true;
        }
    }

}