@page "/estadistica-ventas"
@using Syncfusion.Blazor.PivotView
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Charts
@inject HttpClient Http


<div class="row form-inline">
    <div class="col-3">
        <label class="">Tipo Grafico:</label>
    </div>
    <div class="col-9">
        <SfDropDownList TValue="Syncfusion.Blazor.PivotView.ChartSeriesType" TItem="DropDownData" DataSource="@ChartTypes" @bind-Value="@ChartType">
            <DropDownListFieldSettings Text="Name" Value="Value"></DropDownListFieldSettings>
        </SfDropDownList>
    </div>

</div>

@if (DataEstad is null)
{
    <p><em>Cargando...</em></p>
}
else
{
    @*************FACTURACION*****************@
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <SfPivotView TValue="EstadVenta" Height="300" Width="100%" ShowFieldList="true" AllowDataCompression="true"
                                 EnableVirtualization="true">
                        <PivotViewDataSourceSettings DataSource="DataEstad" TValue="EstadVenta" ExpandAll=false EnableSorting=true>
                            <PivotViewColumns>
                                <PivotViewColumn Name="AnoFactura" Caption="Año Factura"></PivotViewColumn>
                            </PivotViewColumns>
                            @*<PivotViewFilters>
                                    <PivotViewFilter Name="AnoFactura" Caption="Año Factura" Type="Syncfusion.Blazor.PivotView.FilterType.Label" Condition="Operators.DoesNotEquals" Value1="FY 2015">

                                    </PivotViewFilter>
                                </PivotViewFilters>*@
                            @*<PivotViewFilterSettings>
                                    <PivotViewFilterSetting Name="AnoFactura" Type="Syncfusion.Blazor.PivotView.FilterType.Value"
                                                            Condition="Operators.DoesNotEquals" Value1="0.0"></PivotViewFilterSetting>
                                </PivotViewFilterSettings>*@
                            @*<PivotViewRows>
                                    <PivotViewRow Name="RazonSoc" Caption="Cliente" AllowDragAndDrop="true"></PivotViewRow>
                                </PivotViewRows>*@
                            <PivotViewValues>
                                <PivotViewValue Name="DolaresFactura" Caption="Dolares Factura"></PivotViewValue>
                            </PivotViewValues>
                            <PivotViewFormatSettings>
                                <PivotViewFormatSetting Name="DolaresPresupuesto" Format="C0" UseGrouping=true></PivotViewFormatSetting>
                                <PivotViewFormatSetting Name="DolaresPedido" Format="C0" UseGrouping=true></PivotViewFormatSetting>
                                <PivotViewFormatSetting Name="DolaresFactura" Format="C" UseGrouping=true></PivotViewFormatSetting>
                                <PivotViewFormatSetting Name="AnoFactura" Format="N0" UseGrouping=true></PivotViewFormatSetting>
                            </PivotViewFormatSettings>
                        </PivotViewDataSourceSettings>
                        <PivotViewGridSettings ColumnWidth="120"></PivotViewGridSettings>
                    </SfPivotView>
                </div>
            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <SfPivotView TValue="EstadVenta" Height="600" ShowFieldList="true"
                                 Width="100%">
                        <PivotViewDataSourceSettings DataSource="@DataEstad" TValue="EstadVenta" ExpandAll=true EnableSorting=true>
                            @*<PivotViewColumns>
                                    <PivotViewColumn Name="DES_CATEG" Caption="Categoria"></PivotViewColumn>
                                </PivotViewColumns>*@
                            <PivotViewRows>
                                <PivotViewRow Name="AnoFactura" Caption="Año" AllowDragAndDrop="true"></PivotViewRow>
                            </PivotViewRows>
                            @*<PivotViewFilterSettings>
                                    <PivotViewFilterSetting Name="AnoFactura" Type="Syncfusion.Blazor.PivotView.FilterType.Number"
                                                            Condition="Operators.DoesNotEquals" Value1="0.0"></PivotViewFilterSetting>
                                </PivotViewFilterSettings>*@
                            <PivotViewValues>
                                <PivotViewValue Name="DolaresFactura" Caption="Dolares Factura"></PivotViewValue>
                                @*<PivotViewValue Name="UnitPrice" Caption="Unit Price"></PivotViewValue>*@
                            </PivotViewValues>
                            <PivotViewDrilledMembers>
                                <PivotViewDrilledMember Name="AnoFactura" Items="@DrilledMembers"></PivotViewDrilledMember>
                            </PivotViewDrilledMembers>
                            <PivotViewFormatSettings>
                                @*<PivotViewFormatSetting Name="DolaresPresupuesto" Format="C0" UseGrouping=true></PivotViewFormatSetting>
                                    <PivotViewFormatSetting Name="DolaresPedido" Format="C0" UseGrouping=true></PivotViewFormatSetting>
                                    <PivotViewFormatSetting Name="DolaresFactura" Format="C" UseGrouping=true></PivotViewFormatSetting>*@
                                <PivotViewFormatSetting Name="AnoFactura" Format="N0" UseGrouping=true Type="FormatType.Number"></PivotViewFormatSetting>
                            </PivotViewFormatSettings>
                        </PivotViewDataSourceSettings>
                        <PivotViewGridSettings ColumnWidth="120"></PivotViewGridSettings>
                        <PivotViewDisplayOption View=View.Chart></PivotViewDisplayOption>
                        <PivotChartSettings Title="Ventas Anuales U$S" EnableAnimation="true">
                            <PivotChartSeries Type="@ChartType" EnableTooltip="true">

                                <PivotChartMarkerSettings>
                                    <PivotChartDataLabel Visible="true"></PivotChartDataLabel>
                                </PivotChartMarkerSettings>
                            </PivotChartSeries>
                            <PivotChartPrimaryXAxis Visible="true" Title="Años"></PivotChartPrimaryXAxis>
                            <PivotChartPrimaryYAxis>
                                <PivotChartPrimaryYAxisBorder Width="4" Type="PivotChartBorderType.CurlyBrace"></PivotChartPrimaryYAxisBorder>
                            </PivotChartPrimaryYAxis>

                        </PivotChartSettings>
                    </SfPivotView>
                </div>
            </div>

        </div>

        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <SfPivotView TValue="EstadVenta" Height="600" ShowFieldList="true"
                                 Width="100%">
                        <PivotViewDataSourceSettings DataSource="@DataEstad" TValue="EstadVenta" ExpandAll=true EnableSorting=true>
                            @*<PivotViewColumns>
                                    <PivotViewColumn Name="DES_CATEG" Caption="Categoria"></PivotViewColumn>
                                </PivotViewColumns>*@
                            <PivotViewRows>
                                <PivotViewRow Name="AnoPedido" Caption="Año" AllowDragAndDrop="true"></PivotViewRow>
                            </PivotViewRows>
                            @*<PivotViewFilterSettings>
                                    <PivotViewFilterSetting Name="AnoFactura" Type="Syncfusion.Blazor.PivotView.FilterType.Number"
                                                            Condition="Operators.DoesNotEquals" Value1="0.0"></PivotViewFilterSetting>
                                </PivotViewFilterSettings>*@
                            <PivotViewValues>
                                <PivotViewValue Name="UnidEqui" Caption="Unidades Equivalentes"></PivotViewValue>
                                @*<PivotViewValue Name="UnitPrice" Caption="Unit Price"></PivotViewValue>*@
                            </PivotViewValues>
                            <PivotViewDrilledMembers>
                                <PivotViewDrilledMember Name="AnoPedido" Items="@DrilledMembers"></PivotViewDrilledMember>
                            </PivotViewDrilledMembers>
                            <PivotViewFormatSettings>
                                @*<PivotViewFormatSetting Name="DolaresPresupuesto" Format="C0" UseGrouping=true></PivotViewFormatSetting>
                                    <PivotViewFormatSetting Name="DolaresPedido" Format="C0" UseGrouping=true></PivotViewFormatSetting>
                                    <PivotViewFormatSetting Name="DolaresFactura" Format="C" UseGrouping=true></PivotViewFormatSetting>*@
                                <PivotViewFormatSetting Name="Unidades Equivalentes" Format="C1" UseGrouping=true Type="FormatType.Number"></PivotViewFormatSetting>
                            </PivotViewFormatSettings>
                        </PivotViewDataSourceSettings>
                        <PivotViewGridSettings ColumnWidth="120"></PivotViewGridSettings>
                        <PivotViewDisplayOption View=View.Chart></PivotViewDisplayOption>
                        <PivotChartSettings Title="Unidades Equivalentes" EnableAnimation="true">
                            <PivotChartSeries Type="@ChartType" EnableTooltip="true">

                                <PivotChartMarkerSettings>
                                    <PivotChartDataLabel Visible="true"></PivotChartDataLabel>
                                </PivotChartMarkerSettings>
                            </PivotChartSeries>
                            <PivotChartPrimaryXAxis Visible="true" Title="Año"></PivotChartPrimaryXAxis>
                            <PivotChartPrimaryYAxis>
                                <PivotChartPrimaryYAxisBorder Width="2" Type="PivotChartBorderType.CurlyBrace"></PivotChartPrimaryYAxisBorder>
                            </PivotChartPrimaryYAxis>

                        </PivotChartSettings>
                    </SfPivotView>
                </div>
            </div>

        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <SfPivotView TValue="EstadVenta" Height="200" ShowFieldList="true"
                                 Width="100%" AllowDrillThrough="true">
                        <PivotViewDataSourceSettings DataSource="@DataEstad" TValue="EstadVenta" ExpandAll=true EnableSorting=true>
                            @*<PivotViewColumns>
                                    <PivotViewColumn Name="DES_CATEG" Caption="Categoria"></PivotViewColumn>
                                </PivotViewColumns>*@
                            <PivotViewRows>
                                <PivotViewRow Name="AnoPedido" Caption="Año" AllowDragAndDrop="true"></PivotViewRow>
                            </PivotViewRows>
                            @*<PivotViewFilterSettings>
                                    <PivotViewFilterSetting Name="AnoFactura" Type="Syncfusion.Blazor.PivotView.FilterType.Number"
                                                            Condition="Operators.DoesNotEquals" Value1="0.0"></PivotViewFilterSetting>
                                </PivotViewFilterSettings>*@
                            <PivotViewValues>
                                <PivotViewValue Name="DolaresPedido" Caption="Pedido Dolares"></PivotViewValue>
                                @*<PivotViewValue Name="UnitPrice" Caption="Unit Price"></PivotViewValue>*@
                            </PivotViewValues>
                            <PivotViewDrilledMembers>
                                <PivotViewDrilledMember Name="AnoPedido" Items="@DrilledMembers"></PivotViewDrilledMember>
                            </PivotViewDrilledMembers>
                            <PivotViewFormatSettings>
                                <PivotViewFormatSetting Name="DolaresPresupuesto" Format="C0" UseGrouping=true></PivotViewFormatSetting>
                                <PivotViewFormatSetting Name="DolaresPedido" Format="C2" UseGrouping=true></PivotViewFormatSetting>
                                <PivotViewFormatSetting Name="DolaresFactura" Format="C" UseGrouping=true></PivotViewFormatSetting>
                                <PivotViewFormatSetting Name="Unidades Equivalentes" Format="C1" UseGrouping=true Type="FormatType.Number"></PivotViewFormatSetting>
                            </PivotViewFormatSettings>
                        </PivotViewDataSourceSettings>
                        <PivotViewGridSettings ColumnWidth="120" GridLines="PivotTableGridLine.Both"></PivotViewGridSettings>
                        <PivotViewDisplayOption View=View.Chart></PivotViewDisplayOption>
                        <PivotChartSettings Title="Pedidos U$S"
                                            EnableAnimation="true" EnableSmartLabels="true">
                            <PivotChartSeries Type="@ChartType" EnableTooltip="true">
                                <PivotChartLegendSettings Position=PivotChartLegendPosition.Right Background="rgb(230, 236, 239)" Padding=20 Alignment="PivotChartAlignment.Center">
                                </PivotChartLegendSettings>
                                <PivotChartMarkerSettings>
                                    <PivotChartDataLabel Visible="true"></PivotChartDataLabel>
                                </PivotChartMarkerSettings>
                            </PivotChartSeries>
                            <PivotChartPrimaryXAxis Visible="true" Title="Año"></PivotChartPrimaryXAxis>
                            <PivotChartPrimaryYAxis>
                                <PivotChartPrimaryYAxisBorder Width="2" Type="PivotChartBorderType.CurlyBrace"></PivotChartPrimaryYAxisBorder>
                            </PivotChartPrimaryYAxis>

                        </PivotChartSettings>
                    </SfPivotView>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <SfChart Title="Ventas Anuales U$S">
                <ChartBorder Color="black" Width="1"></ChartBorder>
                <ChartPrimaryXAxis Title="Año" Format="N0" Interval="0" LabelPlacement="LabelPlacement.OnTicks"
                                   ValueType="Syncfusion.Blazor.Charts.ValueType.Double">
                    <ChartAxisLabelStyle Size="12px" Color="black" FontWeight="bold" />
                </ChartPrimaryXAxis>
                <ChartPrimaryYAxis Title="Ventas en Dolares" LabelFormat="U$S{value}" ValueType="Syncfusion.Blazor.Charts.ValueType.Logarithmic">
                    <ChartAxisLabelStyle Size="12px" Color="black" FontWeight="bold" />
                </ChartPrimaryYAxis>
                <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
                <ChartSeriesCollection>
                    <ChartSeries DataSource="@DataEstad" XName="AnoFactura" YName="DolaresFactura"
                                 Type="Syncfusion.Blazor.Charts.ChartSeriesType.Column">
                        <ChartMarker>
                            <ChartDataLabel Visible="true"></ChartDataLabel>
                        </ChartMarker>
                    </ChartSeries>
                </ChartSeriesCollection>
            </SfChart>
        </div>

    </div>
    
}




<style>
    .e-pivotview {
        min-height: 200px;
    }

    html, body {
        height: 100%;
    }
</style>
@code{
    [CascadingParameter] public MainLayout MainLayout { get; set; }
    public List<EstadVenta> DataEstad { get; set; }
    public Syncfusion.Blazor.PivotView.ChartSeriesType ChartType = Syncfusion.Blazor.PivotView.ChartSeriesType.Column;
    public string[] DrilledMembers = new string[] { "2016.0" };
    public PivotChartTooltipSettings pivotChartTooltipSettings = new PivotChartTooltipSettings()
    {
        Enable = true,
        Border = new PivotChartTooltipBorder() { Width = 1 },
        EnableMarker = true
    };
    public PivotChartLegendSettings pivotChartLegendSettings = new PivotChartLegendSettings()
    {
        Position = PivotChartLegendPosition.Top,
        Visible = true
    };
    List<DropDownData> ChartTypes = new List<DropDownData>() {
        new DropDownData { Name = "Column", Value = Syncfusion.Blazor.PivotView.ChartSeriesType.Column },
        new DropDownData { Name = "Bar", Value = Syncfusion.Blazor.PivotView.ChartSeriesType.Bar },
        new DropDownData { Name = "Line", Value = Syncfusion.Blazor.PivotView.ChartSeriesType.Line },
        new DropDownData { Name = "Spline", Value = Syncfusion.Blazor.PivotView.ChartSeriesType.Spline },
        new DropDownData { Name = "Area", Value =Syncfusion.Blazor.PivotView.ChartSeriesType.Area },
        new DropDownData { Name = "SplineArea", Value = Syncfusion.Blazor.PivotView.ChartSeriesType.SplineArea },
        new DropDownData { Name = "StepLine", Value =Syncfusion.Blazor.PivotView. ChartSeriesType.StepLine },
        new DropDownData { Name = "StepArea", Value = Syncfusion.Blazor.PivotView.ChartSeriesType.StepArea },
        new DropDownData { Name = "StackingColumn", Value = Syncfusion.Blazor.PivotView.ChartSeriesType.StackingColumn },
        new DropDownData { Name = "StackingBar", Value = Syncfusion.Blazor.PivotView.ChartSeriesType.StackingBar },
        new DropDownData { Name = "StackingArea", Value = Syncfusion.Blazor.PivotView.ChartSeriesType.StackingArea },
        new DropDownData { Name = "StackingColumn100", Value = Syncfusion.Blazor.PivotView.ChartSeriesType.StackingColumn100 },
        new DropDownData { Name = "StackingBar100", Value = Syncfusion.Blazor.PivotView.ChartSeriesType.StackingBar100 },
        new DropDownData { Name = "StackingArea100", Value = Syncfusion.Blazor.PivotView.ChartSeriesType.StackingArea100 },
        new DropDownData { Name = "Scatter", Value = Syncfusion.Blazor.PivotView.ChartSeriesType.Scatter },
        new DropDownData { Name = "Bubble", Value = Syncfusion.Blazor.PivotView.ChartSeriesType.Bubble },
        new DropDownData { Name = "Polar", Value = Syncfusion.Blazor.PivotView.ChartSeriesType.Polar },
        new DropDownData { Name = "Radar", Value = Syncfusion.Blazor.PivotView.ChartSeriesType.Radar },
        new DropDownData { Name = "Pareto", Value = Syncfusion.Blazor.PivotView.ChartSeriesType.Pareto },
        new DropDownData { Name = "Pie", Value = Syncfusion.Blazor.PivotView.ChartSeriesType.Pie },
        new DropDownData { Name = "Doughnut", Value = Syncfusion.Blazor.PivotView.ChartSeriesType.Doughnut },
        new DropDownData { Name = "Funnel", Value = Syncfusion.Blazor.PivotView.ChartSeriesType.Funnel },
        new DropDownData { Name = "Pyramid", Value = Syncfusion.Blazor.PivotView.ChartSeriesType.Pyramid }
    };
    public class DropDownData
    {
        public string Name { get; set; }
        public Syncfusion.Blazor.PivotView.ChartSeriesType Value { get; set; }
    }

    protected override async Task OnInitializedAsync()
    {
        MainLayout.Titulo = "Estadistica de Ventas";
        this.DataEstad = await Http.GetFromJsonAsync<List<EstadVenta>>("api/EstadisticaVentas/GetFacturacionAsync");
        //await InvokeAsync(StateHasChanged);
    }
}