@page "/ventas/estadisticas"
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Charts
@inject HttpClient Http


<SfSpinner @ref="refSpinner" Label="Cargando..." Type="SpinnerType.Fabric" @bind-Visible="@VisibleSpinner"></SfSpinner>

@*<div class="row form-inline">
    <div class="col-3">
        <label class="">Tipo Grafico:</label>
    </div>
    <div class="col-9">
        <SfDropDownList TValue="Syncfusion.Blazor.PivotView.ChartSeriesType" TItem="DropDownData" DataSource="@ChartTypes" @bind-Value="@ChartType">
            <DropDownListFieldSettings Text="Name" Value="Value"></DropDownListFieldSettings>
        </SfDropDownList>
    </div>

</div>*@



    <div class="row">
        <div class="col-12">
            @*<SfChart Title="Tiempos Productivos" Width="100%">
                <ChartArea><ChartAreaBorder Width="0"></ChartAreaBorder></ChartArea>
                <ChartPrimaryXAxis EdgeLabelPlacement="EdgeLabelPlacement.Shift">
                </ChartPrimaryXAxis>

                <ChartPrimaryYAxis LabelFormat="{value} hs">
                    <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
                    <ChartAxisLabelStyle Color="transparent"></ChartAxisLabelStyle>
                    <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
                    <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
                </ChartPrimaryYAxis>
                <ChartSeriesCollection>
                    <ChartSeries DataSource="@DataVentasAnualesDolares" XName="XSerieName" YName="YSerieName" Name="CM1"
                                 Type="Syncfusion.Blazor.Charts.ChartSeriesType.Column">
                        <ChartMarker>
                            <ChartDataLabel Visible="false" Position="Syncfusion.Blazor.Charts.LabelPosition.Top">
                                <ChartDataLabelFont FontWeight="600" Color="#ffffff"></ChartDataLabelFont>
                            </ChartDataLabel>
                        </ChartMarker>
                    </ChartSeries>
                </ChartSeriesCollection>
                <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
            </SfChart>*@
        </div>

    </div>

    <div class="control-section">
        <SfChart Title="England vs West Indies">
            <ChartArea><ChartAreaBorder Width="0"></ChartAreaBorder></ChartArea>
            <ChartPrimaryXAxis Title="Death Overs" Minimum="2018" Maximum="@AñoMax" Interval="1">
                <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
            </ChartPrimaryXAxis>
            <ChartPrimaryYAxis>
                <ChartAxisLabelStyle Color="transparent"></ChartAxisLabelStyle>
                <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
                <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
                <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
            </ChartPrimaryYAxis>
            <ChartTooltipSettings Enable="true" Format="${point.x}th Over : <b>${point.y} Runs</b>"></ChartTooltipSettings>
            <ChartSeriesCollection>
                <ChartSeries DataSource="@ChartPoints" XName="Over" YName="ENG_Score" Opacity="1" 
                             Name="England" Fill="#1e90ff" Width="2" Type="ChartSeriesType.Column">
                    <ChartMarker>
                        <ChartDataLabel Visible="true" Position="Syncfusion.Blazor.Charts.LabelPosition.Top">
                            <ChartDataLabelFont FontWeight="600"></ChartDataLabelFont>
                        </ChartDataLabel>
                    </ChartMarker>
                </ChartSeries>
                <ChartSeries DataSource="@ChartPoints" XName="Over" YName="WI_Score" Opacity="1" 
                             Name="West Indies" Fill="#b22222" Width="2" Type="ChartSeriesType.Column">
                    <ChartMarker>
                        <ChartDataLabel Visible="true" Position="Syncfusion.Blazor.Charts.LabelPosition.Top">
                            <ChartDataLabelFont FontWeight="600"></ChartDataLabelFont>
                        </ChartDataLabel>
                    </ChartMarker>
                </ChartSeries>
            </ChartSeriesCollection>
            <ChartLegendSettings Visible="true"></ChartLegendSettings>
        </SfChart>
    </div>

<style>
    .e-pivotview {
        min-height: 200px;
    }

    html, body {
        height: 100%;
    }
</style>
@code{
    [CascadingParameter] public MainLayout MainLayout { get; set; }
    protected SfSpinner refSpinner;
    protected bool VisibleSpinner = false;
    public List<EstadVenta> DataEstad { get; set; }
    protected int AñoMax = 2021;
    public Syncfusion.Blazor.PivotView.ChartSeriesType ChartType = Syncfusion.Blazor.PivotView.ChartSeriesType.Column;
    public string[] DrilledMembers = new string[] { "2016.0" };

    List<DropDownData> ChartTypes = new List<DropDownData>() {
        new DropDownData { Name = "Column", Value = Syncfusion.Blazor.PivotView.ChartSeriesType.Column },
        new DropDownData { Name = "Bar", Value = Syncfusion.Blazor.PivotView.ChartSeriesType.Bar },
        new DropDownData { Name = "Line", Value = Syncfusion.Blazor.PivotView.ChartSeriesType.Line },
        new DropDownData { Name = "Spline", Value = Syncfusion.Blazor.PivotView.ChartSeriesType.Spline },
        new DropDownData { Name = "Area", Value =Syncfusion.Blazor.PivotView.ChartSeriesType.Area },
        new DropDownData { Name = "SplineArea", Value = Syncfusion.Blazor.PivotView.ChartSeriesType.SplineArea },
        new DropDownData { Name = "StepLine", Value =Syncfusion.Blazor.PivotView. ChartSeriesType.StepLine },
        new DropDownData { Name = "StepArea", Value = Syncfusion.Blazor.PivotView.ChartSeriesType.StepArea },
        new DropDownData { Name = "StackingColumn", Value = Syncfusion.Blazor.PivotView.ChartSeriesType.StackingColumn },
        new DropDownData { Name = "StackingBar", Value = Syncfusion.Blazor.PivotView.ChartSeriesType.StackingBar },
        new DropDownData { Name = "StackingArea", Value = Syncfusion.Blazor.PivotView.ChartSeriesType.StackingArea },
        new DropDownData { Name = "StackingColumn100", Value = Syncfusion.Blazor.PivotView.ChartSeriesType.StackingColumn100 },
        new DropDownData { Name = "StackingBar100", Value = Syncfusion.Blazor.PivotView.ChartSeriesType.StackingBar100 },
        new DropDownData { Name = "StackingArea100", Value = Syncfusion.Blazor.PivotView.ChartSeriesType.StackingArea100 },
        new DropDownData { Name = "Scatter", Value = Syncfusion.Blazor.PivotView.ChartSeriesType.Scatter },
        new DropDownData { Name = "Bubble", Value = Syncfusion.Blazor.PivotView.ChartSeriesType.Bubble },
        new DropDownData { Name = "Polar", Value = Syncfusion.Blazor.PivotView.ChartSeriesType.Polar },
        new DropDownData { Name = "Radar", Value = Syncfusion.Blazor.PivotView.ChartSeriesType.Radar },
        new DropDownData { Name = "Pareto", Value = Syncfusion.Blazor.PivotView.ChartSeriesType.Pareto },
        new DropDownData { Name = "Pie", Value = Syncfusion.Blazor.PivotView.ChartSeriesType.Pie },
        new DropDownData { Name = "Doughnut", Value = Syncfusion.Blazor.PivotView.ChartSeriesType.Doughnut },
        new DropDownData { Name = "Funnel", Value = Syncfusion.Blazor.PivotView.ChartSeriesType.Funnel },
        new DropDownData { Name = "Pyramid", Value = Syncfusion.Blazor.PivotView.ChartSeriesType.Pyramid }
    };
    public class DropDownData
    {
        public string Name { get; set; }
        public Syncfusion.Blazor.PivotView.ChartSeriesType Value { get; set; }
    }

    public class ChartData
    {
        public double XSerieName { get; set; }
        public double YSerieName { get; set; }
    }

    public List<ChartData> DataVentasAnualesDolares { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        MainLayout.Titulo = "Estadistica de Ventas";
        VisibleSpinner = true;
        this.DataEstad = await Http.GetFromJsonAsync<List<EstadVenta>>("api/EstadisticaVentas/GetFacturacionAsync");

        ChartPoints = DataEstad.Where(d=> d.AnoFactura != null).GroupBy(g=> new { g.AnoFactura })
        .Select(d=> new DoubleData()
        {
            Over = Convert.ToDouble(d.Key.AnoFactura),
            ENG_Score = Convert.ToDouble(d.Sum(p => p.DolaresFactura)),
            WI_Score = 20
        }).ToList();

        AñoMax = Convert.ToInt32(ChartPoints.Max(c=> c.Over));

        VisibleSpinner = false;
    }

    public List<DoubleData> ChartPoints { get; set; } = new List<DoubleData>()
    //{
    //    new DoubleData { Over = 16, ENG_Score = 2, WI_Score = 7},
    //    new DoubleData { Over = 17, ENG_Score = 14, WI_Score = 7 },
    //    new DoubleData { Over = 18, ENG_Score = 7, WI_Score = 11 },
    //    new DoubleData { Over = 19, ENG_Score = 7, WI_Score = 8 },
    //    new DoubleData { Over = 20, ENG_Score = 10, WI_Score = 24 }
    //}
    ;

    public class DoubleData
    {
        public double Over { get; set; }
        public double ENG_Score { get; set; }
        public double WI_Score { get; set; }
    }
}