@page "/tiempos-productivos"
@inherits TiemposProductivosBase
@using Syncfusion.Blazor.PivotView
@using Syncfusion.Blazor.Charts
@using Syncfusion.Blazor.DropDowns


<SfSpinner @ref="SpinnerObj" Label="Cargando..." Type="SpinnerType.Bootstrap" Size="100" @bind-Visible="@SpinnerVisible"/>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <SfChart Title="Tiempos Productivos" Width="100%">
                    <ChartArea><ChartAreaBorder Width="0"></ChartAreaBorder></ChartArea>
                    <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"
                                       EdgeLabelPlacement="EdgeLabelPlacement.Shift">
                    </ChartPrimaryXAxis>

                    <ChartPrimaryYAxis LabelFormat="{value} hs">
                        <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
                        <ChartAxisLabelStyle Color="transparent"></ChartAxisLabelStyle>
                        <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
                        <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
                    </ChartPrimaryYAxis>
                    <ChartSeriesCollection>
                        <ChartSeries DataSource="@vProdMaquinaCM1" XName="XSerieName" YName="YSerieName" Name="CM1" 
                                     Type="Syncfusion.Blazor.Charts.ChartSeriesType.Column">
                            <ChartMarker>
                                <ChartDataLabel Visible="false" Position="Syncfusion.Blazor.Charts.LabelPosition.Top">
                                    <ChartDataLabelFont FontWeight="600" Color="#ffffff"></ChartDataLabelFont>
                                </ChartDataLabel>
                            </ChartMarker>
                        </ChartSeries>
                        <ChartSeries DataSource="@vProdMaquinaCN1" XName="XSerieName" YName="YSerieName" Name="CN1"
                                     Type="Syncfusion.Blazor.Charts.ChartSeriesType.Column">
                            <ChartMarker>
                                <ChartDataLabel Visible="false" Position="Syncfusion.Blazor.Charts.LabelPosition.Top">
                                    <ChartDataLabelFont FontWeight="600" Color="#ffffff"></ChartDataLabelFont>
                                </ChartDataLabel>
                            </ChartMarker>
                        </ChartSeries>
                        <ChartSeries DataSource="@vProdMaquinaCN2" XName="XSerieName" YName="YSerieName" Name="CN2"
                                     Type="Syncfusion.Blazor.Charts.ChartSeriesType.Column">
                            <ChartMarker>
                                <ChartDataLabel Visible="false" Position="Syncfusion.Blazor.Charts.LabelPosition.Top">
                                    <ChartDataLabelFont FontWeight="600" Color="#ffffff"></ChartDataLabelFont>
                                </ChartDataLabel>
                            </ChartMarker>
                        </ChartSeries>
                        <ChartSeries DataSource="@vProdMaquinaCN3" XName="XSerieName" YName="YSerieName" Name="CN3"
                                     Type="Syncfusion.Blazor.Charts.ChartSeriesType.Column">
                            <ChartMarker>
                                <ChartDataLabel Visible="false" Position="Syncfusion.Blazor.Charts.LabelPosition.Top">
                                    <ChartDataLabelFont FontWeight="600" Color="#ffffff"></ChartDataLabelFont>
                                </ChartDataLabel>
                            </ChartMarker>
                        </ChartSeries>
                        <ChartSeries DataSource="@vProdMaquinaCN4" XName="XSerieName" YName="YSerieName" Name="CN4"
                                     Type="Syncfusion.Blazor.Charts.ChartSeriesType.Column">
                            <ChartMarker>
                                <ChartDataLabel Visible="false" Position="Syncfusion.Blazor.Charts.LabelPosition.Top">
                                    <ChartDataLabelFont FontWeight="600" Color="#ffffff"></ChartDataLabelFont>
                                </ChartDataLabel>
                            </ChartMarker>
                        </ChartSeries>
                    </ChartSeriesCollection>
                    <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
                    <ChartEvents OnPointClick="@(async (a)=> await MostrarDetalle(a))"></ChartEvents>
                </SfChart>
            </div>


        </div>

    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <SfChart @ref="refChartDetalle" Title="@TituloGraficoMensual" Width="100%">
                    <ChartArea><ChartAreaBorder Width="0"></ChartAreaBorder></ChartArea>
                    <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"
                                       EdgeLabelPlacement="EdgeLabelPlacement.Shift">
                    </ChartPrimaryXAxis>

                    <ChartPrimaryYAxis LabelFormat="{value} hs">
                        <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
                        <ChartAxisLabelStyle Color="transparent"></ChartAxisLabelStyle>
                        <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
                        <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
                    </ChartPrimaryYAxis>
                    <ChartSeriesCollection>
                        <ChartSeries DataSource="@vProdMaquinaMes" XName="XSerieName" YName="YSerieName" Name="Prod"
                                     Type="Syncfusion.Blazor.Charts.ChartSeriesType.Column">
                            <ChartMarker>
                                <ChartDataLabel Visible="false" Position="Syncfusion.Blazor.Charts.LabelPosition.Top">
                                    <ChartDataLabelFont FontWeight="600" Color="#ffffff"></ChartDataLabelFont>
                                </ChartDataLabel>
                            </ChartMarker>
                        </ChartSeries>
                        <ChartSeries DataSource="@vProdMaquinaMesSetup" XName="XSerieName" YName="YSerieName" Name="Setup"
                                     Type="Syncfusion.Blazor.Charts.ChartSeriesType.Column">
                            <ChartMarker>
                                <ChartDataLabel Visible="false" Position="Syncfusion.Blazor.Charts.LabelPosition.Top">
                                    <ChartDataLabelFont FontWeight="600" Color="#ffffff"></ChartDataLabelFont>
                                </ChartDataLabel>
                            </ChartMarker>
                        </ChartSeries>
                    </ChartSeriesCollection>
                    <ChartTooltipSettings Enable="true">
                    </ChartTooltipSettings>
                </SfChart>
            </div>


        </div>

    </div>

    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <SfGrid DataSource="@vProdMaquinaOriginal" GridLines="GridLine.Both" AllowResizing="true"
                        AllowPaging="true" Height="450"> </SfGrid>
            </div>
        </div>

    </div>

</div>

    
