@page "/ventas/listado"

@using Syncfusion.Blazor.Kanban
@using System.Diagnostics
@attribute [Authorize(Roles = "Administrador, Produccion")]

@inherits SupplyChain.Pages.Modelos.EstadoPageBase


<SfSpinner @ref="spinnerRef" @bind-Visible="@SpinnerVisible" Label="Cargando..." Size="100" Type="SpinnerType.Fabric" />

<SfToast ID="toast_default" @ref="ToastObj">
    <ToastPosition X="Center" Y="Top"></ToastPosition>
</SfToast>

<div class="row">
    <SfTextBox ID="search_text" Placeholder="Buscar por Numero de Pedidos o Nombre de Cliente..."
               ShowClearButton="true" Value="@SearchValue"
               OnChange="OnCardSearch" OnFocus="@(() => { PriorityValue = "None";  StatusValue = "None"; })">

    </SfTextBox>

    <div class="col-12">
        <SfKanban @ref="@refKanban" ID="logisticaKanban" TValue="PedCli" KeyField="ESTADO_LOGISTICA" DataSource="@Pedclis"
                  AllowDragAndDrop="true" Height="440px" Query="@CardQuery">
            <KanbanEvents TValue="PedCli"
                          ActionBegin="@((a)=> OnActionBegin(a))"
                          ActionComplete="@((a)=> OnActionComplete(a))"
                          DragStart="@onDragStart" DragStop="@onDragStop"></KanbanEvents>
            <KanbanColumns>
                @foreach (Syncfusion.Blazor.Kanban.ColumnModel item in columnData)
                {
                    <KanbanColumn HeaderText="@item.HeaderText" KeyField="@item.KeyField" AllowToggle="true">
                        <Template>
                            @{
                                KanbanColumn column = (KanbanColumn)context;
                                <div class="header-template-wrap">
                                    <div class="header-icon e-icons @column.KeyField[0]"></div>
                                    <div class="header-text"><strong>@column.HeaderText</strong></div>
                                </div>
                            }
                        </Template>
                    </KanbanColumn>
                }
            </KanbanColumns>
            <div style="z-index:0;">
                <KanbanCardSettings HeaderField="@(nameof(PedCli.PEDIDO))" ContentField="@(nameof(PedCli.DES_ART))"
                                    GrabberField="@(nameof(PedCli.COLOR))">
                </KanbanCardSettings>
                <KanbanDialogSettings IsModal="true">
                    <Template>
                        @{
                            var data = (PedCli)context;

                            @*<div class="form-row">
                                    <div class="form-group col-3">
                                        <label class="col-form-label">Cliente:</label>
                                        <SfTextBox Value="@data.CG_CLI.ToString()" Readonly="true"></SfTextBox>
                                    </div>
                                    <div class="form-group col-12">
                                        <SfTextBox Value="@data.DES_CLI.Trim()" Readonly="true"></SfTextBox>
                                    </div>
                                </div>*@
                            <div class="form-row">

                                <div class="form-group col-md-3">
                                    <label class="col-form-label">Fecha Pedido:</label>
                                    <SfTextBox Value="@data.FE_PED.ToString("dd/MM/yyyy")" Readonly="true"></SfTextBox>
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="col-form-label">Pedido:</label>
                                    <SfTextBox Value="@data.PEDIDO.ToString()" Readonly="true"></SfTextBox>
                                </div>
                                @*<div class="form-group col-md-6">
                                        <label class="col-form-label">Cantidad:</label>
                                        <SfTextBox Value="@data.CANTPED.ToString()" Readonly="true"></SfTextBox>
                                    </div>*@
                                <div class="form-group col-md-3">
                                    <label class="col-form-label">Estado:</label>
                                    <SfTextBox Value="@data.ESTADO_LOGISTICA" Readonly="true"></SfTextBox>
                                </div>
                                @*<div class="form-group col-md-9">
                                        <label class="col-form-label">Producto:</label>
                                        <SfTextBox CssClass="e-field" Value="@data.DES_ART.Trim()" Readonly="true"
                                                   Multiline="true" />
                                    </div>*@
                                <div class="form-group col-md-2 mt-5">
                                    <Syncfusion.Blazor.Buttons.SfCheckBox Label="Confirmado"
                                                                          @bind-Checked="@data.CONFIRMADO" />
                                </div>
                            </div>

                        }
                    </Template>
                </KanbanDialogSettings>
                <KanbanSwimlaneSettings KeyField="@nameof(PedCli.DES_CLI)" TextField="@nameof(PedCli.DES_CLI)"
                                        AllowDragAndDrop=true ShowItemCount=true EnableFrozenRows="true"
                                        SortDirection=Syncfusion.Blazor.Kanban.SortDirection.Ascending ShowEmptyRow=true>
                </KanbanSwimlaneSettings>
            </div>
        </SfKanban>

    </div>
</div>

@code {
    private List<Syncfusion.Blazor.Kanban.ColumnModel> columnData = new List<Syncfusion.Blazor.Kanban.ColumnModel>() {
        new Syncfusion.Blazor.Kanban.ColumnModel(){ HeaderText= "Remitir", KeyField= new List<string>() { "Remitir" } },
        new Syncfusion.Blazor.Kanban.ColumnModel(){ HeaderText= "Inspección", KeyField= new List<string>() { "Inspeccion" } },
        new Syncfusion.Blazor.Kanban.ColumnModel(){ HeaderText= "Ret.Planta", KeyField= new List<string>() { "Ret.Planta" } },
        new Syncfusion.Blazor.Kanban.ColumnModel(){ HeaderText= "Ret.CABA", KeyField= new List<string>() { "Ret.CABA" } },
        new Syncfusion.Blazor.Kanban.ColumnModel(){ HeaderText= "Entregar", KeyField= new List<string>() { "Entregar" } },
        new Syncfusion.Blazor.Kanban.ColumnModel(){ HeaderText= "Facturar", KeyField= new List<string>() { "Facturar" } },
        new Syncfusion.Blazor.Kanban.ColumnModel(){ HeaderText= "Pago", KeyField= new List<string>() { "Pago" } }
    };
}


<style>
    .e-dialog-delete {
        display: none;
    }
</style> 