@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Calendars
@using SupplyChain.Client.Pages.CDM
@inherits FormCargaValoresBase

<SfToast ID="toast_default" @ref="ToastObj">
    <ToastPosition X="Center" Y="Top"></ToastPosition>
</SfToast>

<SfDialog @bind-Visible="Show" IsModal="true" Width="70%" Height="500px" ShowCloseIcon="true">
    <DialogEvents Closed="OnCerrarDialog"></DialogEvents>
    <DialogTemplates>
        <Header>
            @if(string.IsNullOrEmpty(procesos.Id.ToString()))
            {
                <p>Nuevo Proceso</p>
            }
            else
            {
                <p>&nbsp;&nbsp;@procesos.Id &nbsp;&nbsp;-&nbsp;&nbsp;@procesos.Id</p>

            }
        </Header>
        <Content>
            <SfToolbar ID="toolbar-form-solicitud" CssClass="">
                <ToolbarItems>
                    <ToolbarItem>

                    </ToolbarItem>
                </ToolbarItems>
            </SfToolbar>

            <EditForm id="formProcal" Model="@procalsMP" OnValidSubmit="@GuardarProcal">
                <DataAnnotationsValidator/>
                <ObjectGraphDataAnnotationsValidator/>
                <ValidationSummary/> 

                            <div class="row">
                                <div class="col-12">
                                    <SfToast ID="toast_default" @ref="ToastObj">
                                        <ToastPosition X="Center" Y="Top"></ToastPosition>
                                    </SfToast>

                                    <SfGrid AllowReordering ="true" AllowResizing="true" AllowTextWrap="false" Height="120px"
                                        @ref="refGridItems" DataSource="@procalsMP.Items" Width="100%" ID="grdItemsPresup"
                                        AllowSorting="true" AllowPaging="false" GridLines="GridLine.Both">
                                      <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Single"></GridSelectionSettings>
                           
                                      <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" ShowConfirmDialog="false"
                                              Mode="@Syncfusion.Blazor.Grids.EditMode.Batch">
                               <GridEvents TValue="CargaValoresDetalles" OnBatchDelete="BatchDeleteHandler"
                                            CellSaved="CellSavedHandler" OnBatchAdd="BatchAddHandler" OnBatchSave="BatchSaveHandler"></GridEvents>
                            </GridEditSettings>


                                      <GridColumns>
                                          @*CARGAR COLUMNAS DE PROCESOS*@
                                          <GridColumn Field=@nameof(ProcalsMP.Id) IsPrimaryKey="true" HeaderText="VALE" Width="4"></GridColumn>
                                          @*<GridColumn Field=@nameof(Procesos.VALE) HeaderText="VALE" Width="130px" AllowEditing="false"></GridColumn>*@
                                          <GridColumn Field=@nameof(Procesos.DESPACHO) HeaderText="DESPACHO" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(Procesos.FE_REG) HeaderText="FE_REG" Width="130px" AllowEditing="true"></GridColumn>
                                            <GridColumn Field=@nameof(Procesos.CG_PROD) HeaderText="CG_PROD" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(ProcalsMP.DESCAL) HeaderText="DESCAL" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(ProcalsMP.CARCAL) HeaderText="CARCAL" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(ProcalsMP.UNIDADM) HeaderText="UNIDADM" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(Procesos.CANTMEDIDA) HeaderText="CANTMEDIDA" Width="130px" AllowEditing="true"></GridColumn>
                                            <GridColumn Field=@nameof(Procesos.OBSERV) HeaderText="OBSERV" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(ProcalsMP.AVISO) HeaderText="AVISO" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(Procesos.OBSERV1) HeaderText="OBSERV1" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(Procesos.CG_PROVE) HeaderText="CG_PROVE" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(Procesos.REMITO) HeaderText="REMITO" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(Procesos.VALORNC) HeaderText="VALORNC" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(Procesos.LEYENDANC) HeaderText="LEYENDANC" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(Procesos.O_COMPRA) HeaderText="O_COMPRA" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(Procesos.UNID) HeaderText="UNID" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(Procesos.EVENTO) HeaderText="EVENTO" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(Procesos.ENSAYOS) HeaderText="ENSAYOS" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(Procesos.FECHA) HeaderText="FECHA" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(Procesos.APROBADO) HeaderText="APROBADO" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(Procesos.USUARIO) HeaderText="USUARIO" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(Procesos.REGISTRO) HeaderText="REGISTRO" Width="130px" AllowEditing="false"></GridColumn>
                                      </GridColumns>
                                      <SfSpinner @ref="refSpinner" Type="SpinnerType.Fabric" Size="50" @bind-Visible="@SpinnerVisible"></SfSpinner>
                                  </SfGrid>
                                </div>
                    @if (popupFormVisible)
                    {
                        <FormCargaValores procesos="ProcalSeleccionada" Show="popupFormVisible" OnEliminar="@(async(p)=>await Guardar(p))"
                                      OnCerrar="OnCerrarDialog" OnGuardar="@(async(p)=> await Guardar(p))"></FormCargaValores>
                    }
                </div>
                <button id="sendButton" type="submit" class="e-control e-btn e-primary" data-ripple="true">Guardar</button>

            </EditForm>
            @*<EditForm id="formProcesos" Model="@procesos" OnValidSubmit="@GuardarProceso">
                <DataAnnotationsValidator/>
                <ObjectGraphDataAnnotationsValidator/>
                <ValidationSummary/> 

                            <div class="row">
                                <div class="col-12">
                                    <SfToast ID="toast_default" @ref="ToastObj">
                                        <ToastPosition X="Center" Y="Top"></ToastPosition>
                                    </SfToast>

                                    <SfGrid AllowReordering ="true" AllowResizing="true" AllowTextWrap="false" Height="120px"
                                        @ref="refGridItems" DataSource="@procesos.Items" Width="100%" ID="grdItemsPresup"
                                        AllowSorting="true" AllowPaging="false" GridLines="GridLine.Both">
                                      <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Single"></GridSelectionSettings>
                           
                                      <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" ShowConfirmDialog="false"
                                              Mode="@Syncfusion.Blazor.Grids.EditMode.Batch">
                               <GridEvents TValue="CargaValoresDetalles" OnBatchDelete="BatchDeleteHandler"
                                            CellSaved="CellSavedHandler" OnBatchAdd="BatchAddHandler" OnBatchSave="BatchSaveHandler"></GridEvents>
                            </GridEditSettings>


                                      <GridColumns>
                                          @*CARGAR COLUMNAS DE PROCESOS
                                          <GridColumn Field=@nameof(ProcalsMP.Id) IsPrimaryKey="true" HeaderText="VALE" Width="4"></GridColumn>
                                          @*<GridColumn Field=@nameof(Procesos.VALE) HeaderText="VALE" Width="130px" AllowEditing="false"></GridColumn>
                                          <GridColumn Field=@nameof(Procesos.DESPACHO) HeaderText="DESPACHO" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(Procesos.FE_REG) HeaderText="FE_REG" Width="130px" AllowEditing="true"></GridColumn>
                                            <GridColumn Field=@nameof(Procesos.CG_PROD) HeaderText="CG_PROD" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(ProcalsMP.DESCAL) HeaderText="DESCAL" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(ProcalsMP.CARCAL) HeaderText="CARCAL" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(ProcalsMP.UNIDADM) HeaderText="UNIDADM" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(Procesos.CANTMEDIDA) HeaderText="CANTMEDIDA" Width="130px" AllowEditing="true"></GridColumn>
                                            <GridColumn Field=@nameof(Procesos.OBSERV) HeaderText="OBSERV" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(ProcalsMP.AVISO) HeaderText="AVISO" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(Procesos.OBSERV1) HeaderText="OBSERV1" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(Procesos.CG_PROVE) HeaderText="CG_PROVE" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(Procesos.REMITO) HeaderText="REMITO" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(Procesos.VALORNC) HeaderText="VALORNC" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(Procesos.LEYENDANC) HeaderText="LEYENDANC" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(Procesos.O_COMPRA) HeaderText="O_COMPRA" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(Procesos.UNID) HeaderText="UNID" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(Procesos.EVENTO) HeaderText="EVENTO" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(Procesos.ENSAYOS) HeaderText="ENSAYOS" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(Procesos.FECHA) HeaderText="FECHA" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(Procesos.APROBADO) HeaderText="APROBADO" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(Procesos.USUARIO) HeaderText="USUARIO" Width="130px" AllowEditing="false"></GridColumn>
                                            <GridColumn Field=@nameof(Procesos.REGISTRO) HeaderText="REGISTRO" Width="130px" AllowEditing="false"></GridColumn>
                                      </GridColumns>
                                      <SfSpinner @ref="refSpinner" Type="SpinnerType.Fabric" Size="50" @bind-Visible="@SpinnerVisible"></SfSpinner>
                                  </SfGrid>
                                </div>
                    @if (popupFormVisible)
                    {
                        <FormCargaValores procesos="ProcalSeleccionada" Show="popupFormVisible" OnEliminar="@(async(p)=>await Guardar(p))"
                                      OnCerrar="OnCerrarDialog" OnGuardar="@(async(p)=> await Guardar(p))"></FormCargaValores>
                    }
                </div>
                <button id="sendButton" type="submit" class="e-control e-btn e-primary" data-ripple="true">Guardar</button>
            </EditForm>*@
        </Content>
    </DialogTemplates>
</SfDialog>
