@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Calendars
@using SupplyChain.Client.Pages.CDM
@inherits FormCargaValoresBase

<SfToast ID="toast_default" @ref="ToastObj">
    <ToastPosition X="Center" Y="Top"></ToastPosition>
</SfToast>

<SfDialog @bind-Visible="Show" IsModal="true" Width="70%" Height="500px" ShowCloseIcon="true">
    <DialogEvents Closed="OnCerrarDialog" Opened="openedDialog"></DialogEvents>
    <DialogTemplates>
        <Header>
            @if (segGrilla.Count == 0)
            {
                <p>No hay elementos asociados</p>
            }
            else
            {
                <p>@controlCalidadPendientes.CG_ART  -  @controlCalidadPendientes.DES_ART</p>
                <p>Vale: @controlCalidadPendientes.VALE  -  Despacho: @controlCalidadPendientes.DESPACHO</p>
            }
        </Header>
        <Content>
            @if (segGrilla.Count != 0)
            {
                <EditForm id="formControlCalidad" Model="controlCalidadPendientes" OnValidSubmit="@(async()=> await Guardar())">
                    <ObjectGraphDataAnnotationsValidator />
                    <ValidationSummary />
                    <SfGrid AllowReordering="true" AllowResizing="true" AllowTextWrap="false"
                        @ref="refGridItems" DataSource="@segGrilla" Width="100%" ID="grdItemsProcalMP"
                        AllowSorting="true" AllowPaging="false" GridLines="GridLine.Both">
                        <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Single"></GridSelectionSettings>
                        <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" ShowConfirmDialog="false"
                                      Mode="@Syncfusion.Blazor.Grids.EditMode.Batch">
                            <GridEvents TValue="vControlCalidadPendientes" OnBatchDelete="BatchDeleteHandler"
                                    QueryCellInfo="(async(args)=> await QueryCellInfoHandler(args))"
                                    CellSaved="CellSavedHandler" OnBatchAdd="BatchAddHandler" OnBatchSave="BatchSaveHandler"></GridEvents>
                        </GridEditSettings>
                        <GridColumns>
                            <GridColumn Type="ColumnType.CheckBox" Width="50"></GridColumn>
                            <GridColumn Field=@nameof(vControlCalidadPendientes.CARCAL) HeaderText="Propiedad" AllowEditing="false" TextAlign="TextAlign.Center" Width="265px"></GridColumn>
                            <GridColumn Field=@nameof(vControlCalidadPendientes.UNIDADM) HeaderText="Elementos" AllowEditing="false" TextAlign="TextAlign.Center" Width="165px"></GridColumn>
                            <GridColumn Field=@nameof(vControlCalidadPendientes.VALOR) HeaderText="Ingresar valor" TextAlign="TextAlign.Center" Width="150px"></GridColumn>
                            <GridColumn Field=@nameof(vControlCalidadPendientes.TOLE1) HeaderText="Tol. 1" AllowEditing="false" TextAlign="TextAlign.Center" Width="55px"></GridColumn>
                            <GridColumn Field=@nameof(vControlCalidadPendientes.TOLE2) HeaderText="Tol. 2" AllowEditing="false" TextAlign="TextAlign.Center" Width="55px"></GridColumn>
                            <GridColumn Field=@nameof(vControlCalidadPendientes.AVISO) HeaderText="Aviso" AllowEditing="false" TextAlign="TextAlign.Left" Width="400px"></GridColumn>
                        </GridColumns>
                    </SfGrid>
                </EditForm>
            }
        </Content>
        <FooterTemplate>
            @if (segGrilla.Count != 0)
            {
                <SfButton IsPrimary="true" Content="Guardar" IconCss="fa fa-save" HtmlAttributes="@HtmlAttributeSubmit" Disabled="@BotonGuardarDisabled"></SfButton>
                <SfButton Content="Cancel" HtmlAttributes="@HtmlAttribute" OnClick="@(async()=>await Hide())" IconCss="fa fa-window-close-o"></SfButton>
            }
        </FooterTemplate>
    </DialogTemplates>
</SfDialog>


<style>
    .e-grid .e-gridcontent .e-rowcell.rojas {
        background-color: orangered;
    }
    .e-grid .e-gridcontent .e-rowcell.verdes {
        background-color: lightgreen;
    }
    .e-grid .e-gridcontent .e-rowcell.blancas {
        background-color: white;
    }
</style>